@import '../../constants';

.ecos-journal {
  position: relative;
  height: 100%;
  background: $color-gray;
}

.ecos-journal__body {
  position: absolute;
  left: 26px;
  top: 15px;
  bottom: 0;
  right: 26px;
}

.ecos-journal__body_with-menu {
  right: 273px;
  margin-right: 15px;
}

.ecos-journal__visibility-menu-btn {
  width: 100%;
  text-align: right;
  height: 26px;
}

.ecos-journal__caption {
  width: 100%;
  margin-bottom: 13px;
}

/*Tools*/
.ecos-journal__tools {
  width: 100%;
  margin-bottom: 37px;
}

.ecos-journal__tools-well {
  display: flex;
  padding: 20px;
}

.ecos-journal__tools-well_step {
  margin-right: 10px;
}

/*Settings*/
.ecos-journal__settings {
  padding: 21px 0;
  margin-bottom: 12px;
}

.ecos-journal__settings-bar {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.ecos-journal__settings-bar_right {
  position: absolute;
  right: 0;
  top: 0;
}

/*Grid*/
.ecos-journal__grid {
  width: 100%;
  margin-bottom: 5px;
}

.ecos-journal__footer {
  width: 100%;
}

.ecos-journal_right {
  margin-left: auto;
}

.journal__toolbar {
  padding: 20px 21px;
  margin-bottom: 37px;
}

.journal__create-button {
  margin-right: 10px;
}

.journal__export {
  float: right;
}

.journal__grid-toolbar {
  margin-bottom: 12px;
}

.journal__toggle-settings {
  margin-right: 10px;
}

.journal__button-list {
  float: right;
}

.journal__button-pie {
  float: right;
}

.journal__grid-settings {
  padding: 20px 0;
  margin-bottom: 12px;
}
