@import '../../styles/constants';

.ecos-journal {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;

  &__small-btn_new {
    width: auto !important;
    height: auto !important;

    .ecos-btn__text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &_scroll {
    overflow-y: auto;
  }

  &_mobile {
    display: block;
  }

  &__not-grouping .ecos-journal-dashlet__grid-wrapper {
    padding-bottom: 5px;
  }

  &__view {
    &-svg-btn {
      &_blue_selected rect,
      &_blue_hover:hover rect {
        fill: $color-blue-light;
      }
    }

    &-tabs {
      &:empty {
        display: none;
      }

      &-btn {
        &:not(:last-child) {
          margin-right: 15px;
        }

        &_disabled {
          pointer-events: none;
          cursor: default;
        }
      }
    }
  }

  &__pagination {
    &_mobile {
      margin-right: 0;

      .ecos-pagination__arrow {
        &,
        &:active,
        &:hover {
          background: $color-gray-5;
          color: $color-white;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          padding: 0;
        }

        &:disabled {
          background: $color-gray-6;
        }
      }
    }
  }
}

.ecos-btn_mi_new {
  font-size: 14px;
}

.ecos-journal__body {
  flex: auto;
  padding: 19px 26px 0 24px;
  height: 100%;

  &:not(&_mobile) {
    min-width: 510px;
  }

  &_with-menu {
    float: left;
    width: calc(100% - 273px);
    padding-right: 15px;
  }

  &_with-tabs {
    padding-top: 17px;
    max-width: 100%;
  }

  &_with-preview {
    min-width: 780px;
  }

  &-top {
    &:empty {
      display: none;
    }
  }
}

.ecos-journal__menu {
  $root: &;
  width: 0;
  transition: width ease-in-out 0.3s;

  &_with-tabs {
    padding: 15px 0;
  }

  &_expanded {
    z-index: 1;
    width: 273px;
    height: 100%;

    &-document-library {
      width: 400px;
    }
  }

  &_close {
    width: 0;
    max-width: 0;
  }

  &_mobile {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    padding: 0;
    width: 0;
    height: 100% !important;

    &#{$root}_expanded {
      width: 100%;

      &-document-library {
        width: 100%;
      }
    }
  }
}

/*Settings*/
.ecos-journal__settings {
  padding-bottom: 21px;
}

.ecos-journal__settings-footer {
  display: flex;
  padding: 21px 21px 0;

  &-space {
    flex: auto;
  }

  & :not(:last-child) {
    margin-right: 10px;
  }
}

/*Grid*/
.ecos-journal__footer {
  width: 100%;
  padding: 10px 0;

  &:empty {
    display: none;
  }
}

/*Dialog*/
.journal__dialog-panel {
  padding: 15px;
  background: $color-gray-4;
  border-radius: $border-radius-large;
}

.journal__dialog-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 15px;
  }
}

.journal__config-json-viewer {
  overflow: auto;
  max-height: 85vh;
}

/* New Journal (2.0) */
.ecos-journal_new {
  .ecos-group-actions__dropdown-item {
    li {
      font-size: 15px !important;
      font-weight: 600 !important;
    }
  }

  .ecos-dropdown__menu {
    max-width: $max-width-dropdown-menu !important;
    min-width: $min-width-dropdown-menu !important;

    ul {
      max-width: $max-width-dropdown-menu !important;
      min-width: $min-width-dropdown-menu !important;
    }
  }

  .ecos-grid .ecos-grid__tr_selected:nth-child(odd) {
    background-color: $color-yellow4;

    .ecos-grid__checkbox {
      background: $color-yellow4;
    }
  }

  .ecos-journal-view__doc-lib {
    margin: 10px 10px 0 10px !important;
    padding: 12px !important;
    border: 1px solid $color-gray-4;
    border-radius: 12px;
    background-color: $color-gray-25;
  }

  .ecos-grid__row_new {
    &:last-child {
      border-bottom: 1px solid $color-gray-27;

      .ecos-grid__checkbox:last-child {
        border-bottom: 1px solid $color-gray-27;
      }
    }

    &.ecos-grid__tr_selected:nth-child(odd) {
      .ecos-inline-tools-actions {
        height: calc(100% - 2px);
        margin-top: 1px;
        background: linear-gradient(to right, rgba($color-yellow4, 0), $color-yellow4 15%) !important;
      }
    }

    &:not(.ecos-grid__tr_selected):nth-child(odd) {
      background-color: $color-gray-27;

      .ecos-grid__checkbox {
        background-color: $color-gray-27;
      }

      .ecos-inline-tools-actions {
        height: calc(100% - 2px);
        margin-top: 1px;
        background: linear-gradient(to right, rgba($color-gray-27, 0), $color-gray-27 15%);
      }
    }

    &:hover td,
    &.has-inline-tools td {
      border: none !important;
      box-shadow:
        0 -1px 0 0 $color-brown-2 inset,
        0 1px 0 0 $color-brown-2 inset;
    }

    &:hover .ecos-grid__checkbox_block {
      height: 26px;
    }

    .ecos-inline-tools-btn {
      margin-right: 7px;
      i {
        font-size: 14px;
      }
    }
    .ecos-inline-tools-actions {
      margin-top: 1px !important;
      height: calc(100% - 2px) !important;
      background: linear-gradient(to right, rgba($color-white, 0), $color-white 15%);
    }
  }

  .ecos-pagination__text {
    font-size: 12px !important;
  }

  .ecos-journal__settings-bar-search:not(.search_collapsed) {
    width: 141px;
  }

  .ecos-dropdown-outer_disabled button:disabled {
    outline: none;
    background-color: $color-gray-25;
    color: $color-gray-6;

    > i {
      color: $color-gray-6;
    }
  }
  .ecos-dropdown-outer.ecos-btn {
    &:hover,
    &:focus {
      background-color: $text-color-gray !important;
    }
  }

  .ecos-journal__view-tabs-btn:not(:last-child) {
    margin-right: 7px;
  }

  .ecos-journal__menu {
    padding: 10px 0;
  }

  .ecos-th {
    $th: &;
    padding: 0 15px;

    &__divider {
      padding: 6px 0 6px 8px;
    }

    &__actions i {
      font-size: 14px;
    }

    &__content {
      padding: 0 7px;

      &-text {
        font-size: 11px;
      }
    }

    &_filtered {
      padding: 5px 15px;

      .ecos-th__content {
        border-radius: $border-radius-standard;
        padding: 6px 7px;
        min-width: 50px;
        width: 100%;
      }
    }
  }

  .ecos-grid {
    &__border {
      display: block;
    }

    &__table_footer__value {
      flex-wrap: nowrap !important;
      flex-direction: column;

      .ecos-grid__table_footer__item,
      .ecos-popper__text {
        font-size: 10px;
        font-weight: 600;
        line-height: 16px;
      }

      .ecos-grid__table_footer__item.text {
        width: calc(100% - 10px);
        text-align: center;
        @extend %ellipsis;
      }

      .ecos-popper > i {
        font-size: 12px;
        margin-top: 0;
      }
    }

    &_freeze.ecos-grid_selectable {
      thead > tr > th,
      tbody > tr > td {
        &:first-child {
          max-width: 27px;
        }
      }
    }
    &__tr_selected .ecos-inline-tools-actions {
      height: calc(100% - 4px);
      margin-top: 2px;
      background: linear-gradient(to right, rgba($color-yellow-1, 0), $color-yellow-1 15%) !important;
    }

    &__head-shadow::after {
      content: none;
    }

    &__head-shadow {
      height: auto;
    }

    &__td {
      margin-top: 0;
      margin-left: 10px;
      vertical-align: middle;

      .ecos-popper > i {
        font-size: 14px;
      }

      &_editable {
        padding: 2px 6px;
        min-height: 23px;
      }
    }

    &__header {
      border-top: 2px solid $color-gray-27;
    }

    &__left-shadow {
      display: none !important;
    }

    &__table {
      margin-bottom: 0 !important;

      &_grouping {
        margin-bottom: 15px !important;
      }
    }

    &__table.table th {
      height: auto;
      padding: 0;
    }

    &__table.table td {
      height: 28px;
      border: none;
    }

    &_freeze.ecos-grid_selectable tbody > tr > td:first-child {
      width: 31px;
    }

    &__checkbox {
      padding-left: 6px;
      padding-right: 1px;

      &-divider {
        height: 54px;
      }

      &_block {
        border-right: 2px solid $color-gray-4;

        .ecos-checkbox > i {
          margin-top: 4px;
        }
      }

      > i {
        display: none;
      }
    }
  }

  .ecos-checkbox > i {
    font-size: 14px;
  }

  .ecos-popper__text {
    font-size: 11px;
    font-weight: 600;
    width: calc(100% + 1px);
  }

  .ecos-journal__body {
    padding: 0;
  }

  &__not-mobile {
    .ecos-pagination {
      &__arrow {
        &.ecos-btn {
          width: auto;
          height: auto;
        }

        &:first-of-type {
          margin-left: 9px;
        }
      }
    }
  }

  .ecos-pagination__arrow + .ecos-pagination__arrow {
    margin-left: 3px;
  }
}

@media (max-width: 1370px) {
  .ecos-journal {
    &__body {
      padding: 15px 15px 0;
    }
  }
}
