@import '../../../constants';

.process-model-card {
  margin: 5px;
  background-color: transparent;
  border-radius: $border-radius-large;
  overflow: hidden;
  height: 230px;
  border: 2px dashed #d8dee1;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.process-model-card__button {
  font-weight: $font-weight-bold !important;
  font-size: $font-size-standard !important;
  border-radius: $border-radius-large !important;
  width: 80%;
}

.bpmn-category_level1 {
  .process-model-card {
    border-color: #e4d9b8;
  }
  .process-model-card__button {
    border-color: #e4d9b8;
    background-color: #e4d9b8;

    &:hover {
      border-color: #bdb497;
      background-color: #bdb497;
    }
  }
}

.bpmn-category_level2 {
  .process-model-card {
    border-color: #bdb497;
  }
  .process-model-card__button {
    border-color: #bdb497;
    background-color: #bdb497;

    &:hover {
      border-color: #ada690;
      background-color: #ada690;
    }
  }
}
