.message {
  padding: 12px 0;
  position: relative;
  text-align: center;
}

.close {
  position: absolute;
  right: 15px;
  cursor: pointer;
  display: none;
}

.after {
  font-family: FontAwesome;
  content: '\f00d';
  color: #666;
}
