.message {
  padding: 12px 0;
  position: relative;
  text-align: center;
}

.close {
  position: absolute;
  right: 15px;
  cursor: pointer;
  line-height: 1em;
  top: calc(50% - 1em / 2);

  &:after {
    font-family: FontAwesome;
    content: '\f00d';
    color: #666;
  }
}
