@import '../../constants.scss';

.ecos-select-widgets {
  $root: &;

  display: flex;
  height: 136px;
  width: 100%;
  background: $color-white;
  border: 2px solid $color-gray-6;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 6px;

  &__scrollbar {
  }
}
