@import '../../../../styles/constants';

.wrapper {
  display: flex;
  line-height: 40px;
  margin-left: 10px;
}

.item {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  color: $color-gray-5;

  &:before {
    font-size: $font-size-extra-large;
    color: inherit;
  }

  &:hover {
    color: $text-color-gray;
  }
}

.itemActive {
  color: $color-blue-light;

  &:hover {
    color: $color-blue-light;
  }
}
