@import '../../../styles/constants';

.process-model-card {
  margin: 5px;
  background-color: transparent;
  border-radius: $border-radius-large;
  overflow: hidden;
  height: 230px;
  border: 2px dashed $color-gray-1;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.process-model-card__button {
  border-radius: $border-radius-large !important;
  width: 80%;
}

.category {
  &:not(:first-child) {
    margin-top: 10px;
  }
}

.category_level_root {
  background: transparent;
  border-color: transparent;

  .isParentHasNotModels {
    margin-top: 5px;
  }
}

.category_level_odd {
  .process-model-card {
    border-color: $color-brown-2;
  }
  .process-model-card__button {
    background-color: $color-brown-3;

    &:hover {
      background-color: $color-brown-2;
    }

    &:active {
      background-color: $color-brown-2;
    }
  }
}

.category_level_even {
  .process-model-card {
    border-color: $color-brown-1;
  }
  .process-model-card__button {
    background-color: $color-brown-3;

    &:hover {
      background-color: $color-brown-2;
    }

    &:active {
      background-color: $color-brown-1;
    }
  }
}
