@import '../../../styles/constants';

.ecos-docs {
  display: flex;

  &__types {
    display: flex;
    flex-direction: column;
    flex-basis: 314px;
    flex-shrink: 0;
    padding: 16px 19px 16px 11px;

    &-item {
      $item: &;

      display: flex;
      justify-content: space-between;
      cursor: pointer;
      height: 40px;
      padding: 9px 12px 9px 15px;

      &-label {
        @extend %ellipsis;

        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 23px;
        color: $text-color-dark;
        padding-right: 12px;
      }

      &-status {
        display: flex;
        align-items: center;
        height: 22px;
        border-radius: 100px;
        color: $color-white;
        padding: 0 11px;
        background: $color-green1;

        &-counter {
          margin-left: 6px;
        }

        &-icon {
          font-size: 14px;
        }

        &_files {
          &-need {
            background: $color-red-1;
          }

          &-can {
            background: $color-gray-6;
          }
        }
      }

      &_selected {
        background: $color-blue-light;
        border-radius: 6px;

        #{$item} {
          &-label {
            color: $color-white;
          }

          &-status {
            border: 2px solid $color-white;
            line-height: 18px;
            padding: 0 9px;
          }
        }
      }
    }
  }

  &__table {
    display: flex;
    flex-shrink: 2;
    width: 100%;
    height: auto !important;
  }
}
