@import '../../../styles/constants';

.ecos-docs {
  display: flex;

  &__column {
    position: relative;
    display: flex;

    &_table {
      flex-shrink: 2;
      width: 100%;
    }

    &_types {
      width: 314px;
      min-width: 150px;
      max-width: 100%;
      flex-shrink: 0;
    }

    &:not(:last-child) {
      margin-right: 10px;
      border-right: 2px $color-gray-4 solid;
    }
  }

  &__types {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 16px 19px 16px 11px;

    &-item {
      $item: &;

      display: flex;
      justify-content: space-between;
      cursor: pointer;
      height: 40px;
      padding: 9px 12px 9px 15px;

      &-label {
        @extend %ellipsis;

        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 23px;
        color: $text-color-dark;
        padding-right: 12px;
      }

      &-status {
        display: flex;
        align-items: center;
        height: 22px;
        border-radius: 100px;
        color: $color-white;
        padding: 0 11px;
        background: $color-green1;

        &-counter {
          margin-left: 6px;
        }

        &-icon {
          font-size: 14px;
        }

        &_files {
          &-need {
            background: $color-red-1;
          }

          &-can {
            background: $color-gray-6;
          }
        }
      }

      &-settings {
        color: $color-gray-6;

        &:hover {
          color: darken($color-gray-6, 5%);
        }
      }

      &_selected {
        background: $color-blue-light;
        border-radius: 6px;

        #{$item} {
          &-label {
            color: $color-white;
          }

          &-status {
            border: 2px solid $color-white;
            line-height: 18px;
            padding: 0 9px;
          }

          &-settings {
            color: $color-blue-light2;

            &:hover {
              color: darken($color-blue-light2, 5%);
            }
          }
        }
      }
    }
  }

  &__table {
    width: 100%;
    height: auto !important;
  }

  &__settings {
    .modal-body {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &-search {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
    }

    &-field {
      width: 100%;
      height: 400px;
      background: $color-gray-4;
      border: 2px solid $color-gray-1;
      box-sizing: border-box;
      border-radius: 12px;
      padding: 15px;
    }
  }
}

.ecos-tree {
  &__item {
    $item: &;
    $indent: 42px;

    margin-bottom: 11px;

    &-element {
      background: $color-white;
      border-radius: 6px;
      height: 60px;
      padding: 19px 18px;
      margin-bottom: 11px;
    }

    &_child {
      margin-left: $indent;
      margin-bottom: 6px;

      &:last-child {
        margin-bottom: 0;
      }

      #{$item} {
        &-element {
          position: relative;
          height: 40px;
          padding: 9px 11px;
          margin-bottom: 0;

          &:before {
            content: '';
            position: absolute;
            top: 5px;
            left: calc(#{$indent} / 2 * (-1));
            width: 20px;
            height: 20px;
            border-radius: 0 0 0 4px;
            border-color: $color-gray-6;
            border-width: 0 0 4px 4px;
            border-style: solid;
            z-index: 2;
          }

          &:after {
            content: '';
            position: absolute;
            top: 22px;
            left: calc(#{$indent} / 2 * (-1));
            width: 4px;
            background: $color-gray-4;
            height: 6px;
            z-index: 1;
          }
        }
      }
    }

    &_parent {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 64px;
        left: calc(#{$indent} / 2);
        width: 4px;
        background: $color-gray-6;
        height: calc(100% - 64px - 20px);
      }
    }
  }
}
