@import '../../../constants';

.formio-dialog.component-settings {
  .formio-data-grid {
    .formio-component-xl,
    .formio-component-lg,
    .formio-component-md,
    .formio-component-sm,
    .formio-component-xs {
      .form-control {
        padding: 6px 3px;
        text-align: center;
        width: auto;
        max-width: 40px;
      }
    }

    .formio-component-classes {
      .form-control {
        width: auto;
        position: relative;
        z-index: 1;
      }
    }
  }
}

.formio-dialog-content .preview-panel,
.formio-form {
  .row {
    padding: 0;

    &:hover {
      background-color: initial;
    }
  }
}
