@import '../../../../styles/constants';

.ecos-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-weight: $font-weight-bold;
  font-size: $font-size-standard;
  background-color: $color-gray-5;
  color: $color-white;
  padding: 0 9px;
  line-height: 20px;
  border-radius: $border-radius-biggest;
  min-width: 20px;

  &_error {
    background-color: $color-red-2;
  }

  &_small {
    font-size: $font-size-small;
    line-height: 1.4;
    padding: 0 5px;
  }
}
