@import '../../../../styles/constants';

.ecos-badge {
  $badge: &;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-weight: $font-weight-bold;
  font-size: $font-size-standard;
  color: $color-white;
  border-radius: $border-radius-biggest;
  min-width: 20px;

  &_info {
    background-color: $color-gray-5;
  }

  &_danger {
    background-color: $color-red-2;
  }

  &_outline {
    border: $border-width-standard solid;
    background-color: $color-gray-13;

    &#{$badge} {
      &_info {
        border-color: $color-gray-5;
        color: $color-gray-11;
      }

      &_danger {
        border-color: $color-red-2;
        color: $color-red-2;
      }
    }
  }

  &_small {
    font-size: $font-size-small;
    line-height: 1.4;
    padding: 0 5px;
  }

  &_medium {
    padding: 0 5px;
    line-height: unset;
  }

  &_large {
    padding: 0 9px;
    line-height: 20px;
  }
}
