@import '../../../constants';

.ecos-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &_blur {
    background-color: rgba(255, 255, 255, 0.7);
  }

  &_darkened {
    background-color: $background-loader;
  }
}

.ecos-loader_pin {
  position: static;
}
