@import '../../constants';

.ecos-debug {
  &-container {
    display: flex;
    width: 100%;
    padding: 0 5px;
  }

  &-col {
    flex: 1;
    margin: 0 10px !important;

    .dashlet {
      margin: 20px 0;
    }
  }
}
