@import '../../../styles/constants';

.ecos-user-profile {
  &__dashlet-body {
    padding: 20px;
    position: relative;
    min-height: 50px;

    .dashlet__body-actions {
      padding: 0;
    }
  }

  &__info {
    display: flex;

    &-photo {
      min-width: 49px;
      width: 49px;
      height: 49px;
      margin-right: 15px;
    }

    &-name {
      font-weight: $font-weight-bold;

      &-primary {
        font-size: $font-size-large;
        color: $text-color-dark;
      }

      &-secondary {
        font-size: $font-size-standard;
        color: $color-gray-5;
      }
    }
  }

  &__badges {
    display: flex;

    & > :nth-child(even) {
      margin-left: 5px;
    }

    & > :nth-child(n) {
      margin-top: 5px;
    }
  }

  &__message {
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-small;
    margin-top: 10px;

    &_error {
      color: $color-red-1;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &_mobile {
      grid-gap: 10px;
    }

    &:not(&_mobile) > :nth-child(even) {
      margin-top: 10px;
    }
  }

  &__password-modal {
    &-label {
      background: $color-gray-25;
      border-radius: $border-radius-standard;
      padding: 5px 10px;
      margin-bottom: 5px;
    }

    &-filed {
      margin-bottom: 20px;

      &_hidden {
        display: none;
      }
    }

    &-actions {
      display: flex;
      justify-content: space-between;
    }
  }
}
