@import '../../../styles/constants';

.ecos-progress-loading {
  &__td-container {
    width: 100%;
    position: absolute;
  }

  &__container {
    width: 100%;
    position: absolute;
    height: 2px;
    display: flex;
    justify-content: center;
    margin: 0;
    z-index: 101;
  }

  &__progress-bar {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  &__progress {
    width: 60%;
    height: 100%;
    background-color: var(--primary-color);
    position: absolute;
    animation: progress-animation 1.5s infinite linear;
  }
}

@keyframes progress-animation {
  0% {
    left: -60%;
  }
  100% {
    left: 100%;
  }
}
