@import '../../../styles/constants';

.ecos-journal__settings-bar {
  $root: &;
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;

  &_new {
    align-items: center;
    background-color: $page-background-color;
    border-radius: 12px 12px 0 0;
    margin-bottom: 0;
    padding: 2px 6px;

    .ecos-btn-settings-filter-on,
    .ecos-btn-settings-filter-on:hover {
      background-color: $color-gray-25 !important;

      path,
      ellipse {
        stroke: $color-blue-dark !important;
      }
    }

    #{$root}-export-btn.ecos-btn {
      border-radius: $border-radius-standard;
      min-width: 51px;
    }
    #{$root}-template-btn.ecos-btn {
      border-radius: $border-radius-standard;
      width: 156px;

      .ecos-btn__text {
        width: 100%;
        @extend %ellipsis;
      }
    }

    #{$root}-container {
      &_mobile {
        margin-right: 0;
      }
    }

    .ecos-btn_drop-down {
      font-size: 11px;
      line-height: 9px;

      .ecos-dropdown__toggle-label {
        padding: 0;
        height: 150%;
        margin-top: 2px;
        margin-right: 4px;
      }
    }
  }

  &-menu {
    position: absolute;
    margin-top: 12px;
    right: 0;
    top: 0;

    &.admin-section {
      top: 5%;
      z-index: 1001;
    }

    &_mobile.ecos-btn {
      padding: 0;
      width: 30px;
      height: 30px;
      background-color: $color-gray-25;

      .ecos-btn__text {
        height: auto;
      }
    }

    &_text {
      display: none;
      color: $color-white;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
    }

    &:hover &_text {
      display: block;
    }

    .ecos-btn {
      padding: 2px 6px 2px 8px;
      height: auto;
      background-color: $color-blue-light;
      border-radius: 20px 0 0 20px;
      display: inline-flex;
      align-items: center;

      &:hover {
        background-color: $color-blue-light;
        gap: 10px;
      }

      &:focus {
        background-color: $color-blue-light;
      }

      > i {
        margin: 0;
        font-size: 12px;
        color: $color-white;
      }
    }
  }

  &.ecos-journal__settings-bar_new > :nth-child(n) {
    margin-bottom: 0;
  }
  &.ecos-journal__settings-bar_new > :nth-child(n):not(#{$root}-right-side):not(:last-child) {
    margin-right: 12px;
  }

  & > :nth-child(n) {
    margin-bottom: 12px;
  }

  & > :nth-child(n):not(#{$root}-right-side):not(:last-child) {
    margin-right: 15px;
  }

  .ecos-btn.ecos-journal__add-record {
    font-size: $font-size-xxl;
    min-width: 40px;
  }

  .ecos-journal__icon-small-down i:last-child {
    margin-top: 4px;
  }

  &-update {
    max-width: 40px;
  }

  &-search {
    &:not(.search_collapsed) {
      width: 200px;
    }

    & ~ :nth-child(n) {
      transition: all 0.4s, opacity 0.2s;
    }
  }

  &-export-btn.ecos-btn {
    min-width: 70px;
    background: $color-white;
  }

  &-right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: auto;

    &:empty {
      display: none;
    }

    & > :nth-child(n):not(:last-child) {
      margin-right: 15px;
    }
  }

  &-extra {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 12px;

    &:empty {
      display: none;
    }
  }

  &_mobile {
    & > #{$root}-search {
      &.search_expanded {
        height: 40px;
        flex: auto;
        z-index: 1;

        & ~ :nth-child(n) {
          transform: scale(0);
          width: 0;
          min-width: 0;
          margin: 0;
          padding: 0;
          opacity: 0;
          flex: 0;
        }
      }
    }

    &.search_expanded {
      margin-right: 0;
    }
  }

  &-container {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 1370px) {
  .ecos-journal__settings-bar {
    $root: &;
    $margin-right: 10px;

    @if selector-append($root, '_new') {
      $margin-right: 3px;
    }

    & > :nth-child(n):not(#{$root}-right-side):not(:last-child),
    & &-right-side :nth-child(n):not(:last-child),
    & &-extra > :nth-child(n):not(:last-child) {
      margin-right: $margin-right;
    }
  }
}

.ecos-journal__btn_new {
  display: flex !important;
  height: 28px !important;
  background-color: $color-gray-25 !important;

  text-align: center;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $color-blue-dark !important;
  }

  i {
    color: $color-gray-5;
    font-size: 14px !important;
  }

  &:hover i,
  &:hover path {
    color: $color-white !important;
    stroke: $color-white !important;
  }

  &:hover span {
    color: $color-white;
  }

  &.create i {
    margin-right: 0 !important;
  }

  &.create,
  &.export {
    width: 48px;
    padding: 0;

    > span {
      padding: 0;
      margin-left: 6px;
    }

    &:hover path {
      stroke: $color-white !important;
    }

    i:last-child {
      padding: 0;
      margin-right: 6px;
      margin-left: 0;
    }
  }

  &.template {
    .ecos-btn__text {
      overflow: visible;
      margin-top: 2px;
      height: 150%;
    }
  }

  &.search {
    justify-content: flex-start;
    padding: 14px 9px;
    border: 0;

    &:hover,
    &:hover i {
      color: $color-gray-5 !important;
      background-color: $color-gray-25 !important;
    }

    &:focus-within {
      i {
        color: $color-blue-dark !important;
      }
    }

    > i {
      top: 5px;
    }

    i:last-child {
      top: 0;
    }

    .search__input {
      font-size: 11px !important;
      background-color: $color-gray-25;
    }
  }

  &.filter,
  &.shape {
    border-radius: $border-radius-standard;
    min-width: 28px !important;
    min-height: 28px !important;
    width: 28px;
    height: 28px;

    &:hover path {
      fill: $color-white !important;
    }
  }

  &.filter:hover {
    background-color: $color-blue-dark !important;

    path,
    ellipse {
      fill: $color-blue-dark;
      stroke: $color-white !important;
    }
  }

  .ecos-btn__text {
    font-size: 11px;
    line-height: 9px;
  }

  &_selected {
    > span,
    > i {
      color: $color-blue-dark;
    }
  }

  &_focus {
    background-color: $color-blue-dark !important;

    path,
    i,
    span {
      color: $color-white;
      stroke: $color-white;
    }
  }
}

.ecos-btn-settings-filter-on i::before {
  color: $color-blue-light;
  background-color: $color-white;
}

.ecos-btn-settings-filter-on:hover i::before {
  color: $color-blue-dark;
  background-color: $color-white;
}

.ecos-btn-settings-filter-on:hover {
  background-color: $color-white !important;
}
