@import '../../../styles/constants';

.ecos-journal__settings-bar {
  $root: &;
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 12px;
  height: 40px;

  & > :nth-child(n):not(#{$root}-right-side) {
    margin-right: 15px;
  }

  .ecos-btn.ecos-journal__add-record {
    font-size: $font-size-xxl;
    min-width: 40px;
  }

  &-update {
    min-width: 40px;
  }

  &-search ~ :nth-child(n) {
    transition: all 0.4s;
  }

  &-right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: auto;

    &:empty {
      display: none;
    }

    & > :nth-child(n):not(:last-child) {
      margin-right: 15px;
    }
  }

  &-extra {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 12px;

    &:empty {
      display: none;
    }

    &_mobile {
      & > :nth-child(n):not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &_mobile {
    & > #{$root}-search {
      &.search_expanded {
        width: 100%;

        & ~ :nth-child(n) {
          transform: scale(0);
          width: 0;
          min-width: 0;
          margin: 0;
          opacity: 0;
        }
      }
    }

    & > :nth-child(n):not(#{$root}-right-side) {
      margin-right: 10px;

      &.search_expanded {
        margin-right: 0;
      }
    }
  }
}
