@import '../../../styles/constants';

%h-indents {
  padding: 0 20px;
}

.ecos-task {
  $root: &;

  &-list {
    &__v-scroll {
      @extend %v-scroll;
    }

    &-dashlet {
      height: fit-content;

      &__body {
      }

      .formio-form {
        min-height: unset;
      }
    }

    &__loader {
      min-height: 60px;
      position: relative;
    }
  }

  &-ins {
    $ins: &;

    &:not(:last-child) {
      border-bottom: $border-width-standard solid $color-gray-4;
      padding-bottom: 20px;
    }

    &__title {
      justify-content: space-between;

      &-text {
        @extend %ellipsis;
      }
    }

    &__info-wrap {
      @extend %h-indents;

      #{$ins}_view-enum {
        display: flex;
        align-items: center;
        padding: 5px 0;
        border-bottom: 2px solid $color-gray-4;
        font-size: $font-size-small;

        &-label {
          min-width: 100px;
          margin-right: 45px;
          font-weight: $font-weight-bold;
          color: $text-color-dark;
        }

        &-value {
          color: $color-gray-11;
        }
      }

      #{$ins}_view-table {
        height: 90px !important;

        .table {
          border-top: none;

          th {
            border-top: none;
            padding: 0;
            height: 34px;
          }

          td {
            height: 38px;
            padding: 0;
          }
        }

        .ecos-th {
          font-weight: $font-weight-bold;
          font-size: 12px;
          height: 34px;
          padding: 0 12px;
        }

        .ecos-grid__td {
          font-weight: $font-weight-semi-bold;
        }
      }
    }

    &__eform {
      @extend %h-indents;

      padding-bottom: 15px;
    }
  }

  &__assign-btn {
    $btn: &;

    &__wrapper {
      margin: 0;

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &_small-mode {
        margin: 13px 0;
      }

      &:not(&_small-mode) > :nth-child(n) {
        margin-left: 10px;
      }

      .select-orgstruct {
        display: inline;
      }
    }

    &_small-mode {
      width: 100%;

      &.ecos-btn {
        margin-right: 0;
        margin-bottom: 13px;
        background-color: $color-blue-dark;
        color: $color-white;

        width: 100%;
        min-width: 160px;
        margin-left: unset;

        &:hover {
          background-color: $color-blue-light;
        }
      }

      &:last-of-type {
        background-color: $color-gray-4;
        color: $text-color-dark;

        &:hover {
          background-color: $color-gray-1;
        }
      }
    }
  }
}
