.orgstructure-page {
  &__structure {
    &__header {
      padding: 16px 22px;

      h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        color: #767676;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  &__search {
    &__container {
      margin: 0px 20px;
      padding: 16px 15px;
      border-radius: 12px;
      background-color: #e8edef;
    }
    &__input-container {
      display: flex;
      flex-direction: row;
      background-color: #e8edef;
      flex-wrap: nowrap;
    }
  }
  &__body {
    &__container {
      position: relative;
      height: 75%;
      margin: 0 24px 12px 20px;
    }
  }
}

.orgstructure-page__body__container .select-orgstruct__list-wrapper {
  width: max-content;
  min-width: 100%;
}
