@import '../../../styles/constants';

.orgstructure-page {
  &__structure {
    &__header {
      display: flex;
      justify-content: space-between;
      padding: 16px 22px;

      h1 {
        font-family: $font-family-open-sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        color: #767676;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &-icons {
        &-group {
          display: flex;
        }

        svg {
          width: 32px;
          cursor: pointer;

          :hover {
            opacity: 0.6;
          }
        }
      }
    }

    &__bnt-create {
      cursor: pointer;

      i.icon-plus {
        color: #767676;
      }
    }
  }
  &__search {
    &__container {
      margin: 0 20px;
      padding: 16px 15px;
      border-radius: 12px;
      background-color: #e8edef;
      overflow: hidden;
    }
    &__input-container {
      display: flex;
      flex-direction: row;
      background-color: #e8edef;
      flex-wrap: nowrap;
    }
  }
  &__body {
    &__container {
      position: relative;
      height: 100%;
      margin: 0 24px 12px 20px;
      overflow: hidden;
    }
  }
}

.orgstructure-page__body__container .select-orgstruct__list-wrapper {
  width: max-content;
  min-width: 100%;
}
