@import '../../../../constants';

.caption {
  color: $text-color-dark !important;
  margin: 0;
  line-height: normal;
  font-family: $font-family;
  letter-spacing: $letter-spacing;
}

.caption_large {
  font-size: 24px !important;
  font-weight: $font-weight-semi-bold !important;
}

.caption_middle {
  font-size: 18px !important;
  font-weight: $font-weight-semi-bold !important;
}

.caption_small {
  font-size: 14px !important;
  font-weight: $font-weight-semi-bold !important;
}
