@import '../../../../styles/constants';

.ecos-caption {
  color: $text-color-dark;
  margin: 0;
  line-height: normal;
  font-family: $font-family;
}

.ecos-caption_large {
  font-size: $font-size-xxl;
  font-weight: $font-weight-bold;
}

.ecos-caption_middle {
  font-size: 18px;
  font-weight: $font-weight-semi-bold;
}

.ecos-caption_normal {
  font-size: 16px;
  font-weight: $font-weight-bold;
}

.ecos-caption_small {
  font-size: 14px;
  font-weight: $font-weight-semi-bold;
}
