@import '../../../styles/constants';

.citeck-html-widget {
  &__body {
    padding: 20px;
  }

  &__editor {
    &-title {
      margin-bottom: 20px;
    }

    &-buttons {
      display: inline-flex;
      gap: 1rem;
    }

    &_field .ecos-field__control {
      width: 100%;
    }
  }
}
