@import '../../../../styles/constants';

.ecos-formatter {
  $f: &;

  &__tooltip {
    .ecos-base-tooltip &-inner {
      text-align: left;
      font-size: $font-size-small;
    }

    &-icon {
      cursor: pointer;
      color: $color-gray-5;

      &:hover {
        color: $color-blue-light;
      }
    }
  }

  &-assoc {
    &__value {
      @extend %ellipsis;
      display: inline-block;
      width: calc(100% - 22px);
      padding-right: 10px;

      &_no-tooltip {
        width: 100%;
        padding-right: 0;
      }

      &:empty {
        display: none;

        & + #{$f}__tooltip-icon {
          display: none;
        }
      }
    }

    &__tooltip-content {
      & :nth-child(n) {
        padding: 7px 0;
      }

      & :not(:last-child) {
        border-bottom: $border-width-standard solid $color-gray-4;
      }
    }
  }

  &-action {
    &__text {
      color: $color-blue-dark;
      cursor: pointer;

      &:hover {
        color: $color-blue-dark2;
      }
    }
  }

  &-popper {
    &:not(:last-child):not(:first-child) {
      border-bottom: $border-width-standard solid $color-gray-4;
    }
  }
}
