@import '../../../styles/constants';

.ecos-wpage {
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__body {
    padding: 20px;
  }

  &__ground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 203px;
    min-width: 100%;
    background: $color-gray-25;

    &_full {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $text-color-dark;
    max-width: 167px;
    margin-bottom: 14px;
  }

  &__settings {
    width: 100%;
    height: 100%;

    &-caption {
      margin-bottom: 20px;
    }

    &-label {
      width: 100%;
    }

    &-input {
      width: 100%;
      margin-bottom: 20px;
    }

    &-btn {
      margin-right: 10px;

      &-wrapper {
        display: flex;
      }

      &_big {
        flex-basis: 50%;
      }
    }
  }
}
