/* open-sans-regular - cyrillic_greek-ext_vietnamese_latin_greek_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('./font/open-sans-v15-cyrillic_greek-ext_vietnamese_latin_greek_latin-ext_cyrillic-ext-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./font/open-sans-v15-cyrillic_greek-ext_vietnamese_latin_greek_latin-ext_cyrillic-ext-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - cyrillic_greek-ext_vietnamese_latin_greek_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('./font/open-sans-v15-cyrillic_greek-ext_vietnamese_latin_greek_latin-ext_cyrillic-ext-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./font/open-sans-v15-cyrillic_greek-ext_vietnamese_latin_greek_latin-ext_cyrillic-ext-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - cyrillic_greek-ext_vietnamese_latin_greek_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('./font/open-sans-v15-cyrillic_greek-ext_vietnamese_latin_greek_latin-ext_cyrillic-ext-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./font/open-sans-v15-cyrillic_greek-ext_vietnamese_latin_greek_latin-ext_cyrillic-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
