@import '../../../../../styles/constants.scss';

.job-action {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;

  .fa-play {
    color: $color-green-10;
  }

  .fa-pause {
    color: var(--primary-color);
  }
}
