@import '../../../styles/constants';

.ecos-input-search {
  $root: &;

  position: relative;
  transition: 0.15s cubic-bezier(0.5, 0.5, 0.5, 0.5);

  &__icon {
    position: absolute;
    cursor: pointer;

    &_hidden {
      display: none;
    }

    &-search {
      $isearch: &;

      left: 10px;
      top: 9px;

      &#{$isearch}_no-collapse {
        cursor: text;
      }
    }

    &-clear {
      right: 13px;
      top: 11px;
      font-size: $font-size-small;
    }
  }

  &__input {
    padding-left: 48px;
    padding-right: 30px;

    &_empty {
      padding-right: 0;
    }

    &_hidden {
      display: none;
    }
  }

  &_close {
    height: 40px;
    width: 40px;

    #{$root}__icon-search {
      left: 10px;
    }
  }

  &_theme_citeckTheme,
  &_theme_ecos {
    background: $color-blue-dark;
    border-radius: $border-radius-standard;

    #{$root}__icon {
      &-search {
        color: $color-white;
      }

      &-clear {
        color: $color-blue-light2;

        &:hover {
          color: $color-white;
        }
      }
    }

    #{$root}__input {
      background: transparent;
      border: none !important;
      color: $color-white;

      &::placeholder {
        color: $color-blue-light2;
      }
    }
  }

  &_theme_uedmsTheme {
    background: $color-green-dark;
    border-radius: $border-radius-standard;

    #{$root}__icon {
      &-search {
        color: $color-white;
      }

      &-clear {
        color: $color-green-light2;

        &:hover {
          color: $color-white;
        }
      }
    }

    #{$root}__input {
      background: transparent;
      border: none !important;
      color: $color-white;

      &::placeholder {
        color: $color-green-light2;
      }
    }
  }

  .ecos-dropdown__menu {
    &#{$root}__results {
      width: 100%;
      padding: 7px 0 !important;
    }

    #{$root}__no-results {
      color: $color-gray-5;
      font-weight: $font-weight-bold;
      font-size: $font-size-large;
      padding: 13px 15px;
      text-align: center;
    }

    #{$root}__show-all {
      &:hover {
        background-color: unset;
      }

      &-btn {
        width: 100%;
        margin: 0;
        display: inline-block;
        @extend %ellipsis;
      }
    }

    #{$root}__loader {
      padding: 15px 0;
    }
  }
}
