@import '../../../../styles/constants';

.ecos-headline {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  margin-bottom: 7px;
  font-weight: $font-weight-bold;
  font-size: $font-size-standard;
  color: $text-color-dark;

  &_highlight {
    background-color: $color-yellow;
  }

  &_inline {
    display: inline-flex;
  }

  &__text {
    @extend %ellipsis;
    flex: 1 1 auto;
    min-width: 0;
  }
}
