@import '../../../../../../styles/constants';

.select-orgstruct {
  &__error {
    color: $color-red-1;
  }

  &__values-list {
    border: 1px solid $color-gray-6;
    border-radius: 6px;
    padding: 10px 12px;
    cursor: pointer;
    max-height: 40px;
    min-height: 40px;

    &:has(.select-orgstruct__values-list-disp:hover) {
      .select-orgstruct_action_open-modal svg path {
        fill: $color-gray-5 !important;
      }
    }

    &:hover {
      border: 1px solid var(--primary-color);

      &:not(:has(.select-orgstruct__values-list-actions_item:hover)) {
        .select-orgstruct_action_open-modal svg path {
          fill: var(--primary-color);
        }
      }
    }

    &__action_add {
      display: flex;
      cursor: pointer;
      max-height: 22px;

      svg {
        vertical-align: initial;
        margin-top: 2px;
      }
    }

    &-disp {
      width: auto;
    }

    &.disabled {
      background-color: $color-gray-4;
    }

    &.multiple {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      padding: 8px 9px;
      max-height: none;
    }

    &.multiple &_text-content {
      position: relative;
      padding: 4px 14px;
      background-color: var(--primary-color);
      border-radius: 100px;
      box-sizing: border-box;
      max-width: 100%;

      & .select-orgstruct__values-list-actions {
        position: absolute;
        visibility: hidden;
        background: linear-gradient(to right, rgba(248, 248, 248, 0), var(--primary-color) 25%);
        padding-left: 12px;
        right: 14px;
        top: 4px;
      }

      &:hover {
        & .select-orgstruct__values-list-actions {
          visibility: visible;
          align-items: center;
          gap: 3px;
        }

        svg > path {
          fill: $color-white;
        }
      }

      & .assoc-value {
        color: $color-white;
      }
    }

    &_text-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 1.2;
    }

    &-actions {
      display: flex;
      gap: 6px;
      flex-shrink: 0;

      &_item {
        position: relative;
        cursor: pointer;

        &:hover > svg path,
        &.active > svg path {
          fill: var(--primary-color);
        }

        path {
          fill: $color-gray-5;
        }
      }
    }
  }

  &__value-not-selected {
    border: 1px solid $color-gray-6;
    border-radius: 6px;
    padding: 10px 12px;
    max-height: 40px;
  }
}

.select-orgstruct__input-view_compact {
  display: flex;
  line-height: 26px;
}

.select-orgstruct__values-list_compact {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  flex: 1;
}

.select-orgstruct__input-view-button_compact {
  flex-shrink: 0;

  &.ecos-btn {
    flex: auto;
    width: 6rem;
    max-width: 7rem;
    height: 24px;
  }
}
