@import '../../../styles/constants';

.ecos-filters-group {
  &__head {
    position: relative;
  }

  &__tools {
    display: flex;
    align-items: center;
    padding: 13px 20px 10px 20px;

    &_step {
      margin-right: 10px;
    }
  }

  &__item {
    &_draggable {
      background: $color-white;
      z-index: 20000 !important;
      list-style-type: none;
      outline: none;
      box-shadow: $box-shadow-default;
    }
  }

  &__select {
    width: 160px;
  }

  &__empty {
    height: 40px;
  }

  &__delete-btn {
    position: absolute;
    right: 0;
  }
}
