@import '../../constants.scss';

$base-class-btn: ecos-btn;

.ecos-drag-item {
  $root: &;

  display: inline-flex;
  align-items: center;
  height: 32px;
  max-width: 250px;
  background: $color-white;
  mix-blend-mode: normal;
  box-shadow: $box-shadow-default;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 0 7px;
  margin: 5px;

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
  }

  &__actions {
    &__btn-move.#{$base-class-btn} {
      padding: 0;
      height: 100%;
      margin-top: -1px;

      font-size: 15px;
    }
  }
}
