@import '../../constants';

.ecos-doc-status {
  $root: &;

  &_read {
    background-color: $color-blue-light2;
    color: $color-blue-dark;
    padding: 10px 0;
    text-align: center;
    font-weight: $font-weight-bold;
    font-size: $font-size-large;

    &_no-status {
      background-color: $color-gray-4;
      color: $text-color-gray;
    }
  }

  &_manual {
    padding: 0 16px;

    .ecos-dropdown {
      width: 100%;

      &__menu {
        width: 100%;
      }

      .ecos-btn {
        margin-top: 0;
      }
    }
  }

  &__loader-wrapper {
    position: relative;
    height: 40px;
  }

  &-dashlet {
    &__body {
      padding: 16px 0;
    }
  }
}
