@import '../../../../styles/constants';

$border: $border-width-standard solid $color-brown-2;

.ecos-inline-tools {
  border-top: $border;
  position: absolute;
  height: 0;
  width: 100%;
  z-index: 0;

  &-border-left {
    border-left: $border;
    width: 0;
    position: relative;
  }

  &-border-bottom {
    border-top: $border;
    position: relative;
  }

  &-actions {
    border-right: $border;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    background: linear-gradient(to right, rgba($color-white, 0), $color-white 15%);

    &::before {
      content: ' ';
      width: 35px;
    }
  }

  &_selected > &-actions {
    background: linear-gradient(to right, rgba($color-yellow-1, 0), $color-yellow-1 15%);
  }

  &-btn.ecos-btn {
    background-color: rgba(0, 0, 0, 0);

    &:hover,
    &:active,
    &:focus {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}
