@import '../../../../styles/constants';

$border: $border-width-standard solid $color-brown-2;

.ecos-inline-tools {
  border: $border;
  position: absolute;
  width: 100%;
  z-index: 21;
  pointer-events: none;

  &-actions {
    pointer-events: auto;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    overflow: hidden;
    background: linear-gradient(to right, rgba($color-white, 0), $color-white 15%);

    &:not(:empty)::before {
      content: ' ';
      width: 35px;
    }
  }

  &_selected > &-actions {
    background: linear-gradient(to right, rgba($color-yellow-1, 0), $color-yellow-1 15%);
  }

  &-btn.ecos-btn {
    padding: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);

    &:hover,
    &:active,
    &:focus {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}
