@import '../../../styles/constants';

$height: 14px;

.model-heatmap {
  &__legend {
    display: flex;
    line-height: $height;
    height: $height;

    &-min,
    &-max {
      font-size: $height;
      font-weight: $font-weight-bold;
      color: $text-color-dark;
    }

    &-gradient {
      margin: 0 8px;
    }
  }
}
