@import '../../../styles/constants';

.ecos-journals-content {
  &__sides {
    display: flex;
    width: 100%;

    & > :nth-child(n) {
      position: relative;
      width: 50%;

      &:nth-child(even) {
        border-left: 1px solid $color-gray-4;
      }
    }

    &-small {
      min-width: 300px;
    }

    &-large {
      min-width: 550px;
    }
  }

  &__resizer {
    right: 0;
  }

  &__preview-well {
    padding: 17px 15px;
    min-height: 468px;
    background-color: var(--main-bg-color);
  }

  &__grid-well {
    min-height: 50px;

    &_overflow_hidden {
      overflow: hidden;
    }

    &_preview {
      min-height: 468px;
    }
  }
}
