@import '../../../styles/constants';

.ecos-journals-content {
  &__sides {
    display: flex;

    & > :nth-child(n) {
      position: relative;
      width: 50%;

      &:nth-child(even) {
        border-left: 1px solid $color-gray-4;
      }
    }

    &-left {
      min-width: 280px;
    }

    &-right {
      min-width: 440px;
    }
  }

  &__resizer {
    right: initial;
    left: -10px;
    top: 45%;
  }

  &__preview-well {
    padding: 17px 15px;
    min-height: 468px;
    background-color: var(--main-bg-color);
  }

  &__grid-well {
    min-height: 50px;

    &_overflow_hidden {
      overflow: hidden;
    }

    &_preview {
      min-height: 468px;
    }
  }
}
