@import '../../../styles/constants';

.ecos-journals-content {
  &__sides {
    display: flex;

    & > :nth-child(n) {
      position: relative;
      width: 50%;

      &:nth-child(even) {
        margin-left: 10px;
      }
    }

    &-left {
      min-width: 280px;
    }

    &-right {
      min-width: 440px;
    }
  }

  &__resizer {
    right: initial;
    left: -15px;
    top: 45%;
  }

  &__preview-well {
    padding: 17px 15px;
    // Cause: https://citeck.atlassian.net/browse/ECOSUI-337
    min-height: 468px;
  }

  &__grid-well {
    min-height: 50px;

    &_overflow_hidden {
      overflow: hidden;
    }

    &_preview {
      min-height: 468px;
    }
  }
}
