@import '../../styles/constants';

.ecos-hb2u {
  &__list {
    padding: 15px 20px;

    &-item {
      display: flex;
      border-bottom: 1px $color-gray-4 solid;
      padding-bottom: 10px;

      &-photo {
        width: 49px;
        height: 49px;
        border-radius: 50%;
        margin-right: 10px;

        img {
          border: none;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
        align-self: center;
      }

      &-date {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: $text-color-dark;
      }

      &-name {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: $color-gray-5;
      }
    }
  }
}
