@import '../../../styles/constants';

.ecos-admin-section {
  &__menu-block {
    .panel-bar {
      margin-bottom: 10px;
      padding: 15px;
    }

    &-list {
      .list-group-item {
        padding: 0;
        line-height: 1;
      }
    }

    &-item {
      font-weight: $font-weight-bold;
      border-radius: $border-radius-standard;
      font-size: $font-size-standard;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 13px 15px;
    }
  }
}
