@import '../../../../../../../../styles/constants';

.select-orgstruct__list-item {
  border-bottom: 2px solid $color-gray-4;
  line-height: 38px;
  font-size: $font-size-small;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-color-dark;
  font-weight: $font-weight-semi-bold;
}

.select-orgstruct__list-item_strong {
  font-weight: $font-weight-bold;
  font-size: $font-size-standard;
  line-height: 50px;
}

.select-orgstruct__list-item_level-1 {
  padding-left: 20px;
}

.select-orgstruct__list-item_level-2 {
  padding-left: 40px;
}

.select-orgstruct__list-item_level-3 {
  padding-left: 60px;
}

.select-orgstruct__list-item_level-4 {
  padding-left: 80px;
}

.select-orgstruct__list-item_level-5 {
  padding-left: 100px;
}

.select-orgstruct__list-item_level-6 {
  padding-left: 120px;
}

.select-orgstruct__list-item_level-7 {
  padding-left: 140px;
}

.select-orgstruct__list-item-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &-extra {
    color: $color-gray-5;
    margin-left: 0.4em;
  }
}

.select-orgstruct__list-item-label_clickable {
  cursor: pointer;
}

.select-orgstruct__list-item-label_margin-left {
  margin-left: 10px;
}

.select-orgstruct__select-handler.icon {
  cursor: pointer;
  color: $color-white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  flex-shrink: 0;
  background: $color-green1;

  &:before {
    font-size: 14px;
    line-height: inherit;
  }
}

.select-orgstruct__select-handler_selected {
  &.icon:before {
    font-weight: bold;
    font-size: 15px;
  }
}

.select-orgstruct__collapse-handler {
  color: $color-gray-5;
  font-size: 14px;
  margin-right: 3px;
}
