@import '../../../../styles/constants';

.select-orgstruct {
  &-select-modal .modal-body {
    padding: 0;
  }

  &__content {
    padding: 16px 24px 16px;
  }

  &__tabs {
    border-top: 1px solid $color-gray-4;
    border-bottom: 1px solid $color-gray-4;
    padding: 0 24px;

    & .ecos-tabs {
      margin: 0;
      padding-top: 12px;

      & .ecos-tab {
        margin: 0;
        padding: 0 6px;
        flex: initial;
        line-height: 25px;

        span {
          padding: 0 12px;
        }
      }

      & .ecos-tab_active::after {
        background-color: var(--dark-primary-color);
      }
    }
  }

  &-select-modal__buttons {
    padding: 0 24px 12px;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 15px;
    }
  }
}

.authority-groups {
  margin-top: 20px;
}

.group-tags {
  margin: 10px 0;
}
