@import '../../../styles/constants';

.category {
  background: $color-white;
  border-radius: $border-radius-extra-large;
}

.label {
  line-height: 56px;
  padding-left: 46px;
  padding-right: 5px;
  margin: 0;
  display: block;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-standard;
  color: $text-color-dark;

  cursor: pointer;
  position: relative;
  width: 100%;

  &:before {
    content: '';
    border-top: 2px solid $color-gray-dark;
    border-left: 2px solid $color-gray-dark;
    box-sizing: content-box;
    display: block;
    width: 5px;
    height: 5px;
    margin: auto;
    position: absolute;
    transform: rotate(135deg);
    top: 24px;
    left: 25px;
    transition: transform 0.1s, right 0.1s;
  }
}

.labelText {
  display: inline-block;
  line-height: 1.4em;
  white-space: nowrap;
  text-transform: uppercase;
}

.labelTextEditable {
  background-color: rgba(0, 102, 255, 0.3);
  text-transform: none;
  outline: none;

  &:before {
    content: '.';
    width: 0;
    display: inline-block;
    color: rgba(0, 102, 255, 0.3);
  }
}

.labelForCollapsed {
  &:before {
    transform: rotate(225deg);
    top: 23px;
  }
}

.categoryHeader {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.categoryActions {
  display: flex;
}

.categoryActionIcon {
  font-size: 26px;
  color: $color-gray-6;
  cursor: pointer;
  line-height: 56px;

  &:hover {
    color: $color-blue-light;
  }
}

.hiddenIcon {
  display: none;
}

.categoryActionIconPressed {
  color: $color-blue-light;
}

.categoryActionIcon2 {
  font-size: 28px;
}

.content {
  padding: 0 10px 10px;
}

.contentNested {
  padding: 0 0 0 45px;
}

.dropdownMenu {
  border-radius: $border-radius-standard;
  box-shadow: $box-shadow-default;
  border: none !important;
  padding: 0 !important;
  overflow: hidden;
  line-height: 1.231em;

  li {
    padding: 10px 15px;
    cursor: pointer;
    font-size: $font-size-standard;
    font-weight: $font-weight-semi-bold;
    color: $text-color-dark;
    white-space: nowrap;

    &:hover {
      background-color: $color-gray-4;
    }
  }
}

.categoryLevel2,
.categoryLevel1 {
  background-color: $color-yellow-1;
  border: 2px solid $color-brown-1;
  border-radius: $border-radius-standard;

  .label {
    line-height: 40px;
    padding-left: 36px;
    padding-right: 0;

    &:before {
      top: 16px;
      left: 15px;
    }
  }

  .labelText {
    text-transform: none;
  }

  .labelForCollapsed {
    &:before {
      top: 15px;
    }
  }

  .content {
    padding: 0 5px 5px;
  }

  .categoryActionIcon {
    font-size: $font-size-xxl;
    color: $color-brown-2;
    line-height: 38px;

    &:hover {
      color: $color-brown-1;
    }
  }

  .categoryActionIconPressed {
    color: $color-brown-1;
  }

  .categoryHeader {
    padding-right: 5px;
  }
}

.categoryLevel2 {
  background-color: $color-brown-2;
  border: 2px solid $color-brown-1;
  border-radius: 0;

  .categoryActionIcon {
    color: $color-brown-1;
  }
}

.bpmnCategoryLevel2,
.bpmnCategoryLevel1 {
  position: relative;

  .contentNested {
    padding: 0 0 0 36px;
  }
}
