@import '../../../styles/constants';

.type-permissions {
  &__buttons-panel {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    grid-gap: 1em;
  }

  &__grid-container {
    margin-bottom: 2em;
  }

  &__switch-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__switch-button {
    $btn: &;

    width: 80px;

    &.ecos-btn#{$btn} {
      &_none {
        background: $color-gray-11;
        color: $color-white;

        &:focus,
        &:hover {
          background: lighten($color-gray-11, 10%);
        }
      }
    }
  }

  &__column {
    width: 100%;
  }

  &__grid {
    th .ecos-th {
      display: flex;
      justify-content: center;
    }
  }

  &__error {
  }
}
