@import '../../constants';

.ecos-barcode {
  $root: &;

  &-dashlet {
    &__body {
      padding: 17px 20px;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 7px;
    min-height: 146px;
    border-radius: 6px;
    background-color: $color-gray-4;
    border: 1px solid $color-white;
    padding: 20px;

    & .ecos-btn {
      margin-top: 0;
    }
  }

  &__error {
    color: $color-red-3;
    text-align: center;
    font-weight: $font-weight-bold;
    font-size: $font-size-small;
    margin-bottom: 20px;
  }

  &__image {
    max-width: 100%;
    margin-top: 20px;
  }
}
