@import '../../styles/constants';

.ecos-dashboard {
  &__scrollbars {
    &-track-vertical {
      cursor: pointer;
      border-radius: inherit;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: $scroll-z-index;
    }
  }

  &__header {
    $header: &;

    display: flex;
    flex-direction: column;
    padding: 0 18px;
    margin-bottom: 13px;

    &-title {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 17px;

      & > :nth-child(n):not(:last-child) {
        margin-right: 15px;
      }
    }

    &-placeholder {
      display: flex;
      align-items: center;
      height: 22px;
    }

    &-name {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: $text-color-dark;
    }

    &-status {
      &.ecos-doc-status {
        padding: 0;
      }

      .ecos-doc-status__data {
        flex: unset;
      }

      .ecos-doc-status__loader {
        margin: 0;
        justify-content: space-between;
        width: 15%;
      }
    }

    &-mod {
      color: $color-gray-12;
    }

    &-user {
      margin: 0 5px;
      font-weight: $font-weight-semi-bold;
    }

    &-date {
      text-transform: capitalize;
    }

    &_mobile {
      background-color: $color-white;
      margin-bottom: 0;
      padding-bottom: 10px;
      border-bottom: 2px solid $color-gray-4;
      position: relative;
      z-index: $scroll-z-index + 1;

      #{$header}_no-next {
        margin-bottom: 10px;
        border-bottom: none;
        box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.15);
      }
    }
  }

  &__tabs {
    &-wrapper {
      padding: 0 19px 13px;
    }

    &-item {
      max-width: 350px;

      @extend %ellipsis;
    }

    &_mobile {
      position: sticky;
      top: 0;
      z-index: 100;
      width: 100%;
      margin-bottom: 10px;
      padding: 16px 15px;
      background-color: $color-white;
      box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.15);

      overflow: auto;
      //hide scroll
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      .ecos-tab {
        background-color: $color-gray-4;
        font-weight: bold;
        height: 26px;
        line-height: 26px;
        padding: 0 17px;
        min-width: 0;

        &_active {
          color: $color-white;
          background-color: $color-blue-dark;
        }
      }
    }
  }
}
