@import '../../styles/constants';
@import '../../styles/content';

.ecos-dashboard-settings {
  $settings: &;

  position: relative;

  &__tooltip {
    .tooltip {
      z-index: 10001;
    }
  }

  &_modal {
    padding: 0;
    max-width: unset;

    .ecos-tab:not(.ecos-tab_active),
    #{$settings}__layout-tabs-add-tab:not(:hover):not(:focus):not(:active) {
      border-width: 1px;
      border-color: $color-gray-6;
      border-style: solid;
    }

    #{$settings} {
      &__body {
        overflow-y: auto;
        position: relative;
        padding: 10px 17px 10px 20px;
        margin: 10px 3px 10px 0;
      }

      &__container {
        &:last-child {
          margin-bottom: 0;
        }

        &-group {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &__actions {
        position: relative;
        padding-left: 15px;
        padding-bottom: 20px;
        padding-top: 15px;

        &:before {
          content: '';
          display: block;
          background: #e8edef;
          height: 2px;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
        }
      }
    }
  }

  &-modal-wrapper.ecos-modal {
    top: 10px;
    margin-top: 0;
    margin-bottom: 0;

    .ecos-modal-header {
      display: flex;
      flex-shrink: 0;
      flex-basis: auto;
    }

    .modal-body {
      padding: 0;
    }

    .modal-content {
      max-height: calc(100vh - 20px);
    }
  }

  &__loader-wrapper {
    border-radius: $border-radius-extra-large;
    align-items: unset;

    div {
      margin-top: 30%;
    }
  }

  &__header {
    @extend %title-page;
    margin-top: 30px;
    margin-bottom: 24px;
  }

  &__bindings {
    &-owner {
      display: flex;
      align-items: center;
      margin-top: 25px;
    }

    &-types {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      & > :not(:last-child) {
        margin-right: 15px;
      }
    }

    &-dropdown {
      .ecos-btn {
        min-width: 250px;
        justify-content: flex-end;
      }

      &-menu {
        min-width: 100%;
      }
    }

    &-description {
      font-weight: $font-weight-semi-bold;
      font-size: $font-size-small;
      color: $color-gray-5;
      max-width: 350px;
    }
  }

  &__device-tabs {
    margin-bottom: 28px;

    &-item {
      padding: 0 15px;
    }
  }

  &__layout-tabs {
    &-wrapper {
      display: flex;
      padding-bottom: 28px;
    }

    &-arrows {
      width: auto;
    }

    &-item {
      max-width: 350px;

      &_modal {
        &.ecos-tab_draggable {
          border-width: 1px;
          border-color: $color-gray-6;
          border-style: solid;
        }
      }
    }

    &-add-tab {
      margin-left: 10px;
      min-width: 40px;
      min-height: 40px;
    }

    &_empty {
      background: $color-gray-1;
      border-radius: $border-radius-standard;
      flex: auto;
    }
  }

  &__container {
    @extend %block--1;
    margin-bottom: 30px;

    &-title {
      @extend %title-block--1;
      margin-bottom: 20px;
    }

    &-subtitle {
      @extend %subtitle-block--1;
      margin-bottom: 18px;
    }

    &-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: space-between;
      margin-bottom: 34px;

      &-item {
        margin-bottom: 11px;
        overflow: hidden;

        &:not(:last-child) {
          margin-right: 11px;
        }
      }

      &_mobile {
        flex-wrap: nowrap;
      }
    }
  }

  &__drag {
    display: flex;
    width: 100%;
    justify-content: flex-start;

    &_multiline {
      flex-wrap: wrap;
    }

    &-container {
      $container: &;

      display: flex;
      width: 100%;
      flex-wrap: wrap;

      &_full {
        min-width: 100%;
      }

      &_widgets-to {
        display: flex;
        width: 100%;

        &_mobile {
          max-width: 30%;
          min-width: 180px;

          #{$settings}__column-widgets {
            width: 100%;
          }

          .ecos-drag-item {
            max-width: 100%;
          }
        }
      }

      &_row {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }

      &_col {
        &:not(:last-child) {
          margin-bottom: 27px;
        }
      }

      &_widgets-from_mobile {
        margin-right: 15px;
        margin-bottom: 0 !important;
        height: 100%;
        padding: unset;
      }
    }

    &-scrollbar-wrapper {
      padding: 10px;
    }

    &-item {
      &_menu {
        width: calc(100% / 3 - 10px);
        flex-basis: calc(100% / 3 - 10px);
      }
    }
  }

  &__column-widgets {
    display: flex;
    flex-direction: column;
    width: 195px;
    margin-bottom: 16px;

    &:not(:last-of-type) {
      margin-right: 16px;
    }

    &__title {
      background: $color-gray-4;
      border-radius: $border-radius-small;
      vertical-align: bottom;
      padding: 5px 11px 0;
      height: 26px;
      font-style: normal;
      font-weight: $font-weight-semi-bold;
      font-size: $font-size-small;
      color: $text-color-gray;
      margin-bottom: 9px;
      box-sizing: border-box;
    }

    &__items {
      width: 100%;
      box-sizing: border-box;

      &__cell {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }

  &__actions {
  }
}
