@import '../../styles/constants';

.ecos-designer {
  &-common {
    &__container_white {
      background: $color-white;
      border-radius: $border-radius-extra-large;
      padding: 15px;
      margin-bottom: 10px;
    }

    &__loader {
      position: relative;
      height: 100px;
    }
  }

  &__content {
    overflow: auto;
    max-height: calc(100vh - 275px);

    &::-webkit-scrollbar {
      display: none; /* Chrome */
    }

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &.ecos-designer__content-full {
      max-height: 100%;
    }
  }

  &__add-category {
    background: $color-gray-1;
    border-radius: $border-radius-large;
    font-weight: $font-weight-semi-bold;
    color: $text-color-gray;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      background-color: $color-gray-2;
    }
  }

  &-control-panel {
    & .ecos-dropdown__toggle_static {
      height: 42px;
      font-size: $font-size-xxl;
      border: 1px solid $color-gray-4;
    }

    &__side-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &__counter {
      display: flex;
      gap: 5px;

      color: $text-color-gray;
      font-weight: $font-weight-semi-bold;
    }
  }

  &__scroll {
    position: relative;

    &-list {
      left: -18px;
      width: calc(100% + 18px);
    }
  }

  &__loader {
    width: 10%;
    position: absolute;
    bottom: 10px;
    height: auto;
    left: 45%;
  }
}
