@import '../../../constants';

.formio-dialog-content .preview-panel,
.formio-form {
  .formio-component-checkbox {
    padding-left: 0;

    .form-check-label {
      line-height: 24px;
      font-size: 14px;
      cursor: pointer;
      padding-left: 0;

      .form-check-input:first-child {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        overflow: hidden;

        + span {
          padding-left: 32px;
          display: inline-block;
          line-height: 18px;
          position: relative;

          &:before {
            font-family: $font-family-citeck;
            content: $citeck-icon-checkbox;
            color: $color-gray-6;
            margin-right: 10px;
            font-size: 22px;
            font-weight: normal;
            position: absolute;
            left: 1px;
          }
        }

        &:checked {
          + span {
            &:before {
              content: $citeck-icon-checkbox-checked;
              color: $color-blue-dark;
            }
          }
        }

        &:focus {
          + span {
            &:before {
              color: $color-blue-light;
            }
          }
        }

        &:disabled {
          + span {
            color: $color-gray-5;

            &:before {
              content: $citeck-icon-checkbox-dark;
              color: $color-gray-4;
            }
          }

          &:checked {
            + span {
              &:before {
                content: $citeck-icon-checkbox-checked;
              }
            }
          }
        }
      }

      &.field-required {
        &:after {
          position: absolute;
          margin-left: 1px;
          margin-top: -3px;
        }
      }
    }

    &.checkbox-checked_cross {
      .form-check-label {
        .form-check-input:first-child {
          + span {
            position: relative;

            &:before {
              position: absolute;
              z-index: 5;
              content: $citeck-icon-close;

              font-family: $font-family-citeck;
              margin-right: 10px;
              font-size: 16px;
              position: absolute;
              left: 4px;
              top: 1px;
              color: white;
            }

            &:after {
              content: $citeck-icon-checkbox-dark;
              font-family: $font-family-citeck;
              //background: $color-blue-dark;
              color: $color-blue-dark;
              font-size: 22px;
              position: absolute;
              left: 1px;
              top: 0;
              border-radius: $border-radius-standard;
            }
          }

          &:focus {
            + span {
              &:after {
                background: $color-blue-light;
                color: $color-blue-light;
              }
            }
          }

          &:disabled {
            + span {
              color: $color-gray-5;

              &:after {
                color: $color-gray-4;
              }
            }
          }
        }
      }
    }
  }
}
