@import '../../../constants';

%checkbox {
  font-family: $font-family-citeck;
  content: $citeck-icon-checkbox;
  color: $color-gray-6;
  font-weight: normal;
  position: absolute;
  font-size: 22px;
}

$states: (
  'checked': $color-blue-dark,
  'focus': $color-blue-light,
  'disabled': $color-gray-4
);

$positions: (
  'top': 'after',
  'left-right': 'after',
  'right-right': 'after',
  'bottom': 'before',
  'right-left': 'before',
  'left-left': 'before'
);

.formio-dialog-content .preview-panel,
.formio-form {
  .formio-component-checkbox {
    padding-left: 0;
    display: flex;

    .form-check-input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
      overflow: hidden;

      @each $state, $color in $states {
        &:#{$state} + .form-check-text {
          &::before,
          &::after {
            color: $color;
          }
        }
      }

      &:disabled + .form-check-text {
        color: $color-gray-5;
      }
    }

    .form-check-text {
      display: inline-block;
      line-height: 18px;
      position: relative;
    }

    .form-check-label {
      line-height: 24px;
      font-size: 14px;
      cursor: pointer;

      &_top,
      &_bottom {
        margin: 0 auto;
      }

      &_right-right,
      &_right-left {
        margin-left: auto;
        margin-right: 0;
      }

      &_right-right {
        padding-right: 30px;
      }

      &_top .form-check-text::#{map-get($positions, 'top')} {
        position: initial;
        display: block;
        margin-top: 10px;
      }

      &_bottom .form-check-text::#{map-get($positions, 'bottom')} {
        position: initial;
        display: block;
        margin-bottom: 10px;
      }

      //box is on the Left
      &_left-left,
      &_right-left {
        & .form-check-text {
          padding-left: 32px;

          &::#{map-get($positions, 'left-left')} {
            position: absolute;
            left: 0;
          }
        }
      }

      //box is on the Right
      &_left-right,
      &_right-right {
        & .form-check-text::#{map-get($positions, 'left-right')} {
          padding-left: 15px;
        }
      }

      &_has-tip .form-check-text::after {
        padding-left: 25px;
      }

      @each $pos, $where in $positions {
        &_#{$pos} .form-check-text::#{$where} {
          @extend %checkbox;
        }

        &_#{$pos} .form-check-input:checked + .form-check-text::#{$where} {
          content: $citeck-icon-checkbox-checked;
        }
      }

      &.field-required::after {
        top: 5px;
      }

      &_top.field-required::after {
        top: -25px;
      }
    }

    &.checkbox-checked_cross {
      .form-check-label {
        .form-check-input:first-child {
          + span {
            position: relative;

            &.form-check-label__span {
              &:before {
                z-index: 5;
                content: $citeck-icon-close;

                font-family: $font-family-citeck;
                margin-right: 12px;
                font-size: 16px;
                line-height: 100%;
                margin-left: 4px;
                top: 1px;
                color: white;

                position: absolute;
                left: -0.5px;
              }

              &:after {
                content: $citeck-icon-checkbox-dark;
                font-family: $font-family-citeck;
                color: $color-blue-dark;
                font-size: 22px;
                position: absolute;
                top: 0;
                border-radius: $border-radius-standard;

                left: 0;
              }

              &_position {
                &-left {
                  &-right {
                    padding-right: 32px;

                    &:before {
                      left: unset;
                      right: -1.5px;
                      margin: unset;
                    }

                    &:after {
                      left: unset;
                      right: -4.5px;
                    }
                  }
                }

                &-right {
                  &-left {
                    &:before {
                      left: -1px;
                    }
                  }

                  &-right {
                    &:before {
                      left: 100%;
                      margin-left: 17.5px;
                    }

                    &:after {
                      left: unset;
                    }
                  }
                }

                &-bottom {
                  padding-top: 28px;

                  &:before {
                    margin: 0;
                    left: calc(50% - 1em / 2);
                  }

                  &:after {
                    left: calc(50% - 1em / 2);
                  }
                }

                &-top {
                  top: -3px;
                  padding-bottom: 31px;

                  &:before {
                    margin: 0;
                    top: 28px;
                    left: calc(50% - 1em / 2);
                  }

                  &:after {
                    margin: 0;
                    top: 28px;
                    left: calc(50% - 1em / 2);
                  }
                }
              }
            }
          }

          &:focus {
            + span {
              &:after {
                color: $color-blue-light;
              }

              &:before {
                color: white !important;
              }
            }
          }

          &:disabled {
            + span {
              color: $color-gray-5;

              &:after {
                color: $color-gray-4;
              }
            }
          }
        }
      }
    }

    &.webform-builder-dv-checkbox.checkbox {
      label.form-check-label {
        padding-right: 0;
        margin: unset;
        display: unset;
        text-align: left !important;
        position: relative;

        input.form-check-input {
          width: unset !important;
          margin-left: -12px !important;
        }

        i.glyphicon-question-sign {
          position: absolute !important;
          right: -16px !important;
          top: 5px !important;
        }

        span.form-check-label__span.form-check-text {
          padding-left: 32px;
          padding-top: 0;

          &:before {
            display: unset;
            position: absolute;
            left: 0;
          }

          &:after {
            padding: unset;
            position: absolute;
            top: 0 !important;
            margin: unset;
            left: 0 !important;
          }
        }
      }

      &.checkbox-checked {
        span.form-check-label__span.form-check-label__span_position-top.form-check-text {
          &:after {
            content: $citeck-icon-checkbox-checked;
            color: $color-blue-dark;
          }
        }
      }

      &.checkbox-checked_cross {
        label.form-check-label {
          span.form-check-label__span.form-check-text {
            padding-right: 0 !important;

            &:before {
              @extend %checkbox;
              color: white;
              content: $citeck-icon-close;
              margin-right: 12px !important;
              top: 0 !important;
              left: 3px;
              z-index: 5;
              font-size: 16px;
              right: unset !important;
              margin-left: 0;
            }

            &:after {
              @extend %checkbox;
              color: $color-blue-dark;
              content: $citeck-icon-checkbox-dark;
              top: 0 !important;
              right: unset !important;
              left: 0 !important;
            }
          }
        }
      }
    }
  }
}
