@import '../../../constants';

$tabs-height: 26px;

.formio-dialog-content .preview-panel,
.formio-form {
  .formio-component-tabs {
    .formio-component-tabs-right-button,
    .formio-component-tabs-left-button {
      display: none;
    }

    .formio-component-tabs-wrapper {
      margin: 0;
    }

    .formio-component-tabs-scroll-wrapper {
      overflow: hidden;
      box-sizing: content-box;
    }

    .nav-tabs {
      border-bottom: none;

      display: inline-flex;
      white-space: nowrap;
      flex-wrap: nowrap;
      max-width: 100%;
      overflow-y: hidden;
      overflow-x: auto;

      // hide scrollbar
      -ms-overflow-style: none; // Internet Explorer 10+
      scrollbar-width: none; // Firefox
      &::-webkit-scrollbar {
        display: none; // Safari and Chrome
      }
    }

    .nav-item {
      margin-right: 2px;
      margin-bottom: 0;

      &.hidden {
        display: none;
      }

      .nav-link {
        padding: 0 16px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        border: 0;
        background: transparent;
        color: $text-color-gray;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: $text-color-dark;
        }

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 3px;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
          background-color: transparent;
        }

        &.active {
          color: $text-color-dark;

          &::after {
            background-color: var(--primary-color);
          }
        }
      }

      &.disabled {
        .nav-link {
          color: $color-gray-6;
          cursor: default;

          &.active {
            background: $color-gray-4;
            color: $color-gray-6;
            border-color: $color-gray-4;
          }
        }
      }

      &.first-visible-tab {
        .nav-link {
          border-top-left-radius: $border-radius-standard;
          border-bottom-left-radius: $border-radius-standard;
        }
      }

      &.last-visible-tab {
        margin-right: 0;
        .nav-link {
          border-top-right-radius: $border-radius-standard;
          border-bottom-right-radius: $border-radius-standard;
        }
      }
    }

    &_scrollable {
      .nav-item {
        &.first-visible-tab {
          border-left: 10px solid transparent;
        }

        &.last-visible-tab {
          border-right: 10px solid transparent;
        }
      }

      .formio-component-tabs-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &:before {
          content: '';
          left: $tabs-height;
          top: 0;
          position: absolute;
          width: 15px;
          height: 100%;
          background: linear-gradient(90deg, #fff 41.99%, rgba(245, 245, 245, 0) 100%);
          z-index: 4;
          pointer-events: none;
        }

        &:after {
          content: '';
          right: $tabs-height;
          top: 0;
          position: absolute;
          width: 15px;
          height: 100%;
          background: linear-gradient(270deg, #fff 41.99%, rgba(245, 245, 245, 0) 100%);
          z-index: 4;
          pointer-events: none;
        }
      }

      .formio-component-tabs-scroll-wrapper {
        max-width: calc(100% - 56px);
      }

      .formio-component-tabs-right-button,
      .formio-component-tabs-left-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $tabs-height;
        height: $tabs-height;
        background-color: $color-gray-4;
        color: $text-color-gray;
        cursor: pointer;
        border-radius: 50%;
        font-size: 14px;
        user-select: none;

        &:hover {
          background-color: $color-gray-1;
        }

        &:after {
          font-family: $font-family-citeck;
          content: $citeck-icon-left;
          font-weight: normal;
        }
      }

      .formio-component-tabs-right-button {
        &:after {
          content: $citeck-icon-right;
        }
      }
    }
  }
}

/* Tabs styles hack for form builder */
.formio-dialog.formio-dialog-theme-default.component-settings .formio-component-tabs {
  .nav-item {
    font-size: $font-size-small;
  }
  .nav-link {
    padding: 0 7px;
  }
  .formio-component-tabs-wrapper {
    margin-bottom: 0;
  }
  &_scrollable {
    .formio-component-tabs-wrapper {
      &:before {
        width: 10px;
      }
      &:after {
        width: 10px;
      }
    }
  }
}

.formio-dialog.formio-dialog-theme-default.component-settings .component-preview .formio-component-tabs {
  .nav-item {
    font-size: $font-size-standard;
  }

  .nav-link {
    padding: 0 15px;
  }

  &_scrollable {
    .formio-component-tabs-wrapper {
      &:before {
        width: 15px;
      }
      &:after {
        width: 15px;
      }
    }
  }
}

.ecos-modal {
  .tab-content_scrollable {
    border: 2px solid $color-gray-4;
    border-right-width: 0;
    border-left-width: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 -20px 20px -20px;
    padding: 15px;
  }

  .ecos-properties-dashlet .formio-form .tab-content  {
    margin-top: 8px;
  }

  .formio-form .tab-content .panel-body.panel-body_scrollable {
    border: 1px solid $color-gray-4;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 -20px 20px -20px !important;
    padding: 15px !important;
  }
}
