@import '../../styles/constants';

.ecos-model-editor {
  display: flex;
  height: 100%;

  &__designer {
    &-content {
      flex: auto;
      margin: 20px;
    }

    &-child {
      background: $color-white;
      border-radius: $border-radius-large;
    }
  }

  &__properties {
    width: 30px;
    position: relative;
    box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.2);

    &_open {
      width: 600px;
    }

    &-opener {
      position: absolute;
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 20px;
      left: -12px;
      height: 25px;
      width: 25px;
      background: $color-white;
      box-shadow: $box-shadow-default;
      border-radius: $border-radius-extra-large;
      cursor: pointer;

      & > .icon {
        font-size: 15px;
        margin-top: -2px;
      }

      &:hover {
        background: $color-blue-light;

        .icon {
          color: $color-white;
        }
      }
    }

    &-content {
      display: none;
      padding: 20px;
      background: $color-white;
      height: 100%;
    }

    &_open > &-content {
      display: block;
    }
  }
}
