@import '../../../styles/constants';
@import '../../../styles/animateStripes';
@import '../../../styles/animatePulse';

@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

%show-card-info-float {
  height: 100px;
  padding: 5px;
  opacity: 1;
}

.ecos-kanban {
  $kanban: &;

  :root {
    --count-col: 1;
    --color-info: #{HexToRGB($color-blue-light)};
    --color-column: #{HexToRGB($primary)};
  }

  counter-set: count-page 1;
  margin-top: 4px;

  & .formio-form_view-mode dt,
  & .formio-form_view-mode dd {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__dropdown {
    max-width: 200px;
    border: 1px solid $color-gray-5 !important;

    &.ecos-btn {
      padding: 9px 15px;
    }

    & .ecos-btn__i {
      font-size: $font-size-standard;
      color: $text-color-gray;
    }

    & .ecos-dropdown__toggle-label {
      color: $text-color-gray;
      font-size: $font-size-standard;
      padding: 0 5px 0 0;
    }

    &-menu {
      min-width: 200px;
      max-width: 400px;

      & .selected {
        font-weight: $font-weight-bold;
        pointer-events: none;
      }
    }
  }

  &__footer-border {
    height: 10px;
    min-height: 10px;
  }

  &__info {
    width: 100%;
  }

  &__loader {
    width: 10%;
    position: absolute;
    bottom: 10px;
    height: auto;
    left: 45%;
  }

  &__scroll {
    &_v {
      @extend %v-scroll;
    }

    &_h {
      @extend %h-scroll;
      bottom: 4px;
    }
  }

  &__page-separator {
    @extend %v-scroll;
  }

  &__head {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
    background: $color-gray-4;
    min-width: 100%;
  }

  &__body {
    display: inline-flex;
    position: relative;
    width: inherit;
    min-width: 100%;
    margin-left: -1px;

    &_dragging {
      overflow: hidden;
      max-height: inherit;
      padding-bottom: 6px;

      & #{$kanban}__column {
        $col: &;
        --color-column: #{HexToRGB($primary)};

        overflow: hidden;
        border-style: dotted;
        border-color: rgba(var(--color-column), 1);
        background: rgba(var(--color-column), 0.1);

        &::before {
          color: rgba(var(--color-column), 1);
        }

        &_dragging-over:not(#{$kanban}__column_owner) {
          --color-column: #{HexToRGB($success)};

          & #{$kanban}__card-info_float {
            --color-info: #{HexToRGB($success)};
            @extend %show-card-info-float;
          }

          & #{$kanban}__card:not(#{$kanban}__card_dragging) {
            opacity: 0.5;
          }
        }

        &_owner,
        &_disabled {
          --color-column: #{HexToRGB($color-gray-5)};

          & #{$kanban}__card-info_float {
            --color-info: #{HexToRGB($color-gray-5)};
            @extend %show-card-info-float;
          }
        }

        &_disabled {
          cursor: no-drop;

          & #{$kanban}__card:not(#{$kanban}__card_dragging) {
            opacity: 0.8;
          }
        }
      }
    }

    &_end {
      border-bottom: 2px solid $color-blue-light2;
    }
  }

  &__column {
    position: relative;
    flex: auto;
    word-break: break-all;
    padding: 2px;
    border: $border-width-standard dashed transparent;
    border-radius: $border-radius-large;
    transition: padding-top ease-out 0.5s;
    width: calc(100% / var(--count-col) - 20px);
    min-width: 250px;
    max-width: 350px;
    box-sizing: border-box;

    &:not(:first-child) {
      margin-left: 11px;
    }

    &_has-sum {
      padding-top: 60px !important;
    }

    &-sum {
      position: absolute;
      display: flex;
      padding: 16px;
      width: calc(100% - 20px);
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      border-radius: 6px;
      border: 1px solid #D4DADD;
      background: rgba(255, 255, 255, 0.50);
      box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
      backdrop-filter: blur(10px);
      font-size: 11px;
      font-style: normal;
      font-weight: 600;

      &-label {
        color: #444;
      }

      &-value {
        color: #767676;
      }
    }

    &-head {
      counter-increment: column;
      background: $color-white;
      border-radius: $border-radius-large $border-radius-large 0 0;
      border-bottom: 3px $color-blue-light solid;
      height: 50px;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
      margin-top: -4px;

      &-caption {
        font-weight: $font-weight-semi-bold;
        font-size: 16px;
        padding-right: 5px;
        flex: 1;
        @extend %ellipsis;
      }

      &-badge {
        min-width: 30px;
        max-width: 80px;
        font-weight: $font-weight-semi-bold;
        font-size: 16px;
        padding: 0 6px;
        @extend %ellipsis;
      }

      & .ecos-title-page-loader {
        justify-content: space-between;
        width: 100%;
      }
    }

    &-loader {
      border-radius: $border-radius-large;
      align-items: flex-start;
      padding-top: 50%;
    }

    & :not(#{$kanban}__card-info):nth-of-type(10n + 11) {
      padding-top: 14px;
      border-top: 1px $color-gray-7 dotted;
    }
  }

  &__card {
    $card: &;

    background: $color-white;
    border-radius: $border-radius-large;
    padding: 20px 16px;
    margin-bottom: 14px;
    opacity: 1;
    transition: opacity ease-out 0.5s;
    display: flex;
    flex-direction: column;
    width: inherit;

    &:nth-child(10n) {
      margin-bottom: 28px;
    }

    &:hover #{$card}-action-list_withoutTitle {
      visibility: visible;
    }

    &-info {
      --color-info: #{HexToRGB($color-blue-light)};

      color: rgba(var(--color-info), 1);
      background: rgba(var(--color-info), 0.15);
      border-radius: $border-radius-large;
      font-weight: $font-weight-bold;
      flex: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      word-break: break-word;
      text-align: center;
      padding: 19px;

      &_hidden {
        display: none;
      }

      &_loading {
        @extend %animationPulse;
      }

      &_alert {
        --color-info: #{HexToRGB($danger)};
      }

      &_float {
        background: transparent;
        align-items: flex-start;
        transition: height 0.5s ease-out;
        height: 0;
        padding: 0;
        opacity: 0;
        overflow: hidden;
      }
    }

    &-list {
      height: 100%;
      padding: 2px;
    }

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 18px;
    }

    &-body {
      border-top: 2px solid $color-gray-4;
      transition: max-height ease-out 0.5s, padding ease-out 0.5s;
      max-height: 500px;
      min-height: 0;
      overflow: auto;

      &_hidden {
        overflow: hidden;
        max-height: 0;
      }
    }

    &-bottom {
      padding-top: 16px;
    }

    &-label {
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-break: break-word;

      &_main {
        font-weight: $font-weight-normal;
        font-size: 16px;

        &-with-sub {
          @extend %ellipsis;
        }

        &:hover {
          color: $color-blue-dark;
          cursor: pointer;
        }
      }

      &_secondary {
        font-weight: $font-weight-bold;

        &:empty {
          display: none;
        }
      }
    }

    &-form {
      min-height: 0;
      overflow-x: hidden;

      & > div:empty {
        @extend %animationStripes;
        height: 15px;
      }

      &_inline {
        & > div dt,
        dd {
          width: max-content !important;
        }

        & > div dl {
          display: grid;
          padding: 2px 0;
        }
      }
    }

    &-action {
      &-list {
        display: inline-flex;
        align-items: center;
        margin-top: -3px;

        & > :nth-child(n) {
          margin-left: 13px;
        }

        &_withoutTitle {
          visibility: hidden;

          position: absolute;
          right: 10px;
          z-index: 100;

          background: linear-gradient(to right, rgba($color-white, 0), $color-white 15%);
        }
      }

      &-drag {
      }

      &-icon {
        color: $color-gray-6;
        cursor: pointer;
        line-height: 1.5;

        &:hover {
          color: $color-blue-light;
        }
      }
    }

    &-opener {
      border-radius: 100%;
      background: $color-gray-4;
      width: 30px;
      height: 30px;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &_no-form {
      #{$card} {
        &-head {
          padding-bottom: 0;
        }

        &-body {
          border-top: none;
        }

        &-label {
          padding-bottom: 0;
        }
      }
    }
  }
}

.ecos-kanban__new {
  $kanban: &;

  margin-top: 2px;
  padding: 10px 12px 0px 10px;
  background-color: $color-white;
  border-radius: 0 0 12px 12px;

  .ecos-kanban__column {
    padding: 0 11px;
    background: #f6f8f9;
    border: 0;
    border-radius: unset;
    min-width: 237px;
    max-width: 337px;

    &:not(.ecos-kanban__column-name) {
      border-left: 1px solid $color-gray-4;
      border-bottom: 1px solid $color-gray-4;
      border-right: 1px solid $color-gray-4;
      border-top: none;
    }

    &:not(:first-child) {
      margin-left: 0;
    }

    &-head {
      background: unset;
      border-bottom: none;
      height: unset;
      box-shadow: none;
      margin: 12px 0 14px;
      padding: 0;

      &-caption {
        font-size: 12px;
      }

      &-badge {
        min-width: 20px;
        font-size: 10px;
      }
    }

    & :not(#{$kanban}__card-info):nth-of-type(10n + 11) {
      padding-top: 12px;
      border-top: 1px $color-gray-7 dotted;
    }
  }

  .ecos-kanban__column-name {
    border-radius: $border-radius-extra-large $border-radius-extra-large 0 0;
    box-shadow: inset 0 1px 0 0 $color-gray-4, inset -1px 0 0 0 $color-gray-4, inset 1px 0 0 0 $color-gray-4;
  }

  .ecos-kanban__head {
    margin-bottom: 0;
    margin-top: 0;
    gap: 12px;
    background-color: unset;
  }

  .ecos-kanban__body {
    gap: 12px;
    margin-left: unset;
    display: flex;

    &_dragging {
      overflow: hidden;
      max-height: inherit;
      padding-bottom: 6px;

      & .ecos-kanban__column {
        $col: &;
        --color-column: #{HexToRGB($primary)};

        overflow: hidden;
        border: 1px dotted rgba(var(--color-column), 1);
        background: rgba(var(--color-column), 0.1);

        &::before {
          color: rgba(var(--color-column), 1);
        }

        &_dragging-over:not(.ecos-kanban__column_owner) {
          --color-column: #{HexToRGB($success)};

          & .ecos-kanban__card-info_float {
            color: rgba(var(--color-column), 1);
            @extend %show-card-info-float;
          }

          & #{$kanban}__card:not(.ecos-kanban__card_dragging) {
            opacity: 0.5;
          }
        }

        &_owner,
        &_disabled {
          --color-column: #{HexToRGB($color-gray-5)};

          & .ecos-kanban__card-info_float {
            color: rgba(var(--color-column), 1);
            @extend %show-card-info-float;
          }
        }

        &_disabled {
          cursor: no-drop;

          & .ecos-kanban__card:not(.ecos-kanban__card_dragging) {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .ecos-kanban__card {
    $card: &;

    padding: 16px;
    border-radius: $border-radius-standard;
    position: relative;
    border-top: 2px solid $color-blue-dark;
    margin-bottom: 12px;

    &-head {
      padding-bottom: 0;
      position: relative;
      border-bottom: 1px solid $color-gray-6;
    }

    &-label {
      padding-bottom: 10px;
      &_main {
        font-weight: $font-weight-semi-bold;
        font-size: 11px;
      }

      &_secondary {
        font-weight: $font-weight-bold;

        &:empty {
          display: none;
        }
      }
    }

    &-info {
      color: #b7b7b7;
      background: $color-gray-4;
      border-radius: $border-radius-standard;
      font-size: 11px;
      line-height: 11px;
      font-weight: $font-weight-bold;
      padding: 15px 16px;
    }

    &-info_float {
      background: unset;
      align-items: flex-start;
      transition: height 0.5s ease-out;
      height: 0;
      padding: 0;
      opacity: 0;
      overflow: hidden;
    }

    &-body {
      border-top: unset;
    }

    &-action {
      &-list {
        display: inline-flex;
        align-items: center;
        margin-top: 0;
        line-height: 1;

        & > :nth-child(n) {
          margin-left: 8px;
        }

        &_withoutTitle {
          top: 6px;
          z-index: 9;
        }
      }

      &-icon {
        line-height: 1;
        font-size: 12px;
      }
    }

    &-form {
      overflow-x: hidden;
      min-height: 40px;

      &_inline {
        & > div dl {
          display: inline;
        }
      }

      & > div dl {
        padding: 5px 0;
        border-bottom: none;
        justify-content: space-between;

        dt,
        dd {
          font-size: 11px;
          line-height: 1.2;
          white-space: pre;
          width: unset;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        dd a {
          width: 100%;
          padding: 0;
          color: inherit;

          &:hover {
            color: $color-blue-dark;
          }
        }
      }
    }
  }
}
