@import '../../../styles/constants';
@import '../../../styles/loaderStripes';

.ecos-kanban {
  &__head {
    display: flex;
    flex-direction: row;
    padding: 0 8px;
  }

  &__body {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    padding: 0 5px 0 7px;
    margin-right: -5px;
  }

  &__column {
    flex: auto;
    word-break: break-all;
    position: relative;

    &:not(:first-child) {
      margin-left: 20px;
    }

    &-head {
      padding: 5px 10px;
      box-shadow: none;
      margin-bottom: 7px;

      &-caption {
        display: inline-block;
        margin-right: 10px;
      }
    }

    &-card {
      padding: 0 10px;
      margin-bottom: 10px;

      &-caption {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-body {
        padding: 10px 0;
      }

      &-form {
        & > div:empty {
          @extend %animationStripes;
          height: 15px;
        }
      }

      &-action {
        &-list {
          & :not(:first-child) {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
