@import '../../../../../styles/constants';

.select-journal-view-mode__list {
  list-style: none;
  padding: 0;
  height: 18px;

  li {
    height: 18px;
  }

  & &-value {
    white-space: nowrap;
    width: 100%;
  }
}
