@import '../../../../../../../styles/constants';

.select-orgstruct {
  &__search {
    position: relative;
    display: flex;

    &-wrapper {
      position: relative;
      width: 100%;
      margin-right: 10px;
    }

    &-input {
      padding-left: 40px;
    }

    &-icon.icon {
      position: absolute;
      line-height: 40px;
      left: 12px;
      color: $color-gray-5;
      z-index: 1;
    }

    &-cleaner {
      color: $color-gray-5;
      cursor: pointer;
      position: absolute;
      font-size: 14px;
      opacity: 0;
      transition: opacity 0s;
      transition-delay: 0s;

      padding: 5px 7px;
      top: calc(50% - 15px);
      right: 5px;
      pointer-events: none;

      &_show {
        pointer-events: auto;
        opacity: 1;
        transition-delay: 0.5s;
      }
    }
  }
}
