@import '../../../../../../../constants';

.select-orgstruct__search {
  position: relative;
}

.select-orgstruct__search-input {
  padding-left: 40px;
}

.select-orgstruct__search-icon {
  position: absolute;
  line-height: 40px;
  left: 12px;
  color: $color-gray-5;
}
