@import '../../constants';

.formio-dialog-content .preview-panel,
.formio-form {
  .formio-component {
    &.formio-component_transparent-label {
      .control-label {
        visibility: hidden;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .form-control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 12px;
    height: auto;
    line-height: 24px;
    padding-left: $input-padding;
    padding-right: $input-padding;
    background: $color-white;
    border: $border-width-standard solid $color-gray-6;
    border-radius: $border-radius-standard;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-standard;
    color: $text-color-dark;
    outline: none;

    &::placeholder {
      color: $color-gray-5;
    }

    &:focus {
      border-color: $color-blue-dark;
      box-shadow: none;
    }
    &:hover {
      border-color: $color-blue-light;
    }
  }

  .was-validated .form-control:invalid,
  .form-control.is-invalid {
    border-color: $color-red-1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='11' viewBox='0 0 12 11' fill='none'%3E%3Cpath d='M6 0C6.4 0 6.7 0.2 6.9 0.5L11.9 9.5C12 9.8 12 10.2 11.9 10.5 11.7 10.8 11.4 11 11 11H1C0.6 11 0.3 10.8 0.1 10.5 0 10.2 0 9.8 0.1 9.5L5.1 0.5C5.3 0.2 5.6 0 6 0ZM2.7 9H9.3L6 3.1 2.7 9Z' fill='%23FF5721'/%3E%3C/svg%3E%0A");
    background-position: top 12px right 12px;
    background-size: 12px;
    background-repeat: no-repeat;
    cursor: help;

    &:focus {
      box-shadow: none;
      border-color: $color-red-1;
    }
  }

  .field-required:after {
    color: $color-blue-light;
    font-size: 120%;
  }

  .control-label {
    font-size: $font-size-small;
    font-weight: $font-weight-semi-bold;
    color: $text-color-dark;
  }

  /* error message TODO */
  .invalid-feedback {
    color: $color-red-1;
    font-size: $font-size-small;
    margin-top: 0.5rem;
  }
}
