@import '../../constants';

.ecos-task {
  $root: &;

  &-list {
    &__loader-wrapper {
      height: 100%;
    }
  }

  &-details {
    $details: &;

    &__title {
      height: 51px;
      padding: 0 20px;
      color: $color-gray-dark;
      background-color: $color-gray-8;
      line-height: 2.5;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__wrapper {
      padding: 16px 20px;

      #{$details}_view-enum {
        display: flex;
        align-items: center;
        padding: 5px 0;
        border-bottom: 2px solid $color-gray-4;

        &-label {
          flex-basis: 100px;
          margin-right: 45px;
          font-weight: $font-weight-bold;
          color: $text-color-dark;
        }

        &-value {
          color: $color-gray-9;
        }
      }

      #{$details}_view-table {
        height: 110px !important;
      }
    }
  }

  &__assign-btn {
    $btn: &;

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    &._fill {
      width: 100%;
    }

    &__wrapper {
      padding-top: 20px;
      padding-bottom: 27px;
    }
  }
}
