@import '../../constants';

.ecos-task {
  $root: &;

  &-list {
    min-height: 100px;

    &-dashlet {
      height: fit-content;
    }

    &__loader-wrapper {
      height: 100%;
    }
  }

  &-details {
    $details: &;

    &:not(:first-of-type) {
      border-top: 2px solid $color-gray-4;
    }

    &__title {
      height: 51px;
      padding: 0 20px;
      font-weight: $font-weight-bold;
      color: $color-gray-dark;
      background-color: $color-gray-8;
      line-height: 2.7;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__wrapper {
      padding: 7px 20px 27px;

      #{$details}_view-enum {
        display: flex;
        align-items: center;
        padding: 5px 0;
        border-bottom: 2px solid $color-gray-4;
        font-size: $font-size-small;

        &-label {
          flex-basis: 100px;
          margin-right: 45px;
          font-weight: $font-weight-bold;
          color: $text-color-dark;
        }

        &-value {
          color: $color-gray-9;
        }
      }

      #{$details}_view-table {
        height: 110px !important;

        .table {
          border-top: none;

          th {
            border-top: none;
          }
        }

        .ecos-th {
          font-weight: $font-weight-bold;
        }

        .ecos-grid__td {
          font-weight: $font-weight-semi-bold;
        }
      }
    }
  }

  &__assign-btn {
    $btn: &;

    &.ecos-btn {
      font-weight: $font-weight-bold;
    }

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    &._fill {
      width: 100%;
      margin-right: 0;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }

    &__wrapper {
      padding-top: 20px;
    }
  }
}
