@import '../../../../styles/constants';

.ecos-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: $form-input-height;
  padding-left: 15px;
  background: $color-white;
  border: $border-width-standard solid $color-gray-6;
  border-radius: $border-radius-standard;
  font-family: $font-family;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-standard;
  color: $text-color-dark;
  outline: none;

  &::placeholder {
    color: $color-gray-5;
  }

  &_narrow {
    height: 26px;
    padding: 0 10px;
  }

  &_grid-editor {
    width: 100%;
    height: 22px;
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    padding-left: 5px;
  }

  &_invisible {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  &[type='text'],
  &_hover {
    &:not(:disabled):hover {
      border-color: $color-blue-light !important;
    }
  }
  &[type='text'],
  &_focus {
    &:not(:disabled):hover {
      border-color: $color-blue-dark !important;
    }
  }

  &_left {
    text-align: left;
    padding-left: 15px;
  }

  &_right {
    text-align: right;
    padding-right: 15px;
  }

  &_center {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
  }
}

%image {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.ecos-ml-input {
  $root: &;

  position: relative;

  &__image {
    @extend %image;

    position: absolute;
    right: 13px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
  }

  &__input {
    padding-right: 35px;
  }

  &__tooltip {
    .tooltip-inner {
      overflow: hidden;
      padding: 0;
    }

    &-lang {
      padding: 5px 15px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        color: #7396cd;
      }

      &-label {
        font-style: normal;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-standard;
        line-height: 18px;
        margin-right: 10px;
      }

      &-image {
        @extend %image;
      }
    }
  }
}
