@import '../../../../constants';

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: $form-input-height;
  padding-left: 15px;
  background: $color-white;
  border: $border-width-standard solid $color-gray-6 !important;
  border-radius: $border-radius-standard;
  font-family: $font-family;
  font-weight: $font-weight-bold;
  font-size: $font-size-standard;
  color: $text-color-dark;

  &::placeholder {
    color: $color-gray-5;
  }
}

input[type='text'].input:focus {
  border-color: $color-blue-dark;
}
input[type='text'].input:hover {
  border-color: $color-blue-light;
}

.input_narrow {
  height: 22px;
}

.input_width_full {
  width: 100% !important;
}
