@import '../../../../constants';

.ecos-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: $form-input-height;
  padding-left: 15px;
  background: $color-white;
  border: $border-width-standard solid $color-gray-6;
  border-radius: $border-radius-standard;
  font-family: $font-family;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-standard;
  color: $text-color-dark;
  outline: none;

  &::placeholder {
    color: $color-gray-5;
  }
}

input[type='text'].ecos-input:not(:disabled):hover {
  border-color: $color-blue-light !important;
}

input[type='text'].ecos-input:not(:disabled):focus {
  border-color: $color-blue-dark !important;
}

.ecos-input_narrow {
  height: 26px;
  padding: 0 10px;
}

.ecos-input_grid-editor {
  width: 100%;
  height: 22px;
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
  padding-left: 5px;
}

.ecos-input_invisible {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
