@import '../../../constants';

.formio-dialog-content .preview-panel,
.formio-form {
  .formio-component-datetime {
    .form-control.flatpickr-input {
      border-radius: $border-radius-standard;
    }

    .input-group {
      flex-wrap: nowrap;

      .input {
        border-radius: $border-radius-standard;
      }
    }

    .input-group-addon .input-group-text {
      border: none;
      background: none;
      padding: 0;

      .glyphicon-calendar {
        color: $color-gray-7;
        font-size: $font-size-extra-large;
        margin-left: 10px;

        &:before {
          font-family: $font-family-citeck;
          content: '\46';
          display: inline-block;
          line-height: $form-input-height;
        }
      }
    }

    &.formio-component-datetime_only-time {
      .input-group-addon {
        display: none;
      }
    }
  }
}
