@import '../../../../styles/constants';

.ecos-remove-dialog {
}

.ecos-remove-dialog__body {
  font-weight: $font-weight-semi-bold;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
}

.ecos-remove-dialog__footer {
  margin-top: 32px;
  display: flex;
  justify-content: center;

  button {
    width: 40%;
    margin-left: 0;

    &:last-child {
      margin-left: 15px;
    }
  }
}
