@import '../../../../../../styles/constants';

.ecos-table-form {
  &__value-not-selected {
    line-height: 36px;
    border: solid $color-gray-4;
    border-width: 2px 0 2px 0;
    margin-bottom: 15px;

    &_view-only {
      border: none;
      line-height: inherit;
      margin: 0;
    }
  }

  &__error {
    color: $color-red-1;
  }

  &__grid {
    position: static;
    height: auto;
    max-height: 300px;
    overflow: auto;

    &-wrapper {
      position: relative;
    }
  }

  &__buttons-wrapper {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 1em;
    margin-top: 15px;
  }

  &__import-input {
    position: absolute;
    opacity: 0;
    width: 1px;
  }
}
