@import '../../../../../../constants';

.ecos-table-form__value-not-selected {
  line-height: $form-input-height;
  border: solid $color-gray-4;
  border-width: 2px 0 2px 0;
  margin-bottom: 15px;
}

.ecos-table-form__error {
  color: $color-red-1;
}
