@import '../../../constants';

.ecos-avatar {
  $root: &;

  background: $color-blue-light;
  height: 40px;
  width: 40px;
  border: 3px solid $color-white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__icon {
    font-size: 36px;
    color: $color-white;
    left: -2px;
    top: -1px;
    position: absolute;
  }

  &__name {
    color: $color-white;
    display: flex;
    margin: auto;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
