@import '../../../constants';

.ecos-avatar {
  $root: &;

  &__image {
    height: 40px;
    width: 40px;
    border: 2px solid $color-white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    border-radius: 50%;
  }

  &__icon {
    font-size: 40px;
    color: $color-white;
    line-height: 0;
    display: inline-block;
  }
}
