@import '../../styles/constants';

$ecos_btn: ecos-btn;
$ecos_btn_grey5: ecos-btn_grey5;

.ecos-drag-item {
  $root: &;
  $width: 100%;
  $max-width: 250px;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  max-width: 200px;
  background: $color-white;
  mix-blend-mode: normal;
  box-shadow: $box-shadow-default;
  border-radius: 6px;
  box-sizing: border-box;
  //padding: 0 7px;
  // for Safari
  padding: 0 0 0 7px;
  margin: 0 10px 10px 0;
  min-height: 32px;
  user-select: none !important;

  &:last-child {
    margin-right: 0;
  }

  &_selected {
    background: $color-gray-4;
    box-shadow: none;
  }

  &_disabled {
    background: $color-gray-4;
    cursor: not-allowed !important;
  }

  &_clone {
    user-select: none;
    pointer-events: none;

    & ~ div {
      transform: none !important;
    }
  }

  &_full {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__actions {
    display: inline-flex;
    align-items: center;
    position: relative;
    right: 0;

    %common-btn {
      padding: 0;
      height: 100%;
      margin-left: 5px;
    }

    &__btn-move.#{$ecos_btn} {
      pointer-events: none;
      @extend %common-btn;
      font-size: $font-size-extra-large;
      cursor: grab;

      .icon-custom-drag-big {
        &:before {
          width: 1em;
        }
      }
    }

    &__btn-remove.#{$ecos_btn} {
      @extend %common-btn;
      font-size: $font-size-small;
      visibility: hidden;

      &.#{$ecos_btn_grey5} {
        &:hover {
          color: $text-color-dark;
        }
      }
    }

    &-item {
      font-size: $font-size-small;
      display: block;
      visibility: hidden;

      &-alert {
        cursor: help;

        &:hover {
          color: $color-red-1;
        }
      }
    }
  }

  &:hover {
    .ecos-drag-item__actions__btn-remove {
      visibility: visible;
    }

    .ecos-drag-item__actions-item {
      visibility: visible;
    }
  }
}
