@import '../../constants.scss';

.ecos-dnd {
  &__droppable {
    position: relative;
    display: flex;
    padding: 10px;

    &_row {
      flex-direction: row;
      align-content: flex-start;
    }

    &_column {
      flex-direction: column !important;
      flex-wrap: nowrap !important;
    }

    &-wrapper {
      display: flex;
      height: 100%;
      background: $color-white;
      border: 2px solid $color-gray-6;
      box-sizing: border-box;
      border-radius: 6px;
      width: 100%;

      &_over {
        border: 2px dashed $color-gray-6 !important;
      }
    }

    &-scrollbar {
    }

    &-children-wrapper {
      padding: 10px;
      height: 100%;
    }
  }

  &__placeholder {
    pointer-events: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $color-gray-6;
    width: 100%;
    margin: auto;

    &-wrapper {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }
}
