@import '../../../styles/constants';

.journals-head {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  height: 26px;
  display: flex;
  justify-content: space-between;

  &__caption {
    &_small {
      @extend %ellipsis;
    }
  }

  &__menu-btn {
    text-align: right;
    height: inherit;
    opacity: 1;
    transition: opacity 0.2s;

    &_hidden {
      opacity: 0;
      cursor: initial;
      pointer-events: none;
    }
  }
}
