@import '../../../constants';

.journals-head {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  height: 26px;
}

.journals-head__caption {
  display: inline;
}

.journals-head__menu-btn {
  position: absolute;
  right: 0;
  text-align: right;
  height: 26px;
  display: inline-block;
}

.journals-head_with-tabs {
  margin-top: 9px;
}
