@import '../../../styles/constants';

.journals-head {
  position: relative;
  margin-bottom: 20px;
  height: 26px;
  display: flex;
  align-items: center;

  & > :not(:last-child) {
    margin-right: 10px;
  }

  &__space {
    flex: auto;
  }

  &__caption {
    display: inline-block;
    @extend %ellipsis;
  }

  &__settings-btn-text {
    font-size: $font-size-standard;
  }

  &__menu-btn {
    text-align: right;
    height: inherit;
    opacity: 1;
    transition: opacity 0.2s;

    &_hidden {
      opacity: 0;
      cursor: initial;
      pointer-events: none;
    }
  }
}
