@import '../../../styles/constants';

.ecos-journals-columns-setup__toolbar {
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 10px;
}

.ecos-journals-columns-setup__panel-bar {
  margin-top: 21px;
}

.ecos-journal__settings-footer-action_reset.ecos-btn {
  &:focus {
    background-color: $color-gray-4;
  }
}
