@import '~react-datepicker/dist/react-datepicker.css';
@import '../../../../styles/constants';

.ecos-datepicker_show-icon {
  display: flex;
  align-items: center;

  .ecos-datepicker__icon {
    line-height: $form-input-height;
    color: $color-gray-7;
    font-size: $font-size-extra-large;
    margin-left: 10px;
    cursor: pointer;
  }
}

.react-datepicker__input-container,
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-popper {
  z-index: 10200;
}

.ecos-datepicker__calendar {
  font-family: $font-family-open-sans;
  font-size: $font-size-standard;
  color: $text-color-dark;
  border: none;
  box-shadow: $box-shadow-default;
  border-radius: $border-radius-large;
  padding: 15px;

  .react-datepicker__current-month {
    text-transform: capitalize;
  }

  .react-datepicker__day-name {
    width: 28px;
    line-height: 28px;
  }

  .react-datepicker__day {
    font-size: $font-size-small;
    font-weight: $font-weight-semi-bold;
    width: 28px;
    line-height: 28px;
    color: $text-color-dark;

    &:hover {
      border-radius: 50%;
      background-color: $color-gray-4;
    }
  }

  .react-datepicker__day--today {
    border-radius: 50%;
    background: $color-blue-light2;
    font-weight: $font-weight-semi-bold;
    color: $text-color-dark;

    &:hover {
      border-radius: 50%;
      background: $color-blue-light;
      color: $color-white;
    }
  }

  .react-datepicker__day--selected {
    border-radius: 50%;
    background: $color-blue-dark;
    color: $color-white;

    &:hover {
      border-radius: 50%;
      background: $color-blue-light;
    }
  }

  .react-datepicker__day--keyboard-selected {
    border-radius: 50%;
    background-color: $color-gray-4;
    color: $text-color-dark;
  }

  .react-datepicker__day--outside-month {
    color: $color-gray-5;
  }

  .react-datepicker__day-name {
    font-size: $font-size-small;
    text-transform: capitalize;
  }

  .react-datepicker__navigation {
    background: $color-gray-4;
    border-radius: 6px;
    width: 26px;
    line-height: 26px;
    height: 26px;
    border: none;
    text-indent: 0;
    font-size: 0;
    top: 15px;

    &:after {
      font-family: $font-family-citeck;
      font-size: 14px;
      color: $color-gray-dark;
    }
  }

  .react-datepicker__navigation--previous {
    left: 15px;

    &:after {
      content: '\e808';
    }
  }

  .react-datepicker__navigation--next {
    right: 15px;

    &:after {
      content: '\e809';
    }
  }

  .react-datepicker__current-month,
  .react-datepicker-time__header {
    margin-bottom: 5px;
    font-size: 16px;
  }

  .react-datepicker__header {
    padding-top: 0;
    line-height: 26px;
    background-color: $color-white;
    border-bottom: none;
  }

  .react-datepicker__day-names {
    &:after {
      content: ' ';
      display: block;
      border-bottom: 2px solid #e8edef;
    }
  }

  .react-datepicker__month {
    margin: 0;
  }

  .react-datepicker__triangle {
    left: 50%;
  }
}

.react-datepicker__input-time-container {
  margin: 20px 10px 0;
  //display: flex;
  //justify-content: center;
}

input.react-datepicker-time__input {
  display: block;
  box-sizing: border-box;
  width: 100% !important;
  padding: 0 15px;
  height: $form-input-height;
  background: $color-white;
  border: $border-width-standard solid $color-gray-6;
  border-radius: $border-radius-standard;
  font-family: $font-family;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-standard;
  color: $text-color-dark;
  outline: none;
  margin: 0 !important;
  text-align: center;

  &::-webkit-clear-button {
    display: none;
    width: 0;
    height: 0;
  }

  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
}
