@import '../../styles/constants';

.header {
  padding-top: 30px;
  padding-bottom: 10px;
}

.h2 {
  font-size: $font-size-xxl;
  font-weight: $font-weight-bold;
  color: $text-color-dark;
}

.counter {
  font-size: 16px;
  color: $text-color-gray;
  float: right;
  line-height: 2em;
  margin-bottom: 0;

  span {
    margin-left: 5px;
  }
}

.addCategoryBlock {
  background: $color-gray-1;
  border-radius: $border-radius-extra-large;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: $font-weight-semi-bold;
  color: $text-color-gray;

  &:hover {
    background-color: $color-gray-2;
  }
}

.headerBtn {
  margin-right: 10px;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-standard;
  border-radius: $border-radius-large;
}
