@import '../../styles/constants';

.header {
  padding-top: 30px;
  padding-bottom: 10px;
}

.h2 {
  font-size: $font-size-xxl;
  font-weight: $font-weight-bold;
  color: $text-color-dark;
}

.counter {
  font-size: 16px;
  color: $text-color-gray;
  float: right;
  line-height: 2em;
  margin-bottom: 0;

  span {
    margin-left: 5px;
  }
}
