@import '../../styles/constants';

.bpmn-common {
  &-container_white {
    background: $color-white;
    border-radius: $border-radius-extra-large;
    padding: 15px;
    margin-bottom: 10px;
  }
}

.bpmn-designer-page {
  $page: &;

  &__container {
    display: flex;
    padding: 17px 0 25px 25px;
    height: 100%;
  }

  &__loader {
    position: relative;
    height: 100px;
  }

  &__content {
    flex: auto;
  }

  &__menu {
    width: 0;
    transition: width 0.5s;
    overflow: hidden;
    padding-left: 25px;
    height: 100%;

    &_open {
      width: 300px;
    }

    &-content {
      background: $color-gray-3;
      height: 100%;
      min-width: 275px;
      border-radius: $border-radius-extra-large;
      padding: 15px 25px 15px 15px;

      & :nth-child(n) {
        clear: both;
      }
    }
  }

  &__header {
    padding-bottom: 20px;
    min-height: 26px;

    &-right {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__btn-menu-opener {
    transition: opacity 0.2s, visibility 0s ease 0.2s;

    &_hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__btn-menu-closer {
    float: right;
    margin-bottom: 15px;
  }
}

.bpmn-designer-control-panel {
  & .ecos-dropdown__toggle_static {
    font-size: $font-size-xxl;
  }

  &__side-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__counter {
    color: $text-color-gray;
    font-weight: $font-weight-semi-bold;
  }
}

.bpmn-designer-view-models {
  &__add-category {
    background: $color-gray-1;
    border-radius: $border-radius-large;
    font-weight: $font-weight-semi-bold;
    color: $text-color-gray;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      background-color: $color-gray-2;
    }
  }
}

.bpmn-designer-view-journal {
  padding: 0;
}
