@import '../../styles/constants';

.ecos-files-viewer {
  &__item {
    $item: &;

    user-select: none;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    height: 40px;
    color: $text-color-dark;
    font-size: $font-size-standard;
    font-weight: $font-weight-semi-bold;
    cursor: pointer;
    grid-template-columns: 60% auto;

    &_selected {
      background-color: $color-yellow;
    }

    &-icon {
      color: $color-blue-light2;
      &-wrapper {
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-file-icon {
      width: 1.8em;
      height: 100%;
    }

    &-left {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      justify-content: left;
      height: 100%;
    }

    &-right {
      @extend %ellipsis;
      position: relative;
      display: grid;
      align-items: center;
      justify-content: start;
      grid-auto-flow: column;
      height: 100%;

      &_mobile {
        justify-content: center;
      }
    }

    &-title {
      @extend %ellipsis;
    }

    &-actions {
      display: none;
    }

    &:hover,
    &_mobile#{$item}_lastclicked {
      outline: 2px solid $color-brown-2;
      outline-offset: -2px;

      #{$item}-actions {
        display: inline-flex;
        position: absolute;
        right: 2px;
        top: 2px;
        bottom: 2px;
        padding-left: 20px;
        background: linear-gradient(to right, rgba($color-white, 0), $color-white 15%);
      }

      &#{$item}_selected {
        #{$item}-actions {
          background: linear-gradient(to right, rgba($color-yellow-1, 0), $color-yellow-1 15%);
        }
      }
    }
  }
}
