@import './constants';

.bpmn-icon-set-status {
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    background: url('/bpmn-editor/images/change_status_icon.svg') no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.bpmn-icon-set-status-task {
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    background: url('/bpmn-editor/images/change_status_icon.svg') no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.djs-palette {
  z-index: 900;

  .bpmn-icon-set-status {
    &::after {
      background-size: inherit;
    }

    &:hover::after {
      filter: invert(0.45) sepia(0.6) saturate(5) hue-rotate(175deg);
    }
  }

  .bpmn-icon-set-status-task {
    &::before {
      background-size: inherit;
    }

    &:hover::after {
      filter: invert(0.45) sepia(0.6) saturate(5) hue-rotate(175deg);
    }
  }
}

.bjs-breadcrumbs {
  $this: &;

  position: absolute;
  padding: 0 10px 5px;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  background: white;
  border-bottom: 2px solid $color-gray-4;
  flex-wrap: wrap;

  display: none;

  &-shown {
    #{$this} {
      display: flex;
    }
  }

  li {
    &:only-child {
      display: none;
    }

    &:not(:first-child) {
      &::before {
        content: ' / ';
        padding: 5px;
      }
    }

    .bjs-crumb {
      color: var(--primary-color);
      cursor: pointer;
    }

    & a[title=' '] {
      &::after {
        content: '—';
        cursor: default;
        color: $text-color-gray;
      }
    }
  }
}
