@import './constants';

%block--1 {
  background: $color-white;
  box-shadow: $box-shadow-default;
  border-radius: $border-radius-extra-large;
  padding: 26px;
}

%block--2 {
  width: 100%;
  background: $color-gray-4;
  border: $border-width-standard solid $color-gray-1;
  box-sizing: border-box;
  border-radius: $border-radius-extra-large;
  padding: 15px;
}

%title-page {
  color: $text-color-dark;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-xxl;
}

%title-block--1 {
  background: $color-yellow;
  border-radius: $border-radius-standard;
  padding: 5px 12px;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
  color: $text-color-gray;
  margin-bottom: 20px;
}

%title-block--2 {
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
  color: $color-gray-5;
  margin-bottom: 20px;
}

%subtitle-block--1 {
  font-style: normal;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-standard;
  line-height: 22px;
  color: $text-color-dark;
  margin-bottom: 15px;
}

%subtitle-block--2 {
  background: $color-gray-25;
  border-radius: $border-radius-standard;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-small;
  padding: 5px 10px;
  margin-bottom: 5px;
}
