@import 'react-placeholder/lib/reactPlaceholder.css';
@import './bootstrap';
@import '../fonts/citeck/css/citeck.css';
@import '../fonts/citeck-leftmenu/style.css';
@import '../fonts/open-sans/open-sans.css';
@import './constants';
@import './scrollbars';
@import './notifications';
@import './bpmn';

:root {
  --header-bg-color: #{$color-blue-light};
  --header-component-color: #{var(--primary-color)};
  --main-bg-color: #{$page-background-color};

  --primary-color: #{$primary};
  --dark-primary-color: #{$color-blue-light};
  --light-primary-color: #{$color-blue-light2};
}

html {
  overflow: auto;
}

html,
body {
  height: 100%;
}

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  font-size: $font-size-standard;
  letter-spacing: 0;
  color: $text-color-dark;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.ul-initial {
  list-style: initial;
  padding: 0 16px 8px;
}

.text-bold {
  font-size: $font-size-standard;
  font-weight: $font-weight-semi-bold;
}

svg path[fill="currentColor"], 
svg path[stroke="currentColor"],
svg rect[fill="currentColor"], 
svg rect[stroke="currentColor"],
svg circle[fill="currentColor"],
svg circle[stroke="currentColor"],
svg ellipse[fill="currentColor"],
svg ellipse[stroke="currentColor"],
svg line[stroke="currentColor"],
svg polyline[stroke="currentColor"],
svg polygon[fill="currentColor"], 
svg polygon[stroke="currentColor"],
svg[fill="currentColor"],
svg[stroke="currentColor"] {
  fill: var(--header-bg-color);
  stroke: var(--header-bg-color);
}

// for check scrollbar width in your browser
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
  width: 0;
  height: 0;
}

// for set z-index and correctly displaying child elements
#alf-hd {
  position: relative;
}

.pseudo-link {
  color: var(--primary-color);
  font-size: $font-size-standard;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
  }
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    color: var(--dark-primary-color);
  }
}

.btn {
  $btn: &;

  &#{$btn}-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);

    &:hover {
      border-color: var(--dark-primary-color);
      background-color: var(--dark-primary-color);
    }
  }

  &#{$btn}-secondary {
    background-color: $color-gray-4;
    border-color: $color-gray-4;
    color: $text-color-dark;

    &:hover {
      background-color: $color-gray-1;
      border-color: $color-gray-1;
    }
  }

  &#{$btn}_disabled {
    cursor: not-allowed;
  }
}
