@import './constants';

%animationStripes {
  width: 100%;
  height: inherit;
  background-image: repeating-linear-gradient(
    45deg,
    $color-blue-light4,
    $color-blue-light4 25px,
    $color-blue-light2 25px,
    $color-blue-light2 50px
  );
  -webkit-animation: progress 2s linear infinite;
  -moz-animation: progress 2s linear infinite;
  -ms-animation: progress 2s linear infinite;
  animation: progress 2s linear infinite;
  background-size: 150% 100%;
}

@-webkit-keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -75px 0px;
  }
}

@-moz-keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -75px 0px;
  }
}

@-ms-keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -75px 0px;
  }
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -70px 0px;
  }
}
