@import '../../../../constants';

.ecos-select {
  .select__indicator-separator {
    width: 0;
  }

  .select__loading-indicator {
    display: none;
  }

  .select__control {
    box-sizing: border-box;
    background: $color-white;
    border: $border-width-standard solid $color-gray-6;
    border-radius: $border-radius-standard;
    font-family: $font-family;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-standard;
  }

  .select__single-value {
    color: $text-color-dark;
  }

  .select__placeholder,
  .select__clear-indicator,
  .select__dropdown-indicator {
    color: $color-gray-6;
  }

  .select__control:hover,
  .select__input input[type='text']:hover {
    border-color: $color-blue-light;
    box-shadow: none;

    .select__clear-indicator,
    .select__dropdown-indicator {
      color: $color-blue-light;
    }
  }

  .select__control.select__control--is-focused,
  .select__input input[type='text']:focus {
    border-color: $color-blue-dark;
    background: $color-blue-dark;
    box-shadow: none;

    .select__input,
    .select__single-value,
    .select__placeholder,
    .select__clear-indicator,
    .select__loading-indicator,
    .select__dropdown-indicator {
      color: $color-white;
    }
  }

  .select__menu {
    background: $color-white;
    box-shadow: $box-shadow-default;
    border-radius: $border-radius-standard;
    margin-top: 5px;
    overflow: hidden;
  }

  .select__option {
    font-family: $font-family;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-standard;
    color: $text-color-dark;
    background: $color-white;
    line-height: $select-option-line-height;

    &:hover {
      background: $color-gray-4;
    }
  }
}

.select_narrow {
  .select__control {
    height: 26px;
    min-height: 26px;

    .select__value-container {
      padding: 0 8px;
      height: 26px;
      bottom: 2px;
    }

    .select__dropdown-indicator {
      padding: 0 8px;
    }

    .select__input {
      height: 26px;
    }
  }
}
