@import '../../styles/constants';

.page-content-root {
  height: 100%;
  min-height: 100%;
}

/* Sticky footer */
.ecos-sticky-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  background-color: var(--main-bg-color);
}

.ecos-sticky-wrapper_background-white {
  background-color: $color-white;
}

.sticky-footer,
.sticky-push {
  height: 50px;
}

.app {
  &-warning-message {
    div.ecos-dialog__buttons {
      display: flex;
      flex-direction: column;
    }

    button.close {
      display: none;
    }
  }

  &-container {
    height: 100%;
    min-height: 100%;
  }

  &-container.new .app-content {
    padding-bottom: 0;
  }

  &-header {
    z-index: 906;
  }

  &-content {
    & > .ecos-journal-page > .ecos-journal {
      overflow-x: unset;
    }
  }

  &-footer {
    display: grid;
    padding: 3px 40px 15px;
    justify-content: space-between;
    text-align: center;
    font-size: 10px;
    background: $color-footer;
    grid-row-end: -1;
  }
}
