@import '../../../../styles/constants';

.grid-tools {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1px;
  right: 0;
  left: 54px;
  z-index: 26;
  height: 50px;
  padding-left: 15px;
  background: $color-white;

  &__selected-count {
    font-weight: $font-weight-semi-bold;
  }

  & > :nth-child(n) {
    margin-right: 15px;
  }
}

.grid-tools__item {
  padding: 1px 9px 1px 0;
  display: inline-block;
}

.grid-tools__item_select-all {
  padding-right: 15px;
}

.grid-tools__item_select-all-btn {
  padding-right: 14px !important;
  padding-left: 14px !important;
  border-radius: $border-radius-standard !important;
}

.grid-tools__item_select-group-actions-btn {
  padding-right: 10px !important;
  padding-left: 10px !important;
  border-radius: $border-radius-standard !important;
}

.grid-tools__item_left_5 {
  margin-left: 5px;
}

.grid-tools_r_12 {
  border-radius: $border-radius-extra-large;
}
