.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  max-width: 428px;
  padding-top: 16px;
  color: red;
}

.input {
  width: 260px;
  outline: none;
  margin-top: 5px;
  border-width: 1px;
  padding: 2px;
  border: 1px solid #ccc;
}

.trademark {
  height: 50px;
  width: 320px;
  background: transparent url(/share/res/components/images/simple+smart-medium.png) no-repeat;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-size: contain;
  max-width: 100%;
}

@media screen and (max-width: 440px) {
  .container {
    overflow: hidden;
  }
  .trademark {
    right: 0;
  }
}
