@import '../../styles/constants';

.dev-tools-page {
  &__title {
    margin: 20px 0 10px;
  }

  &__tab-content {
    margin-top: 20px;
    padding: 20px;
  }

  &__error {
    margin-bottom: 2em;
  }

  &__setting {
    margin-bottom: 2em;
  }

  &__switch-setting {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 0.8em;
    font-weight: $font-weight-semi-bold;
  }
}
