@import '../../../../styles/constants.scss';

i.columns {
  background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='16'%20height='16'%20fill='currentColor'%20class='bi%20bi-layout-three-columns'%20viewBox='0%200%2016%2016'%3e%3cpath%20d='M0%201.5A1.5%201.5%200%200%201%201.5%200h13A1.5%201.5%200%200%201%2016%201.5v13a1.5%201.5%200%200%201-1.5%201.5h-13A1.5%201.5%200%200%201%200%2014.5v-13zM1.5%201a.5.5%200%200%200-.5.5v13a.5.5%200%200%200%20.5.5H5V1H1.5zM10%2015V1H6v14h4zm1%200h3.5a.5.5%200%200%200%20.5-.5v-13a.5.5%200%200%200-.5-.5H11v14z'/%3e%3c/svg%3e");
}

.rt-editor-theme {
  &__list {
    &-item {
      padding: 0;
      margin: 0;
    }
  }

  &__nested-list-item {
    list-style-type: none;
  }

  &__ul {
    margin: 0 32px;
    list-style: inside;
  }

  &__text {
    &_bold {
      font-weight: bold;
    }

    &_italic {
      font-style: italic;
    }

    &_underline {
      text-decoration: underline;
    }

    &_strike-through {
      text-decoration: line-through;
    }

    &_underline-strike-through {
      text-decoration: underline line-through;
    }

    &_subscript {
      font-size: 0.8em;
      vertical-align: sub !important;
    }

    &_superscript {
      font-size: 0.8em;
      vertical-align: super;
    }

    &_code {
      background-color: rgb(240, 242, 245);
      padding: 1px 0.25rem;
      font-family: monospace;
    }
  }

  &__table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow-y: scroll;
    overflow-x: scroll;
    table-layout: fixed;
    width: max-content;
    margin: 0;
  }

  &__tableSelection *::selection {
    background-color: transparent;
  }

  &__tableSelected {
    outline: 2px solid $color-blue-dark3;
  }

  &__tableCell {
    border: 1px solid $color-gray-5;
    width: 100px;
    min-width: 100px;
    vertical-align: top;
    text-align: start;
    padding: 10px;
    position: relative;
    outline: none;
  }

  &__tableCellSortedIndicator {
    display: block;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $color-gray-26;
  }

  &__tableCellResizer {
    position: absolute;
    right: -4px;
    height: 100%;
    width: 8px;
    cursor: ew-resize;
    z-index: 10;
    top: 0;
  }

  &__tableCellHeader {
    background-color: $color-gray-10;
    text-align: start;
  }

  &__tableCellSelected {
    background-color: $color-blue-light2;
  }

  &__tableCellPrimarySelected {
    border: 2px solid $color-blue-dark3;
    display: block;
    height: calc(100% - 2px);
    position: absolute;
    width: calc(100% - 2px);
    left: -1px;
    top: -1px;
    z-index: 2;
  }

  &__tableCellEditing {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
  }

  &__tableAddColumns {
    position: absolute;
    top: 0;
    width: 20px;
    background-color: $color-gray;
    height: 100%;
    right: 0;
    animation: table-controls 0.2s ease;
    border: 0;
    cursor: pointer;
  }

  &__tableAddColumns:after {
    background-image: url(../../../Lexical/images/icons/plus.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  &__tableAddColumns:hover {
    background-color: $color-blue-light2;
  }

  &__tableAddRows {
    position: absolute;
    bottom: -25px;
    width: calc(100% - 25px);
    background-color: $color-gray;
    height: 20px;
    left: 0;
    animation: table-controls 0.2s ease;
    border: 0;
    cursor: pointer;
  }

  &__tableAddRows:after {
    background-image: url(../../../Lexical/images/icons/plus.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  &__tableAddRows:hover {
    background-color: $color-blue-light2;
  }

  @keyframes table-controls {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__tableCellResizeRuler {
    display: block;
    position: absolute;
    width: 1px;
    background-color: $color-blue-dark3;
    height: 100%;
    top: 0;
  }

  &__tableCellActionButtonContainer {
    display: block;
    right: 5px;
    top: 6px;
    position: absolute;
    z-index: 4;
    width: 20px;
    height: 20px;
  }

  &__tableCellActionButton {
    background-color: $color-gray;
    display: block;
    border: 0;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    color: $color-gray-dark;
    cursor: pointer;
  }

  &__tableCellActionButton:hover {
    background-color: $color-gray-8;
  }

  &__preview {
    display: inline-flex;
    align-items: flex-end;
    height: 150px;
    width: 150px;
    border: 1px solid $color-gray-5;
    caret-color: transparent;
    position: relative;
    border-radius: 16px;
    margin-right: 8px;
    box-shadow: $box-shadow-tooltip;

    &:hover {
      opacity: 0.5;

      & .load-icon {
        display: inline;
      }
    }

    &-note {
      padding: 16px;
      width: 100%;
      border-top: 1px solid $color-gray-5;
    }

    & .load-icon {
      display: none;
      position: absolute;
      top: 45%;
      left: 45%;
    }
  }
}

/**
 * Copyright (c) Meta Platforms, Inc. and affiliates.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 *
 *
 */
.LEd__ltr {
  text-align: left;
}
.LEd__rtl {
  text-align: right;
}
.PlaygroundEditorTheme__paragraph {
  margin: 0;
  position: relative;
}
.LEd__quote {
  margin: 0 0 10px 20px;
  font-size: 15px;
  color: $text-color-gray;
  border-left-color: $color-gray-2;
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}
.LEd__h1 {
  font-size: 24px;
  color: $color-gray-dark;
  font-weight: 400;
  margin: 0;
}
.LEd__h2 {
  font-size: 15px;
  color: $text-color-gray;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.LEd__h3 {
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
}
.LEd__indent {
  --lexical-indent-base-value: 40px;
}
.LEd__textBold {
  font-weight: bold;
}
.PlaygroundEditorTheme__paragraph mark {
  background-color: unset;
}
.LEd__textHighlight {
  background: rgba(255, 212, 0, 0.14);
  border-bottom: 2px solid rgba(255, 212, 0, 0.3);
}
.LEd__textItalic {
  font-style: italic;
}
.LEd__textUnderline {
  text-decoration: underline;
}

.LEd__textStrikethrough {
  text-decoration: line-through;
}

.LEd__textUnderlineStrikethrough {
  text-decoration: underline line-through;
}

.LEd__tabNode {
  position: relative;
  text-decoration: none;
}

.LEd__tabNode.LEd__textUnderline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.15em;
  border-bottom: 0.1em solid currentColor;
}

.LEd__tabNode.LEd__textStrikethrough::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0.69em;
  border-top: 0.1em solid currentColor;
}

.LEd__tabNode.LEd__textUnderlineStrikethrough::before,
.LEd__tabNode.LEd__textUnderlineStrikethrough::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.LEd__tabNode.LEd__textUnderlineStrikethrough::before {
  top: 0.69em;
  border-top: 0.1em solid currentColor;
}

.LEd__tabNode.LEd__textUnderlineStrikethrough::after {
  bottom: 0.05em;
  border-bottom: 0.1em solid currentColor;
}

.LEd__textSubscript {
  font-size: 0.8em;
  vertical-align: sub !important;
}
.LEd__textSuperscript {
  font-size: 0.8em;
  vertical-align: super;
}
.LEd__textCode {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}
.LEd__textLowercase {
  text-transform: lowercase;
}
.LEd__textUppercase {
  text-transform: uppercase;
}
.LEd__textCapitalize {
  text-transform: capitalize;
}
.LEd__hashtag {
  background-color: rgba(88, 144, 255, 0.15);
  border-bottom: 1px solid rgba(88, 144, 255, 0.3);
}
.LEd__link {
  color: $text-link;
  text-decoration: none;
}
.LEd__link:hover {
  cursor: pointer;
}
.LEd__blockCursor {
  display: block;
  pointer-events: none;
  position: absolute;
}
.LEd__blockCursor:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid black;
  animation: CursorBlink 1.1s steps(2, start) infinite;
}
@keyframes CursorBlink {
  to {
    visibility: hidden;
  }
}
.LEd__code {
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 8px 0;
  overflow-x: auto;
  position: relative;
  tab-size: 2;
}
.LEd__code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: $color-gray;
  left: 0;
  top: 0;
  border-right: 1px solid $color-gray-8;
  padding: 8px;
  color: $color-gray-12;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}
.LEd__tableScrollableWrapper {
  overflow-x: auto;
  margin: 0 25px 30px 0;
}
.LEd__tableScrollableWrapper > .LEd__table {
  /* Remove the table's vertical margin and put it on the wrapper */
  margin-top: 0;
  margin-bottom: 0;
}
.LEd__tableAlignmentCenter {
  margin-left: auto;
  margin-right: auto;
}
.LEd__tableAlignmentRight {
  margin-left: auto;
}
.LEd__table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow-y: scroll;
  overflow-x: scroll;
  table-layout: fixed;
  width: fit-content;
  margin-top: 25px;
  margin-bottom: 30px;
}
.LEd__tableFrozenRow {
  /* position:sticky needs overflow:clip or visible
     https://github.com/w3c/csswg-drafts/issues/865#issuecomment-350585274 */
  overflow-x: clip;
}
.LEd__tableFrozenRow tr:nth-of-type(1) > td {
  overflow: clip;
  background-color: $color-white;
  position: sticky;
  z-index: 2;
  top: 44px;
}
.LEd__tableFrozenRow tr:nth-of-type(1) > th {
  overflow: clip;
  background-color: $color-gray-10;
  position: sticky;
  z-index: 2;
  top: 44px;
}
.LEd__tableFrozenRow tr:nth-of-type(1) > th:after,
.LEd__tableFrozenRow tr:nth-of-type(1) > td:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid $color-gray-5;
}
.LEd__tableFrozenColumn tr > td:first-child {
  background-color: $color-white;
  position: sticky;
  z-index: 2;
  left: 0;
}
.LEd__tableFrozenColumn tr > th:first-child {
  background-color: $color-gray-10;
  position: sticky;
  z-index: 2;
  left: 0;
}
.LEd__tableFrozenColumn tr > :first-child::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  border-right: 1px solid $color-gray-5;
}
.LEd__tableRowStriping tr:nth-child(even) {
  background-color: $color-blue-light3;
}
.LEd__tableSelection *::selection {
  background-color: transparent;
}
.LEd__tableSelected {
  outline: 2px solid $color-blue-dark3;
}
.LEd__tableCell {
  border: 1px solid $color-gray-5;
  width: 75px;
  vertical-align: top;
  text-align: start;
  padding: 6px 8px;
  position: relative;
  outline: none;
  overflow: auto;
}
/*
  A firefox workaround to allow scrolling of overflowing table cell
  ref: https://bugzilla.mozilla.org/show_bug.cgi?id=1904159
*/
.LEd__tableCell > * {
  overflow: inherit;
}
.LEd__tableCellResizer {
  position: absolute;
  right: -4px;
  height: 100%;
  width: 8px;
  cursor: ew-resize;
  z-index: 10;
  top: 0;
}
.LEd__tableCellHeader {
  background-color: $color-gray-10;
  text-align: start;
}
.LEd__tableCellSelected {
  caret-color: transparent;
}
.LEd__tableCellSelected::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: highlight;
  mix-blend-mode: multiply;
  content: '';
  pointer-events: none;
}
@keyframes table-controls {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.LEd__tableCellResizeRuler {
  display: block;
  position: absolute;
  width: 1px;
  background-color: $color-blue-dark3;
  height: 100%;
  top: 0;
}
.LEd__tableCellActionButtonContainer {
  display: block;
  right: 5px;
  top: 6px;
  position: absolute;
  z-index: 4;
  width: 20px;
  height: 20px;
}
.LEd__tableCellActionButton {
  background-color: $color-gray;
  display: block;
  border: 0;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  color: $color-gray-dark;
  cursor: pointer;
}
.LEd__tableCellActionButton:hover {
  background-color: $color-gray-8;
}
.LEd__characterLimit {
  display: inline;
  background-color: $color-pink !important;
}
.LEd__ol1 {
  padding: 0;
  margin: 0;
  list-style-position: outside;
}
.LEd__ol2 {
  padding: 0;
  margin: 0;
  list-style-type: upper-alpha;
  list-style-position: outside;
}
.LEd__ol3 {
  padding: 0;
  margin: 0;
  list-style-type: lower-alpha;
  list-style-position: outside;
}
.LEd__ol4 {
  padding: 0;
  margin: 0;
  list-style-type: upper-roman;
  list-style-position: outside;
}
.LEd__ol5 {
  padding: 0;
  margin: 0;
  list-style-type: lower-roman;
  list-style-position: outside;
}
.LEd__ul {
  padding: 0;
  margin: 0;
  list-style-position: outside;
}
.LEd__listItem {
  margin: 0 32px;
}
.LEd__listItem::marker {
  color: $color-black;
}
.LEd__listItemChecked,
.LEd__listItemUnchecked {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 3px;
  padding-left: 24px;
  padding-right: 24px;
  list-style-type: none;
  outline: none;
}
.LEd__listItemChecked {
  text-decoration: line-through;
  margin-bottom: 3px;
}
.LEd__listItemUnchecked:before,
.LEd__listItemChecked:before {
  content: '';
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  cursor: pointer;
  display: block;
  background-size: cover;
  position: absolute;
}
.LEd__listItemUnchecked[dir='rtl']:before,
.LEd__listItemChecked[dir='rtl']:before {
  left: auto;
  right: 0;
}
.LEd__listItemUnchecked:focus:before,
.LEd__listItemChecked:focus:before {
  box-shadow: 0 0 0 2px $color-blue-light;
  border-radius: 2px;
}
.LEd__listItemUnchecked:before {
  border: 1px solid $color-gray-26;
  border-radius: 2px;
}
.LEd__listItemChecked:before {
  border: 1px solid $color-blue-dark3;
  border-radius: 2px;
  background-color: $color-blue-dark;
  background-repeat: no-repeat;
}
.LEd__listItemChecked:after {
  content: '';
  cursor: pointer;
  border-color: $color-white;
  border-style: solid;
  position: absolute;
  display: block;
  top: 6px;
  width: 3px;
  left: 7px;
  right: 7px;
  height: 6px;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
}
.LEd__nestedListItem {
  list-style-type: none;
}
.LEd__nestedListItem:before,
.LEd__nestedListItem:after {
  display: none;
}
.LEd__tokenComment {
  color: slategray;
}
.LEd__tokenPunctuation {
  color: $color-gray-26;
}
.LEd__tokenProperty {
  color: #905;
}
.LEd__tokenSelector {
  color: #690;
}
.LEd__tokenOperator {
  color: #9a6e3a;
}
.LEd__tokenAttr {
  color: #07a;
}
.LEd__tokenVariable {
  color: $color-orange-2;
}
.LEd__tokenFunction {
  color: $color-red-3;
}
.LEd__mark {
  background: rgba(255, 212, 0, 0.14);
  border-bottom: 2px solid rgba(255, 212, 0, 0.3);
  padding-bottom: 2px;
}
.LEd__markOverlap {
  background: rgba(255, 212, 0, 0.3);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}
.LEd__mark.selected {
  background: rgba(255, 212, 0, 0.5);
  border-bottom: 2px solid rgba(255, 212, 0, 1);
}
.LEd__markOverlap.selected {
  background: rgba(255, 212, 0, 0.7);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}
.LEd__embedBlockFocus {
  outline: 2px solid $color-blue-dark3;
}
.LEd__layoutContainer {
  display: grid;
  gap: 10px;
  margin: 10px 0;
}
.LEd__layoutItem {
  border: 1px dashed $color-gray-8;
  padding: 8px 16px;
  min-width: 0;
  max-width: 100%;
}
.LEd__autocomplete {
  color: $color-gray-8;
}
.LEd__hr {
  padding: 2px 2px;
  border: none;
  margin: 1em 0;
  cursor: pointer;
}
.LEd__hr:after {
  content: '';
  display: block;
  height: 2px;
  background-color: $color-gray-8;
  line-height: 2px;
}
.LEd__hr.selected {
  outline: 2px solid $color-blue-dark3;
  user-select: none;
}

.LEd__specialText {
  background-color: yellow;
  font-weight: bold;
}
