@import '../../../../styles/constants.scss';

i.columns {
  background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='16'%20height='16'%20fill='currentColor'%20class='bi%20bi-layout-three-columns'%20viewBox='0%200%2016%2016'%3e%3cpath%20d='M0%201.5A1.5%201.5%200%200%201%201.5%200h13A1.5%201.5%200%200%201%2016%201.5v13a1.5%201.5%200%200%201-1.5%201.5h-13A1.5%201.5%200%200%201%200%2014.5v-13zM1.5%201a.5.5%200%200%200-.5.5v13a.5.5%200%200%200%20.5.5H5V1H1.5zM10%2015V1H6v14h4zm1%200h3.5a.5.5%200%200%200%20.5-.5v-13a.5.5%200%200%200-.5-.5H11v14z'/%3e%3c/svg%3e");
}

.rt-editor-theme {
  &__list {
    &-item {
      padding: 0;
      margin: 0;
    }
  }

  &__nested-list-item {
    list-style-type: none;
  }

  &__ul {
    margin: 0 32px;
    list-style-position: inside;
    list-style: initial;
  }

  &__text {
    &_bold {
      font-weight: bold;
    }

    &_italic {
      font-style: italic;
    }

    &_underline {
      text-decoration: underline;
    }

    &_strike-through {
      text-decoration: line-through;
    }

    &_underline-strike-through {
      text-decoration: underline line-through;
    }

    &_subscript {
      font-size: 0.8em;
      vertical-align: sub !important;
    }

    &_superscript {
      font-size: 0.8em;
      vertical-align: super;
    }

    &_code {
      background-color: rgb(240, 242, 245);
      padding: 1px 0.25rem;
      font-family: monospace;
    }
  }

  &__table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow-y: scroll;
    overflow-x: scroll;
    table-layout: fixed;
    width: max-content;
    margin: 30px 0;
  }

  &__tableSelection *::selection {
    background-color: transparent;
  }

  &__tableSelected {
    outline: 2px solid rgb(60, 132, 244);
  }

  &__tableCell {
    border: 1px solid #bbb;
    width: 100px;
    min-width: 100px;
    vertical-align: top;
    text-align: start;
    padding: 10px;
    position: relative;
    outline: none;
  }

  &__tableCellSortedIndicator {
    display: block;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #999;
  }

  &__tableCellResizer {
    position: absolute;
    right: -4px;
    height: 100%;
    width: 8px;
    cursor: ew-resize;
    z-index: 10;
    top: 0;
  }

  &__tableCellHeader {
    background-color: #f2f3f5;
    text-align: start;
  }

  &__tableCellSelected {
    background-color: #c9dbf0;
  }

  &__tableCellPrimarySelected {
    border: 2px solid rgb(60, 132, 244);
    display: block;
    height: calc(100% - 2px);
    position: absolute;
    width: calc(100% - 2px);
    left: -1px;
    top: -1px;
    z-index: 2;
  }

  &__tableCellEditing {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
  }

  &__tableAddColumns {
    position: absolute;
    top: 0;
    width: 20px;
    background-color: #eee;
    height: 100%;
    right: 0;
    animation: table-controls 0.2s ease;
    border: 0;
    cursor: pointer;
  }

  &__tableAddColumns:after {
    // background-image: url(../images/icons/plus.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  &__tableAddColumns:hover {
    background-color: #c9dbf0;
  }

  &__tableAddRows {
    position: absolute;
    bottom: -25px;
    width: calc(100% - 25px);
    background-color: #eee;
    height: 20px;
    left: 0;
    animation: table-controls 0.2s ease;
    border: 0;
    cursor: pointer;
  }

  &__tableAddRows:after {
    // background-image: url(../images/icons/plus.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  &__tableAddRows:hover {
    background-color: #c9dbf0;
  }

  @keyframes table-controls {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__tableCellResizeRuler {
    display: block;
    position: absolute;
    width: 1px;
    background-color: rgb(60, 132, 244);
    height: 100%;
    top: 0;
  }

  &__tableCellActionButtonContainer {
    display: block;
    right: 5px;
    top: 6px;
    position: absolute;
    z-index: 4;
    width: 20px;
    height: 20px;
  }

  &__tableCellActionButton {
    background-color: #eee;
    display: block;
    border: 0;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    color: #222;
    cursor: pointer;
  }

  &__tableCellActionButton:hover {
    background-color: #ddd;
  }

  &__preview {
    display: inline-flex;
    align-items: flex-end;
    height: 150px;
    width: 150px;
    border: 1px solid $color-gray-5;
    caret-color: transparent;
    position: relative;
    border-radius: 16px;
    margin-right: 8px;
    box-shadow: $box-shadow-tooltip;

    &:hover {
      opacity: 0.5;

      & .load-icon {
        display: inline;
      }
    }

    &-note {
      padding: 16px;
      width: 100%;
      border-top: 1px solid $color-gray-5;
    }

    & .load-icon {
      display: none;
      position: absolute;
      top: 45%;
      left: 45%;
    }
  }
}

.typeahead-popover {
  position: fixed;
  margin-top: 20px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.typeahead-popover ul {
  padding: 0;
  list-style: none;
  margin: 0;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: scroll;
}

.typeahead-popover ul::-webkit-scrollbar {
  display: none;
}

.typeahead-popover ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.typeahead-popover ul li {
  margin: 0;
  min-width: 180px;
  font-size: 14px;
  outline: none;
  cursor: pointer;

  .ecos-avatar {
    width: 20px;
    height: 20px;
    margin-right: 10px;

    .ecos-avatar__icon {
      margin: 0 !important;
      font-size: 18px;
      border: 1px #7396cd solid;

      &:before {
        margin: 0 !important;
      }
    }
  }
}

.typeahead-popover ul li.selected {
  background: #eee;
}

.typeahead-popover li {
  margin: 0 8px 0 8px;
  padding: 8px;
  color: #050505;
  cursor: pointer;
  line-height: 16px;
  font-size: 15px;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-shrink: 0;
  background-color: #fff;
  border: 0;
}

.typeahead-popover li.active {
  display: flex;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.typeahead-popover li:first-child {
  border-radius: 8px 8px 0 0;
}

.typeahead-popover li:last-child {
  border-radius: 0 0 8px 8px;
}

.typeahead-popover li:hover {
  background-color: #eee;
}

.typeahead-popover li .text {
  display: flex;
  line-height: 20px;
  flex-grow: 1;
  min-width: 150px;
}

.typeahead-popover li .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
