@import '../../../../../../styles/constants';

.colored-formatter {
  padding: 4px 15px;
  height: 20px;
  display: inline-block;
  border-radius: $border-radius-extra-large;
  color: #444444;
  font-size: 12px;
  font-weight: 400;
}
