@import '../../../styles/constants';

.search {
  border-radius: $border-radius-standard;
  padding: 6px 12px 6px 6px;
  display: inline-block;
  border: 2px solid $color-gray-1;
  background: $color-white;
  position: relative;
  width: 220px;
  min-width: 40px;
  transition: width 0.5s;
  overflow: hidden;

  &_border-white {
    border: 2px solid $color-white;
  }

  &_collapsed {
    width: 40px;
    padding-left: 8px;
  }

  &__input {
    outline: none !important;
    border: none !important;
    font-weight: $font-weight-semi-bold !important;
    font-size: $font-size-standard !important;
    width: calc(100% - 40px) !important;
    transition: width 0.5s;
    position: absolute;
    left: 35px;
    color: $text-color-dark;

    &::placeholder {
      color: $color-gray-5;
    }

    &_with-cleaner {
      padding-right: 30px;
    }
  }

  &__icon {
    color: $color-gray-5;
    cursor: pointer;
    position: absolute;
    top: 8px;

    &-search {
      z-index: 10;
    }

    &-cleaner {
      z-index: 5;
      font-size: 14px;
      opacity: 0;
      transition: opacity 0s;
      transition-delay: 0s;

      padding: 5px 7px;
      top: 3px;
      right: 5px;
      pointer-events: none;

      &_show {
        pointer-events: auto;
        opacity: 1;
        transition-delay: 0.5s;
      }
    }
  }
}
