@import '../../../styles/constants';

.item {
  margin: 10px 0 0 0;
  padding: 0 10px 0 5px;
  background-color: $color-white;
  border-radius: $border-radius-large;
  overflow: hidden;

  display: flex;
  justify-content: space-between;

  &:hover {
    .viewCard {
      display: block;
    }
  }

  &:before {
    content: '';
    display: block;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-bottom-left-radius: 8px;
    position: absolute;
    left: -18px;
    top: -20px;
    height: 55px;
    width: 14px;
  }
}

.itemWrapper {
  &:first-child {
    .item {
      &:before {
        height: 30px;
        top: 5px;
      }
    }
  }
}

.leftPart {
  padding-left: 10px;
}

.label {
  margin: 7px 0 0 0;
  line-height: 18px;

  font-size: 12px;
  color: $color-black;
  font-weight: $font-weight-semi-bold;
}

.authorAndDatetime {
  margin-bottom: 0;
  line-height: 18px;
}

.author,
.datetime {
  margin: 0;
  font-size: 11px;
  color: $text-color-gray;
}

.author {
  font-weight: $font-weight-semi-bold;
  margin-right: 5px;
}

.actions {
  display: flex;
}

.dndActionIcon {
  font-size: 26px;
  color: $color-gray-6;
  cursor: pointer;
  line-height: 50px;

  &:hover {
    color: $color-blue-light;
  }
}

.hiddenIcon {
  display: none;
}

.editActionIcon {
  font-size: 18px;
  color: $color-gray-6;
  cursor: pointer;
  line-height: 50px;
  margin-left: 7px;

  &:hover {
    color: $color-blue-light;
  }
}

.viewCard {
  background: $color-gray-4;
  border-radius: $border-radius-large;

  font-weight: $font-weight-semi-bold;
  font-size: $font-size-standard;
  text-align: center;

  color: $text-color-dark;
  line-height: 40px;
  height: 40px;
  margin-top: 5px;
  margin-right: 20px;
  padding: 0 15px;

  display: none;

  &:hover {
    color: $text-color-dark;
  }
}

.emptyActionIcon {
  display: inline-block;
  width: 25px;
  height: 50px;
}
