@import '../../constants';

.filter-list__toolbar {
  margin: 21px 0 15px 21px;
}

.filter-list__toolbar-button_next {
  margin-left: 10px;
}

.filter-list__content {
  margin-bottom: 21px;
}

.filter-list__desc {
  background: $color-gray-4;
  color: $text-color-gray;
  width: 100%;
  padding: 0 21px;
  height: 26px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: $border-radius-small;
  line-height: 2;
  font-family: $font-family;
  font-size: $font-size-small;
  font-weight: $font-weight-semi-bold;
  font-style: normal;
  text-align: left;
}
