@import '../../../styles/constants';

.ecos-barcode {
  $root: &;

  &_hidden {
    display: none;
  }

  &-dashlet {
    &__body {
      padding: 17px 0 19px;

      .dashlet__body-actions {
        padding: 0;
      }

      &-content {
        padding: 0 20px;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 7px;
    min-height: 146px;
    border-radius: 6px;
    background-color: $color-gray-4;
    border: 1px solid $color-white;
    padding: 20px;

    & .ecos-btn {
      margin-top: 0;
    }
  }

  &__error {
    color: $color-red-1;
    text-align: center;
    font-weight: $font-weight-bold;
    font-size: $font-size-small;
    margin-bottom: 20px;
  }

  &__image {
    object-fit: contain;
    max-width: 100%;
    margin-top: 20px;
  }

  &-settings {
    &__label {
      font-size: $font-size-small;
      line-height: 16px;
      width: 100%;
      padding: 4px 10px;
      background: $color-gray-25;
      border-radius: $border-radius-standard;
    }

    &__section-name {
      font-weight: $font-weight-semi-bold;
      font-size: $font-size-large;
      line-height: 22px;
      margin-bottom: 15px;

      &_s {
        font-size: $font-size-standard;
      }
    }

    &__group {
      margin-bottom: 15px;

      &_parts {
        display: flex;
      }

      &-part {
        display: flex;
        flex-direction: column;

        &_greedy {
          flex-grow: 1;
        }
      }
    }

    &__percent {
      display: flex;
      flex-direction: column-reverse;
      height: 100%;
      margin-left: 5px;
      margin-bottom: 8px;
      font-weight: $font-weight-semi-bold;
      font-size: $font-size-standard;
      line-height: 22px;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
    }

    &__filters {
      & .ecos-filters-group {
        box-shadow: none;

        & .ecos-filters-group__empty {
          background: $color-blue-light3;
          border-radius: $border-radius-standard;
          height: unset;
          font-size: $font-size-small;
          padding: 4px 10px;
        }
      }
    }
  }
}
