@import '../../../styles/constants';

.ecos-list-group {
  .list-group-item {
    font-family: $font-family;
    font-size: $font-size-standard;
    font-weight: $font-weight-semi-bold;
    color: $text-color-dark;
    padding: 11px 1.25rem;
    border: 1px solid $color-gray-4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background: $color-blue-light;
      color: $color-white;
      border-radius: $border-radius-standard;
    }

    &.list-group-item_selected {
      background: $color-blue-light;
      color: $color-white;
      border-radius: $border-radius-standard;
    }
  }
}

.ecos-list-group_hover_off {
  .list-group-item {
    &:hover {
      background: inherit;
      color: inherit;
    }
  }
}

.ecos-list-group_overflow_visible {
  .list-group-item {
    overflow: visible;
  }
}

.ecos-list-group_mode_journal {
  .list-group-item {
    padding: 0;
    line-height: 1;
    font-weight: $font-weight-bold;

    &:hover {
      cursor: pointer;
    }
  }
}

.list-group_no-border {
  .list-group-item {
    border: 0;
    margin-bottom: 1px;
  }
}

.list-group_no-margin {
  .list-group-item {
    padding: 11px 0;
  }
}
