@import '../../../constants';

.list-group {
  .list-group-item {
    font-family: $font-family;
    font-size: $font-size-standard;
    font-weight: $font-weight-bold;
    color: $text-color-dark;
    padding: 11px 1.25rem;

    &:hover {
      background: $color-blue-light;
      color: $color-white;
      border-radius: $border-radius-standard;
    }
  }
}

.list-group_no-border {
  .list-group-item {
    border: 0;
    margin-bottom: 1px;
  }
}
