@import '../../../styles/constants';

.ecos-list-group {
  .list-group-item {
    font-family: $font-family;
    font-size: $font-size-standard;
    font-weight: $font-weight-semi-bold;
    color: $text-color-dark;
    padding: 11px 1.25rem;
    border: 1px solid $color-gray-4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;

    &_new {
      max-width: $max-width-dropdown-menu;
      min-width: $min-width-dropdown-menu;

      font-family: $font-family;
      font-size: $font-size-extra-small;
      font-weight: $font-weight-semi-bold;
      color: $text-color-dark;
      padding: 10px 1rem;
      height: 35px;
      box-sizing: border-box;

      &:first-child,
      &:hover:first-child {
        border-radius: 6px 6px 0 0;
      }
      &:last-child,
      &:hover:last-child {
        border-radius: 0 0 6px 6px;
      }

      &.list-group-item_selected,
      &.list-group-item_selected:hover {
        background: $color-gray-3;

        .ecos-journal-menu__list-item-actions {
          background: linear-gradient(to right, rgba($color-gray-3, 0), $color-gray-3 15%) !important;
        }
      }

      &:hover {
        background: $color-gray-4;
        border-radius: 0;
      }

      .ecos-journal-menu__list-item-actions {
        background: linear-gradient(to right, rgba($color-gray-4, 0), $color-gray-4 15%) !important;

        i {
          color: $text-color-gray;
        }
      }
    }

    &:hover {
      background-color: var(--dark-primary-color);
      color: $color-white;
      border-radius: $border-radius-standard;
    }

    &.list-group-item_selected {
      background-color: var(--light-primary-color);
      color: $color-white;
      border-radius: $border-radius-standard;
    }
  }
}

.ecos-list-group_hover_off {
  .list-group-item {
    &:hover {
      background: inherit;
      color: inherit;
    }
  }
}

.ecos-list-group_overflow_visible {
  .list-group-item {
    overflow: visible;
  }
}

.ecos-list-group_mode_journal {
  .list-group-item {
    padding: 0;
    line-height: 1;
    font-weight: $font-weight-bold;

    &:hover {
      cursor: pointer;
    }
  }
}

.list-group_no-border {
  .list-group-item {
    border: 0;
    margin-bottom: 1px;
  }
}

.list-group_no-margin {
  .list-group-item {
    padding: 11px 0;
  }
}

.ecos-journal-menu__list-item_new {
  &:hover .ecos-journal-menu__list-item-actions {
    top: 6px !important;
  }
}
