#slide-menu-checkbox {
  display: none;
}

/* .page-content-root */
.page-content-root {
  -webkit-transform: translateX(60px);
  -moz-transform: translateX(60px);
  transform: translateX(60px);
  transition: transform 0.3s;
  width: calc(100% - 60px);
}

#slide-menu-checkbox:checked ~ .page-content-root {
  -webkit-transform: translateX(350px);
  -moz-transform: translateX(350px);
  transform: translateX(350px);
}

/* .slide-menu */
.slide-menu {
  box-sizing: border-box;
  width: 60px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  left: 0;
  padding: 0;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  background: #f0f0f0;
  z-index: 10;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
}

#slide-menu-checkbox:checked ~ .slide-menu {
  width: 350px;
}

/* .slide-menu-toggle */
.slide-menu-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  z-index: 11;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-toggle {
  left: auto;
  bottom: auto;
  right: 15px;
  top: 8px;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-toggle:after {
  content: '\f100';
  font: normal normal normal 25px/1 FontAwesome;
  color: #52759d;
}

/* mask */
.slide-menu-mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
}

#slide-menu-checkbox:checked ~ .slide-menu-mask {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}

.slide-menu-mask label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* .slide-menu-logo */
.slide-menu-logo {
  height: 40px;
}

.slide-menu-logo__small {
  width: 59px;
  padding: 8px 17px;
  float: left;

  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-logo__small {
  visibility: hidden;
  opacity: 0;
}

.slide-menu-logo__large {
  display: none;
  height: 40px;
  text-align: center;
}

.slide-menu-logo__large img {
  padding-top: 10px;
}

.slide-menu-logo__large a {
  left: -30px;
  position: relative;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-logo__large {
  display: block;
}

/* .slide-menu-list */
.slide-menu-list {
  overflow: hidden;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list {
  overflow-y: auto;
}

.slide-menu-list__vertical-track {
  right: 2px;
  bottom: 2px;
  top: 2px;
  border-radius: 3px;
  display: none;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__vertical-track {
  display: block;
}

.slide-menu-list nav {
  padding-bottom: 30px;
}

.slide-menu-list ul {
  list-style: none;
  padding: 0;
}

.slide-menu-list__link {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  display: block;
  padding: 10px 10px 10px 17px;
  margin: 0;
  line-height: 20px;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__link_selected {
  background-color: #c6d3de;
}

.slide-menu-list__link-label {
  visibility: hidden;
  width: 0;
  display: block;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__link-label {
  visibility: visible;
  display: inline-block;
  width: auto;
}

.slide-menu-list__link .fa {
  font-size: 18px;
  text-align: center;
  color: #52759d;
  line-height: 20px;
  height: 20px;
  width: 25px;
  margin-right: 20px;
  float: left;
}

.slide-menu-list__item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.slide-menu-list__item.list-divider .list-divider__text {
  display: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 12px 10px 12px 20px;
  font-weight: 600;
  color: #52759d;
}

.slide-menu-list__item.list-divider:before {
  content: '';
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 33px;
  margin-top: 10px;
  margin-left: 20px;
  border-top: 1px solid grey;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__item.list-divider:before {
  content: none;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__item.list-divider .list-divider__text {
  display: block;
}

.slide-menu-list__toggle-collapse {
  box-sizing: border-box;
  height: 40px;
  width: 50px;
  border-left: 1px solid #d8d8d8;
  padding: 0;
  float: right;
  opacity: 0;

  position: absolute;
  right: 0;
  top: 0;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__toggle-collapse {
  opacity: 1;
  transition: opacity ease-out 1s;
}

.slide-menu-list__toggle-collapse:after {
  content: '';
  border-top: 2px solid #52759d;
  border-left: 2px solid #52759d;
  box-sizing: content-box;
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;

  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  right: 23px;
  left: auto;

  transition: transform 0.1s, right 0.1s;
}

.slide-menu-list__toggle-collapse_expanded:after {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  right: 19px;
}

.slide-menu-collapsible-list {
  display: none;
}

.slide-menu-collapsible-list_expanded {
  display: block;
  padding-left: 10px;
}

.slide-menu-collapsible-list_nested {
  background: inherit;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-collapsible-list_nested {
  background: rgba(255, 255, 255, 0.4);
  padding: 10px 0 10px 10px;
}

/**
 * fix bug for Android <= 4.1.2
 * see: http://timpietrusky.com/advanced-checkbox-hack
 */

body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  to {
    padding: 0;
  }
}

/* mobile styles */
@media screen and (min-width: 320px) {
  html,
  body {
    margin: 0;
    /*overflow-x: hidden;*/
  }
}

@media screen and (max-width: 440px) {
  .slide-menu {
    left: -60px;
  }
  #slide-menu-checkbox:checked ~ .slide-menu {
    left: 0;
    width: 80%;
  }
  .page-content-root {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0);
  }
  #slide-menu-checkbox:checked ~ .page-content-root {
    -webkit-transform: translateX(81%);
    -moz-transform: translateX(81%);
    transform: translateX(81%);
  }
}

@media screen and (max-width: 550px) {
  .slide-menu {
    left: -60px;
  }
  #slide-menu-checkbox:checked ~ .slide-menu {
    left: 0;
  }
  .page-content-root {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0);
    width: 100%;
  }
}

/* SLIDE MENU ICON*/
.fa.HEADER_TASKS_ACTIVE_TASKS_JOURNAL:before,
.fa.HEADER_TASKS_COMPLETED_TASKS_JOURNAL:before,
.fa.HEADER_TASKS_CONTROLLED_JOURNAL:before,
.fa.HEADER_TASKS_SUBORDINATE_TASKS_JOURNAL:before,
.fa.HEADER_TASKS_INITIATOR_TASKS_JOURNAL:before,
.fa.HEADER_TASKS_INCOME_PACKAGE_TASKS_JOURNAL:before,
.fa.HEADER_SITES_SEARCH:before,
.fa.HEADER_SITES_CREATE:before,
.fa.HEADER_CONTRACTS:before,
.fa.HEADER_CASES:before,
.fa.HEADER_LETTERS:before,
.fa.HEADER_MEETINGS:before,
.fa.HEADER_ORDER_PASS:before,
.fa.HEADER_ORDERS:before,
.fa.HEADER_COMMON_DOCUMENTS:before,
.fa.HEADER_ECOS_FINANCE:before,
.fa.HEADER_COMMON_DOCUMENTS:before,
.fa.HEADER_MENU_ORGSTRUCT_WIDGET:before,
.fa.HEADER_COMPLETED_WORKFLOWS:before,
.fa.HEADER_MY_WORKFLOWS:before,
.fa.HEADER_MY_CONTENT:before,
.fa.HEADER_MY_FILES:before,
.fa.HEADER_MY_SITES:before,
.fa[class*='_JOURNALS']:before,
.fa.HEADER_REPOSITORY:before,
.fa.HEADER_MY_PROFILE:before,
.fa.HEADER_APPLICATION_MENU:before,
.fa.HEADER_GROUPS:before,
.fa.HEADER_USERS:before,
.fa.HEADER_CATEGORIES:before,
.fa.HEADER_SYSTEM:before,
.fa.HEADER_TEMPLATES:before,
.fa.HEADER_MORE:before,
.fa.HEADER_LIFECYCLE_EDITOR:before,
.fa.HEADER_FLOWABLE_MODELER:before {
  color: inherit;
  font-family: FontAwesome;
  font-style: normal;
}

.fa.HEADER_TASKS_ACTIVE_TASKS_JOURNAL:before {
  content: '\f03a';
}

.fa.HEADER_TASKS_COMPLETED_TASKS_JOURNAL:before {
  content: '\f187';
}

.fa.HEADER_TASKS_CONTROLLED_JOURNAL:before {
  content: '\f06e';
}

.fa.HEADER_TASKS_SUBORDINATE_TASKS_JOURNAL:before {
  content: '\f037';
}

.fa.HEADER_TASKS_INITIATOR_TASKS_JOURNAL:before {
  content: '\f0fe';
}

.fa.HEADER_TASKS_INCOME_PACKAGE_TASKS_JOURNAL:before {
  content: '\f265';
}

.fa.HEADER_SITES_SEARCH:before {
  content: '\f002';
}

.fa.HEADER_SITES_CREATE:before {
  content: '\f055';
}

.fa.HEADER_CONTRACTS:before {
  content: '\f2bb';
}

.fa.HEADER_CASES:before {
  content: '\f0f2';
}

.fa.HEADER_LETTERS:before {
  content: '\f0e0';
}

.fa.HEADER_MEETINGS:before {
  content: '\f0c0';
}

.fa.HEADER_ORDER_PASS:before {
  content: '\f207';
}

.fa.HEADER_ORDERS:before {
  content: '\f0c9';
}

.fa.HEADER_COMMON_DOCUMENTS:before {
  content: '\f05b';
}

.fa.HEADER_ECOS_FINANCE:before {
  content: '\f09d';
}

.fa.HEADER_MENU_ORGSTRUCT_WIDGET:before {
  content: '\f0e8';
}

.fa.HEADER_COMPLETED_WORKFLOWS:before {
  content: '\f14a';
}

.fa.HEADER_MY_WORKFLOWS:before {
  content: '\f247';
}

.fa.HEADER_MY_CONTENT:before {
  content: '\f0db';
}

.fa.HEADER_MY_FILES:before {
  content: '\f15b';
}

.fa.HEADER_MY_SITES:before {
  content: '\f0ac';
}

.fa[class*='_JOURNALS']:before {
  content: '\f1ea';
}

.fa.HEADER_REPOSITORY:before {
  content: '\f0ae';
}
.fa.HEADER_FLOWABLE_MODELER:before {
  content: '\f079';
}

.fa.HEADER_APPLICATION_MENU:before {
  content: '\f108';
}

.fa.HEADER_GROUPS:before {
  content: '\f24d';
}

.fa.HEADER_MY_PROFILE:before,
.fa.HEADER_USERS:before {
  content: '\f007';
}

.fa.HEADER_CATEGORIES:before {
  content: '\f2a1';
}

.fa.HEADER_SYSTEM:before {
  content: '\f085';
}

.fa.HEADER_TEMPLATES:before {
  content: '\f121';
}

.fa.HEADER_MORE:before {
  content: '\f141';
}

.fa.HEADER_LIFECYCLE_EDITOR:before {
  content: '\f079';
}
