@import '../../../constants';

.formio-dialog-content .preview-panel,
.formio-form {
  .card {
    background-color: transparent;

    &.border {
      border: none !important;
    }

    .card-header {
      background-color: transparent;
      border-bottom: none;
      padding: 0;
    }

    .card-body {
      padding: 13px 0 5px 0 !important;
    }

    .card-title {
      background: $color-yellow-1;
      border-radius: 6px;

      font-family: $font-family-open-sans;
      font-weight: $font-weight-semi-bold !important;
      font-size: $font-size-large;
      color: $text-color-gray;
      line-height: 22px;

      padding: 5px 12px;
    }
  }
}
