@import '../../../constants';

:root {
  --title-background-color: white;
  --title-color: white;
}

$theme-title-back: (
  'default': $color-yellow-1,
  'primary': $primary,
  'info': $color-blue-light2,
  'success': $success,
  'danger': $danger,
  'warning': $warning
);
$theme-title-dark-color: 'info', 'default';

.formio-dialog-content .preview-panel,
.formio-form {
  .card {
    background-color: transparent;

    &.border {
      border: none !important;
    }

    @each $name, $color in $theme-title-back {
      &.panel-#{$name} {
        --title-background-color: #{$color};
      }
    }

    @each $name in $theme-title-dark-color {
      &.panel-#{$name} {
        --title-color: #{$text-color-gray};
      }
    }

    .card-header {
      background-color: transparent !important;
      border-bottom: none;
      padding: 0;
    }

    .card-body {
      padding: 13px 0 5px 0;
    }

    .card-title {
      background-color: var(--title-background-color);
      border-radius: 6px;
      font-family: $font-family-open-sans;
      font-weight: $font-weight-semi-bold !important;
      font-size: $font-size-large;
      color: var(--title-color);
      line-height: 22px;
      padding: 5px 12px;
    }
  }
}

.ecos-modal {
  .formio-form .panel-body.panel-body_scrollable {
    border: 2px solid $color-gray-4;
    border-right-width: 0;
    border-left-width: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 -20px 20px -20px;
    padding: 15px;
  }
}

// fix for legacy card-details page
#bd .yui-gc:not(.grid) > .yui-u .document-details-panel .formio-form .panel-body {
  padding: 13px 0 5px 0;
}
