@import '../../../../styles/constants';

.ecos-panel {
  padding-top: 8px;
  border: 1px solid $color-gray-4;
}

.ecos-panel__large {
  background-color: $color-white;
  border-bottom: 2px solid $color-gray-4;
  border-radius: $border-radius-extra-large $border-radius-extra-large 0 0;
  height: 60px;
  margin-right: 0;
  margin-left: 0;
}
