@import '../../../../constants';

.panel {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14) !important;
  padding-top: 12px !important;
}

.panel__heading {
  background-color: $color-blue-dark;
  border-radius: $border-radius-standard;
  height: 34px;
  margin-right: 12px;
  margin-left: 12px;
}

.panel__body {
  padding-bottom: 5px;
}
