@import '../../../../../../styles/constants';

.select-orgstruct-select-modal__buttons {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 15px;
  }
}

.select-orgstruct-control-panel {
  padding: 15px;
  background: $color-gray-4;
  border-radius: $border-radius-large;
}
