@import '../../../styles/constants';

.model-tooltip {
  &__wrap {
    position: absolute;
    top: 0;
  }

  &__content {
    position: absolute;
    background: $color-white;
    border-radius: $border-radius-standard;
    box-shadow: $box-shadow-default;
    padding: 5px;
    z-index: 1000;
    min-width: 170px;
  }
}

.model-badges {
  &__wrap {
    position: relative;
  }

  &__item {
    &-wrap {
      position: absolute;
      display: inline-flex;
    }

    &:empty {
      display: none;
    }

    position: relative;
    bottom: 20px;
    padding: 0 2px;
    min-width: 30px;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-extra-small;
    text-align: center;
    border: 1px solid $color-blue-dark;
    border-radius: 10px;
    background: $color-blue-light2;
    opacity: 0.8;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}
