@import '../../../styles/constants';

$height: 14px;

.model-heatmap {
  &__legend {
    display: flex;
    line-height: $height;
    height: $height;

    &-min,
    &-max {
      font-size: $height;
      font-weight: $font-weight-bold;
      color: $text-color-dark;
    }

    &-gradient {
      margin: 0 8px;

      & img {
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}

.model-zoomer {
  display: flex;

  & &__btn {
    font-size: 16px;
    width: 28px;
    line-height: 1;
  }
}

.model-opacity {
  display: flex;
  align-items: center;
  height: 100%;

  &__label {
    font-weight: $font-weight-semi-bold;
    padding-left: 5px;
  }
}

.model-tooltip {
  &__wrap {
    position: absolute;
    top: 0;
  }

  &__content {
    position: absolute;
    background: $color-white;
    border-radius: $border-radius-standard;
    box-shadow: $box-shadow-default;
    padding: 5px;
    z-index: 1000;
    min-width: 170px;
  }
}

.model-badges {
  &__wrap {
    position: relative;
  }

  &__item {
    &-wrap {
      position: absolute;
      display: inline-flex;
    }

    &:empty {
      display: none;
    }

    padding: 0 2px;
    border-radius: 10px;
    background: $color-blue-light2;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-small;
    display: inline-block;
    text-align: center;
    min-width: 30px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}
