@import '../../../../../styles/constants';

.select-journal__input-view_compact {
  display: flex;
  line-height: 26px;
}

.select-journal__values-list-disp {
  width: auto;
}

.select-journal__input-view_extra-compact {
  line-height: 22px;

  .select-journal__values-list_compact {
    font-size: $font-size-small;
    height: 22px;
  }
}

.select-journal__value-not-selected {
  line-height: 36px;
  border: solid $color-gray-4;
  border-width: 2px 0;
  margin-bottom: 15px;

  &_view-only {
    border: none;
    line-height: inherit;
    margin: 0;
  }
}

.select-journal__values-list {
  border-top: 2px solid $color-gray-4;
  margin-bottom: 15px;
  padding: 0;

  li {
    line-height: 36px;
    border-bottom: 2px solid $color-gray-4;
    display: flex;
    justify-content: space-between;
  }
}

.select-journal__value-selection {
  margin-bottom: 15px;
  line-height: 36px;
  border: solid $color-gray-4;
  border-width: 2px 0;
  display: flex;
  justify-content: space-between;
}

.select-journal__values-list_compact {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  flex: 1;
}

.select-journal__values-list-tooltip {
  .tooltip {
    z-index: 9999;
  }
}

.select-journal__input-view-button_compact {
  flex-shrink: 0;
}

.select-journal__values-list-actions {
  flex-shrink: 0;
  display: flex;

  .icon {
    line-height: 36px;
    cursor: pointer;
    color: $color-gray-6;
    margin-left: 5px;

    &:hover {
      color: var(--dark-primary-color);
    }

    &.icon-delete:hover {
      color: $color-red-1;
    }
  }
}

.select-journal__actions {
  display: flex;
  flex-direction: row;
  width: 50%;

  .ecos-btn_blue {
    flex: auto;
    width: 6rem;
    height: 26px;
    max-width: 7rem;
  }

  .ecos-dropdown {
    margin: 0 0 0 10px;

    .ecos-dropdown__toggle {
      display: block;
      user-select: none;

      button {
        padding: 0 20px;
        max-height: 26px;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        line-height: 20px;
        border-radius: 6px;
      }
    }
  }
}

.select-journal__error {
  color: $color-red-1;
}
