@import '../../../../../styles/constants';

.select-journal {
  &__values-list {
    $values-list: &;
    border: 1px solid $color-gray-6;
    border-radius: 6px;
    padding: 10px 12px;
    max-height: 40px;
    cursor: pointer;

    &:has(.select-journal__values-list-disp:hover) {
      .select-journal_action_open-modal svg path {
        fill: $color-gray-5 !important;
      }
    }

    &:hover {
      border: 1px solid var(--primary-color);

      &:not(:has(.select-journal__values-list-actions_item:hover)) {
        .select-journal_action_open-modal svg path {
          fill: var(--primary-color);
        }
      }
    }

    &-disp {
      width: auto;
    }

    &.disabled {
      background-color: $color-gray-4;
    }

    &.multiple {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      padding: 8px 9px;
      max-height: none;
      min-height: 40px;
    }

    &.multiple &_text-content {
      position: relative;
      padding: 4px 14px;
      background-color: var(--primary-color);
      border-radius: 100px;
      box-sizing: border-box;
      max-width: 100%;

      & .select-journal__values-list-actions {
        position: absolute;
        visibility: hidden;
        background: linear-gradient(to right, rgba(248, 248, 248, 0), var(--primary-color) 25%);
        padding-left: 12px;
        right: 14px;
        top: 4px;
      }

      &:hover {
        & .select-journal__values-list-actions {
          visibility: visible;
          align-items: center;
          gap: 3px;
        }

        svg > path {
          fill: $color-white;
        }
      }

      & .assoc-value {
        color: $color-white;
      }
    }

    &_text-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 1.2;
    }

    &-actions {
      flex-shrink: 0;
      display: flex;
      gap: 6px;

      &_item {
        cursor: pointer;
        position: relative;

        path {
          fill: $color-gray-5;
        }

        &:hover > svg path,
        &.active > svg path {
          fill: var(--primary-color);
        }
      }

      &.icon {
        line-height: 36px !important;
        cursor: pointer;
        color: $color-gray-6;
        margin-left: 5px;

        &:hover {
          color: var(--dark-primary-color);
        }

        &.icon-delete:hover {
          color: $color-red-1;
        }
      }

      &-menu {
        list-style: none;
        border-radius: 6px;
        background-color: $color-white;
        box-shadow: rgba(0, 0, 0, 0.14) 0 1px 4px;

        &.absolute {
          position: absolute;
          left: 100%;
          top: 0;
        }

        &.flip {
          left: auto;
          right: 0;
        }

        position: absolute;
        top: 27px;
        left: 0;

        display: flex;
        flex-direction: column;
        z-index: 1;

        li {
          padding: 10px 15px;
          background-color: $color-white;
          cursor: pointer;
          position: relative;

          display: inline-flex;
          align-items: center;
          gap: 10px;

          &:hover {
            background-color: $color-gray-4;
          }

          .icon {
            font-size: 14px;
            color: $color-gray-5;
          }

          p {
            color: $text-color-dark;
            font-weight: 600;
            font-size: 12px;
            margin: 0;
            white-space: nowrap;
          }

          &:first-child {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
          }
          &:last-child {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
          }
        }
      }
    }
  }
}

.select-journal__input-view_extra-compact {
  line-height: 22px;
}

.select-journal__value-selection {
  margin-bottom: 15px;
  line-height: 36px;
  border: solid $color-gray-4;
  border-width: 2px 0;
  display: flex;
  justify-content: space-between;
}

.select-journal__actions {
  display: flex;
  flex-direction: row;

  .ecos-btn_blue {
    flex: auto;
    width: 6rem;
    height: 26px;
    max-width: 7rem;
  }

  .ecos-dropdown {
    margin: 0 0 0 10px;

    .ecos-dropdown__toggle {
      display: block;
      user-select: none;

      button {
        padding: 0 20px;
        max-height: 26px;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        line-height: 20px;
        border-radius: 6px;
      }
    }
  }
}

.select-journal__error {
  color: $color-red-1;
}

.select-journal__input-view_extra-compact {
  line-height: 22px;

  .select-journal__values-list_compact {
    font-size: $font-size-small;
    height: 22px;
  }
}

.select-journal__values-list_compact {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  flex: 1;
}

.select-journal__input-view-button_compact {
  flex-shrink: 0;
}

.select-journal__input-view_compact {
  display: flex;
  line-height: 26px;
  max-width: 350px;
}

