@import '../../styles/constants.scss';

.status {
  display: flex;
  gap: 8px;
  justify-content: center;

  .fa-check {
    color: $color-green1;
  }

  .fa-close {
    color: $color-red-1;
  }

  .fa-pause {
    color: var(--light-primary-color);
  }
}
