@import '../../styles/constants.scss';

.ecos-rt-editor {
  position: relative;

  &__content {
    border: none;
    outline: none;
    position: relative;
    line-height: 16px;
    padding-bottom: 16px;

    p {
      margin: 0;
    }

    &.content_editable {
      min-height: 150px;
    }

    &.content_readonly {
      padding-top: 8px;
    }
  }
}
