@import '../../styles/constants';

.ecos-admin-section {
  &__journal {
    &_new {
      .ecos-journal__settings-bar-menu {
        display: none;
      }
    }

    &.ecos-journal {
      overflow-x: unset;
      overflow-y: unset;
    }

    &-body.ecos-journal__body {
      padding: 0;
    }
  }

  &__container {
    display: flex;
    padding: 17px 0 0 24px;
    height: 100%;

    &_new {
      padding: 10px;
      justify-content: center;

      .app-content {
        margin-bottom: 0 !important;
      }

      .ecos-admin-menu_open {
        padding-left: 10px;
      }
    }
  }

  &__content {
    transition: width 0.5s;
    width: calc(100% - 300px);

    &_new {
      &-opened {
        margin-top: 0;
      }

      &-closed {
        margin-top: 35px;
      }
    }

    &_full {
      width: 100%;
    }
  }

  &__header {
    padding-bottom: 23px;
    min-height: 26px;

    &-right {
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media (max-width: 1370px) {
  .ecos-admin-section {
    &__container {
      padding: 15px 15px 0;
    }
  }
}
