@import '../../constants';

.ecos-timesheet {
  $root: &;

  padding: 0 26px;

  &__white-block {
    display: flex;
    justify-content: space-between;
    background: $color-white;
    align-items: center;
    border-radius: 12px;
    padding: 17px 21px;
    max-height: 60px;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: $text-color-dark;
    margin-bottom: 34px;
  }

  &__type {
    margin-bottom: 24px;
    display: flex;
  }

  &__header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }

  &__date-settings {
    @extend #{$root}__white-block;
    width: 65%;
    margin-right: 13px;

    &-tabs {
      &-item {
        width: 106px;
      }
    }
  }

  &__status {
    @extend #{$root}__white-block;
    width: 35%;
  }
}

.ecos-tabs-v2 {
  $root: &;

  display: flex;

  &__item {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: $text-color-gray;
    background: $color-white;
    cursor: pointer;
    padding: 10px 27px;
    max-height: 40px;

    &:not(&_active):not(&_disabled):hover {
      color: $color-white;
      background: $color-blue-light;
    }

    &:first-child {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }

    &:last-child {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    &:not(:last-child) {
      margin-right: 2px;
    }

    &_active {
      background: $color-blue-dark;
      color: $color-white;
      cursor: default;
    }

    &_disabled {
      background: $color-gray-1;
      color: $color-gray-5;
      cursor: not-allowed;
    }
  }

  &_small {
    #{$root} {
      &__item {
        padding: 3px 30px;
        max-height: 26px;
      }
    }
  }
}

.ecos-date-slider {
  display: flex;
  align-items: center;

  &__label {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: $text-color-dark;
    margin: 0 10px;
    text-transform: capitalize;
  }

  &__btn {
    position: relative;
    color: $color-gray-dark;
    background: $color-gray-4;
    width: 26px;
    height: 26px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;

    &:before {
      font-family: citeck;
      position: absolute;
      left: calc(50% - 1em / 2);
      top: calc(50% - 1em / 2);
      line-height: 1em;
    }

    &:not(&_disabled):hover {
      background: $color-blue-light;
      color: $color-white;
    }

    &-prev {
      &:before {
        content: '\0051';
      }
    }

    &-next {
      &:before {
        content: '\0052';
      }
    }

    &_disabled {
      background: $color-gray-4;
      color: $color-gray-6;
      cursor: not-allowed;
    }
  }
}
