@import '../constants';

$input-padding: 10px;

.formio-form {
  .formio-component {
    &.formio-component_transparent-label {
      .control-label {
        visibility: hidden;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .form-control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 12px;
    height: auto;
    line-height: 24px;
    padding-left: $input-padding;
    padding-right: $input-padding;
    background: $color-white;
    border: $border-width-standard solid $color-gray-6;
    border-radius: $border-radius-standard;
    font-family: $font-family;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-standard;
    color: $text-color-dark;
    outline: none;

    &::placeholder {
      color: $color-gray-5;
    }

    &:focus {
      border-color: $color-blue-dark;
      box-shadow: none;
    }
    &:hover {
      border-color: $color-blue-light;
    }

    &.is-invalid {
      border-color: $color-red-1;

      &:focus {
        box-shadow: none;
        border-color: $color-red-1;
      }
    }
  }

  textarea.form-control {
    height: auto;
  }

  .control-label {
    font-family: $font-family-open-sans;
    font-size: $font-size-small;
    font-weight: $font-weight-semi-bold;
    color: $text-color-dark;
  }

  .formio-component-datetime {
    .form-control.flatpickr-input {
      border-radius: $border-radius-standard;
    }

    .input-group-addon {
      border: none;
      background: none;
      padding: 0;

      .glyphicon-calendar {
        line-height: $form-input-height;
        color: $color-gray-7;
        font-size: 18px;
        margin-left: 10px;
      }
    }

    &.formio-component-datetime_only-time {
      .input-group-addon {
        display: none;
      }
    }
  }

  /* error message TODO */
  .invalid-feedback {
    color: $color-red-1;
    font-family: $font-family-open-sans;
    font-size: $font-size-small;
    margin-top: 0.5rem;
  }

  /* panel */
  .card {
    background-color: transparent;

    &.border {
      border: none !important;
    }

    .card-header {
      background-color: transparent;
      border-bottom: none;
      padding: 0;
    }

    .card-body {
      padding-right: 0;
      padding-left: 0;
    }

    .card-title {
      background: $color-yellow-1;
      border-radius: 6px;

      font-family: $font-family-open-sans;
      font-weight: $font-weight-semi-bold !important;
      font-size: $font-size-large;
      color: $text-color-gray;
      line-height: 22px;

      padding: 5px 12px;
    }
  }

  /* checkbox */
  .formio-component-checkbox {
    padding-left: 0;

    .form-check-label {
      line-height: 24px;
      font-size: 14px;
      cursor: pointer;
      padding-left: 0;

      .form-check-input:first-child {
        display: none;

        + span {
          &:before {
            font-family: $font-family-citeck;
            content: $citeck-icon-checkbox;
            color: $color-gray-6;
            margin-right: 10px;
            font-size: 22px;
            font-weight: normal;
            position: relative;
            top: 2px;
          }
        }

        &:checked {
          + span {
            &:before {
              content: $citeck-icon-checkbox-checked;
              color: $color-blue-dark;
            }
          }
        }

        &:disabled {
          + span {
            color: $color-gray-5;

            &:before {
              content: $citeck-icon-checkbox-dark;
              color: $color-gray-4;
            }
          }

          &:checked {
            + span {
              &:before {
                content: $citeck-icon-checkbox-checked;
              }
            }
          }
        }
      }
    }
  }

  /* select */
  .formio-component-select {
    .choices__input {
      background-color: $color-white;
      margin-bottom: 0;
    }

    .choices__list--dropdown {
      margin-top: 5px;
      border-radius: $border-radius-standard;
      box-shadow: $box-shadow-default;
      border: none;
      font-weight: $font-weight-semi-bold;
      color: $text-color-dark;

      .choices__input {
        font-weight: $font-weight-semi-bold;
        border: 2px solid $color-gray-6;
        margin: $input-padding $input-padding 10px $input-padding;
        width: calc(100% - #{$input-padding * 2});
        border-radius: $border-radius-standard;
        padding: 6px 12px;
        line-height: 24px;

        &::placeholder {
          color: $color-gray-5;
        }
      }

      .choices__item {
        padding-left: $input-padding;
        padding-right: $input-padding;
      }
    }

    .choices__list--multiple {
      .choices__item {
        margin-bottom: 0;
        line-height: 26px;
        background-color: #4b75b7;
        border: none;
        border-radius: 100px;
        padding: 0 $input-padding;
        font-size: 12px;
        font-weight: 600;

        .choices__button {
          border-left: none;
          background-size: 12px;
        }
      }
    }

    &.formio-component-multiple {
      .form-control {
        padding: 4px 12px;
        line-height: 28px;
        .choices__input {
          padding: 0;
          border: none;
        }
      }
    }
  }

  /* button */
  .formio-component-button {
    .btn:not(.btn-xxs) {
      cursor: pointer;
      display: inline-block;
      white-space: nowrap;
      height: 40px;
      margin: 0;
      padding: 9px 15px;
      text-align: center;
      letter-spacing: 0.2pt;
      font-family: $font-family !important;
      font-weight: $font-weight-semi-bold !important;
      font-size: $font-size-standard !important;
      color: $text-color-dark;
      background-color: $color-gray-4;
      border-radius: $border-radius-large;
      border: none;

      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        background-color: $color-gray-1;
      }

      &:active {
        background-color: $color-gray-4;
      }

      &:active:focus,
      &:focus {
        box-shadow: none !important;
      }

      &.btn-primary {
        color: $color-white;
        background-color: $color-blue-dark;

        &:hover {
          background-color: $color-blue-light;
        }

        &:active {
          background-color: $color-blue-dark;
        }

        &:disabled {
          background-color: #c6d6f0;
        }
      }

      &.button_full_width {
        width: 100%;
      }
    }
  }
}
