@import '../../../../styles/constants';

.icon {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;

  &::before {
    margin: 1px !important;
    width: auto !important;
  }

  &_btn {
    cursor: pointer;
  }

  &_small {
    font-size: 14px;
    line-height: 14px;
  }

  &_on {
    color: $color-green1;
  }

  &_off {
    color: $color-red-1;
  }
}
