@import '../../../styles/constants';

.ecos-info-text {
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-standard;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;

  &_error {
    color: $color-red-2;
  }

  &_info {
    color: $color-gray-5;
  }

  &_primary {
    color: $color-blue-light;
  }

  &_warn {
    color: $color-orange;
  }

  &_no-indents {
    padding: 0;
  }
}
