@import '../../../../styles/constants';

.ecos-checkbox {
  display: inline-block;
  text-decoration: none;
  position: relative;
  font-size: 22px;
  width: 22px;
  height: 22px;
  padding: 0;
  color: $color-gray-6 !important;
  cursor: pointer;

  &_disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  &__text {
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-standard;
    color: $text-color-dark;
    line-height: 22px;
    position: absolute;
    left: 30px;
  }

  &__icon {
    display: block;
    position: absolute;
    left: 0;
    height: 22px;
    line-height: 0 !important;

    &:before {
      margin: 0 !important;
      line-height: 1 !important;
    }

    &_disabled {
      color: $color-gray-4;
    }

    &_blue {
      color: $color-blue-dark;

      &:hover {
        color: $color-blue-light;
      }
    }

    &_white {
      color: $color-white;
    }

    &_hover_blue {
      &:hover {
        color: $color-blue-dark;
      }
    }
  }

  &_flex {
    display: inline-flex;
    height: auto;
    width: auto;

    .ecos-checkbox__icon {
      position: static;

      &_checked {
        position: absolute;
      }
    }

    .ecos-checkbox__text {
      position: static;
      padding-left: 10px;
      line-height: normal;
    }
  }
}

.ecos-switch {
  $slider-size: 30px;

  position: relative;
  background-color: $color-gray-5;
  border-radius: 100px;
  width: 52px;
  min-width: 52px;
  height: 24px;
  cursor: pointer;
  transition: 0.3s;

  &:after {
    content: '';
    position: absolute;
    background: $color-white;
    z-index: 2;
    left: 0;
    top: calc(50% - #{$slider-size} / 2);
    width: $slider-size;
    height: $slider-size;
    border-radius: 50%;
    border: 2px solid $color-gray-5;
    transition: 0.3s;
  }

  &_checked {
    background-color: $color-blue-dark;

    &:after {
      border-color: $color-blue-dark;
      left: calc(100% - #{$slider-size});
    }
  }
}
