@import '../../../../../../styles/constants';

.select-orgstruct-view-mode__list {
  &_compact {
  }

  &:not(&_compact) {
    border-top: 2px solid $color-gray-4;

    & > :nth-child(n) {
      border-bottom: 2px solid $color-gray-4;
      line-height: 36px;
    }
  }
}
