@import '../../../styles/constants.scss';

.bpmn-admin-tabs {
  @extend %column-wrapper-16;

  padding: 16px;

  &__actions-wrapper {
    @extend %column-wrapper-16;
  }

  &__clickable-field {
    cursor: pointer;

    color: var(--primary-color);
  }
}
