@import '../../../constants';

.formio-form {
  .formio-component-file {
    // TODO
    input[type='file'] {
      display: none;
    }

    .list-group {
      .list-group-item {
        padding: 0 5px;
        border: 0;
        border-top: 1px solid $color-gray-4;

        &:last-child {
          border-bottom: 1px solid $color-gray-4;
        }

        a {
          color: var(--primary-color);
          text-decoration: none;
          padding: 3px 0;
        }

        .row > div {
          color: $text-color-dark;
          font-size: $font-size-small;
          font-weight: $font-weight-normal;
          line-height: 32px;

          &.col-md-9 {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          padding: 2px 10px;

          .glyphicon {
            margin-left: 50%;
          }
        }

        select.file-type {
          width: 100%;
        }
      }

      .list-group-item.list-group-header {
        border: 0;
        border-top: 1px solid $color-gray-4;
        border-bottom: 1px solid $color-gray-4;
        border-radius: 0;

        .row div {
          padding: 0;
        }

        strong {
          display: inline-block;
          width: 100%;
          padding: 0 8px;
          color: $text-color-dark;
          font-size: $font-size-small;
          font-weight: $font-weight-semi-bold;
          border-left: 1px solid $color-gray-4;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: clip;
        }
      }
    }

    .fileSelector {
      padding: 10px;
      border: 0;
      border-bottom: 1px solid $color-gray-4;
    }

    .alert.alert-warning {
      margin-top: 5px;
    }
  }

  .formio-component-file.alert {
    .list-group {
      .list-group-item.list-group-header {
        .row > .col-md-2 {
          flex: 0 0 20%;
        }

        .row > .col-md-9 {
          flex: 0 0 70%;
        }
      }
    }
  }
}

.file-list-view-mode {
  background: $color-gray-4;
  border-radius: $border-radius-standard;
  padding: 5px 15px;
  margin: -5px 0 -5px -15px;

  &_hide-label {
    margin-left: 0;
  }
}

.file-item_view-mode {
  margin-bottom: 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .formio-form {
    .formio-component-file {
      .list-group {
        .list-group-item {
          .row {
            padding: 10px 0;
            width: calc(100% - 25px);

            > div {
              line-height: 12px;

              &:first-child {
                &.col-md-1 {
                  position: absolute;
                  z-index: 1;
                  text-align: right;
                  top: 5px;
                  right: 0;
                  width: auto;

                  i {
                    padding: 8px;
                    margin: 0;
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }

        .list-group-item.list-group-header {
          display: none;

          &:only-child {
            height: 1px;
            overflow: hidden;
            padding: 0;
            margin: 0;
            border-bottom: 0;
            display: block;
          }

          strong {
            padding: 2px 10px;
            border-left: none;
          }
        }
      }
    }
  }
}

.bg-error {
  color: $color-red-1;
  font-size: 12px;
}
