.columns__column {
  margin-left: 15px;
}

.columns__column_first {
  margin-left: 0;
}

.columns__column_margin_0 {
  margin: 0;
}

.columns_right {
  text-align: right;
}

.columns_height_full {
  height: 100%;
}

.columns__column_half-space {
  max-width: 50%;
}
