@import '../../../styles/constants';

.ecos-password-editor {
  &__modal {
  }

  &__label {
    background: $color-gray-25;
    border-radius: $border-radius-standard;
    padding: 5px 10px;
    margin-bottom: 5px;
  }

  &__filed {
    margin-bottom: 20px;

    &_hidden {
      display: none;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }
}
