@import '../../../../styles/constants';

.label {
  font-family: $font-family;
  font-size: $font-size-small;
  font-weight: $font-weight-semi-bold;
  color: $text-color-dark;
}

.label_bold {
  font-weight: $font-weight-bold;
}

.label_nowrap {
  white-space: nowrap;
}

.label_clear {
  margin: 0;
  padding: 0;
}

.label_middle-grey {
  color: $text-color-gray;
  font-size: $font-size-standard;
}
