@import '../../../styles/constants';

.ecos-hb2u {
  &__container {
    min-height: 50px;
  }

  &__list {
    padding: 0 20px;

    &-item {
      $item: &;

      display: flex;
      border-bottom: 1px $color-gray-4 solid;
      padding: 15px 0;
      position: relative;

      &-photo {
        width: 49px;
        height: 49px;
        margin-right: 10px;
      }

      &-info {
        display: flex;
        flex-direction: column;
        align-self: center;
        min-width: 0;
      }

      &-date {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: $text-color-dark;
      }

      &-name {
        @extend %ellipsis;

        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: $color-gray-5;
      }

      &-btn {
        &.ecos-btn {
          height: 40px;
          position: absolute;
          right: 0;
          top: calc(50% - 40px / 2);
          display: none;
        }
      }

      &_small {
        &:hover {
          cursor: pointer;

          #{$item}-name {
            color: var(--primary-color);
          }
        }
      }

      &:hover {
        #{$item}-btn {
          &.ecos-btn {
            display: inline-block;
          }
        }
      }
    }
  }

  &__error {
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    align-items: center;

    &-message {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: $color-red-1;
      max-width: 330px;
      text-align: center;
    }

    &-reload-btn {
      max-width: 207px;
      margin-top: 30px;
    }
  }
}
