/* temporary styles */
#SHARE_HEADER {
  background-color: #758faa;
  border-bottom: 1px solid #ccc;
  padding: 0 26px;
}

.alfresco-layout-LeftAndRight__left > * {
  float: left;
}

.alfresco-layout-LeftAndRight__right > * {
  float: right;
}

.alfresco-header-SearchBox {
  height: 30px;
  padding: 0;
  margin: 5px 10px;
  width: auto !important;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #ccc inset;
  padding-bottom: 1px;
  float: right;
}

.alfresco-header-SearchBox-text {
  background-color: #fff;
  border: none;
  font-size: 90%;
  padding: 0;
  margin-right: 8px;
  margin-left: -6px;
  position: relative;
  top: 2px;
  margin-top: 1px;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  outline: none;
  width: 12em;
}

/* common */
.alfresco-share {
  font: 13px/1.231 Open Sans, arial, helvetica, clean, sans-serif;
}

.menu-item {
  border: none;
}

#share-header {
  min-height: 40px;
  margin: 0;
}

#alf-hd .alfresco-header-Header:after,
.alfresco-layout-LeftAndRight__right:after {
  content: '.';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

.menu-mobile-icon {
  box-sizing: content-box;
}

/* dropdown menu toggle */
.custom-dropdown-menu {
  display: table;
  user-select: none;
}

.custom-dropdown-menu__toggle {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
  cursor: pointer;
  padding: 0 10px;
}

.custom-dropdown-menu__toggle:hover {
  background-color: #88a5c3;
}

.user-dropdown-menu__toggle {
  padding: 0 15px;
}

.site-dropdown-menu__toggle:after,
.user-dropdown-menu__toggle:before {
  content: '▾';
  font-size: 14px;
  color: #fff;
  float: right;
  height: 100%;
  display: block;
  line-height: 40px;
  margin-left: 5px;
}

.site-dropdown-menu__toggle i,
.user-dropdown-menu__toggle i,
.user-dropdown-menu__toggle .user-menu-username {
  color: #ffffff;
  line-height: 40px;
  display: inline-block;
  font-size: 14px;
}

.user-dropdown-menu__toggle i {
  font-size: 18px;
}

.user-photo-header {
  float: right;
  margin-right: 5px;
}

/* dropdown menu body */
.custom-dropdown-menu__body {
  border-radius: 0;
  color: #333;
  background-color: #f1f1f1;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.3);
  border-color: #f3f3f3;
  padding: 6px !important;
  z-index: 10;

  max-height: calc(100vh - 40px);
  overflow-y: auto;
  box-sizing: border-box;
}

.custom-dropdown-menu__body .custom-dropdown-menu__item a {
  color: #333;
  font-family: Open Sans, arial, helvetica, clean, sans-serif;
  font-size: 13px;
  line-height: 26px;
  padding: 0 4px;
  display: block;
  white-space: nowrap;
}

.custom-dropdown-menu__body .custom-dropdown-menu__item a:hover {
  text-decoration: none;
}

.custom-dropdown-menu__body .custom-dropdown-menu__item a:focus,
.custom-dropdown-menu__body .custom-dropdown-menu__item a:hover {
  background-color: #ced2d5;
  color: #333;
}

.custom-dropdown-menu__body .custom-dropdown-menu__item a:visited {
  color: #333;
}

.custom-dropdown-menu__body .custom-dropdown-menu__item a img {
  padding: 4px 8px 4px 0;
}

.custom-dropdown-menu-group__label {
  margin: 8px 8px 0 0;
  font-weight: 900;
  color: #3c5877;
  border-bottom: none;
  white-space: nowrap;
  font-family: Open Sans, arial, helvetica, clean, sans-serif;
  font-size: 13px;
}

.custom-dropdown-menu-cascad {
  position: relative;
}

.custom-dropdown-menu-cascad__label {
  color: #333;
  font-family: Open Sans, arial, helvetica, clean, sans-serif !important;
  font-size: 13px;
  line-height: 26px;
  padding: 0 30px 0 4px !important;
  display: block;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
}

.custom-dropdown-menu-cascad__label:after {
  content: '\f105';
  font-family: FontAwesome;
  font-size: 15px;
  color: #333;
  position: absolute;
  right: 5px;
}

.custom-dropdown-menu-cascad__label:focus,
.custom-dropdown-menu-cascad__label:hover {
  background-color: #ced2d5;
  color: #333;
}

.custom-dropdown-menu-cascad__list {
  position: absolute;
  left: 100%;
  top: 0;
  border-radius: 0;
  color: #333;
  background-color: #f1f1f1;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.3);
  border-color: #f3f3f3;
  padding: 6px !important;
  z-index: 10;
  max-height: calc(100vh - 40px);
  box-sizing: border-box;
  display: none;
}

.custom-dropdown-menu__body.cascade {
  overflow-y: visible;
}

.custom-dropdown-menu-cascad:hover .custom-dropdown-menu-cascad__list {
  display: block;
}

.fa-custom:before {
  padding: 4px 0;
  color: #6b6b6b;
  font-size: 16px;
  width: 24px;
  display: inline-block;
  content: none;
  font-family: FontAwesome;
  font-style: normal;
}
/* User menu */
.fa-custom__HEADER_USER_MENU_MY_PROFILE:before {
  content: '\f007';
}
.fa-custom__HEADER_USER_MENU_AVAILABILITY:before {
  content: '\f235';
}
.fa-custom__HEADER_USER_MENU_PASSWORD:before {
  content: '\f084';
}
.fa-custom__HEADER_USER_MENU_FEEDBACK:before {
  content: '\f06a';
}
.fa-custom__HEADER_USER_MENU_REPORTISSUE:before {
  content: '\f075';
}
.fa-custom__HEADER_USER_MENU_LOGOUT:before {
  content: '\f057';
}
/* Site menu */
.fa-custom__HEADER_SITE_INVITE:before {
  content: '\f234';
}
.fa-custom__HEADER_CUSTOMIZE_SITE_DASHBOARD:before {
  content: '\f013';
}
.fa-custom__HEADER_EDIT_SITE_DETAILS:before {
  content: '\f040';
}
.fa-custom__HEADER_CUSTOMIZE_SITE:before {
  content: '\f013';
}
.fa-custom__HEADER_LEAVE_SITE:before {
  content: '\f08b';
}
.fa-custom__HEADER_SITE_JOURNALS:before {
  content: none !important;
}

/* Search */
#HEADER_SEARCH_BOX #HEADER_SEARCHBOX_FORM_FIELD {
  line-height: 26px;
  box-sizing: border-box;
  margin: 0;
}

.share-header-search__inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.share-header-search__click_outside_wrapper {
  display: inline-block;
}

.search-dropdown-menu,
.share-header-search__clear-button {
  height: 30px;
  font-size: 18px;
  margin-right: 9px;
  margin-left: 9px;
  float: left;
  line-height: 32px;
  cursor: pointer;
}

.share-header-search__clear-button {
  float: right;
}

.search-dropdown-menu i,
.share-header-search__clear-button i {
  line-height: 30px;
  color: #989898;
  cursor: pointer;
}

/* Search autocomplete */
.share-header-search__autocomplete {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: 0.33px 0 8px rgba(0, 0, 0, 0.3);

  position: absolute;
  z-index: 10;
  top: 30px;
  left: 25px;

  box-sizing: border-box;
  min-width: 360px;
  max-width: 380px;
  width: max-content;
  padding: 1px;

  max-height: calc(100vh - 34px);
  overflow-y: auto;
  overflow-x: hidden;
}

.autocomplete-section {
  overflow: hidden;
  font-size: 14px;
}

.autocomplete-section:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.autocomplete-section__h {
  font-size: 115%;
  padding: 9px 9px 5px 9px;
  margin: 0;
}

.share-header-search__autocomplete .autocomplete-section .autocomplete-section__list {
  padding: 2px 0 6px 0;
  margin: 0;
}

.autocomplete-item {
  padding: 5px 8px 5px 8px;
  height: 2.8em;
}

.autocomplete-item:hover {
  background-color: #eeeeee;
}

.autocomplete-item__thumbnail {
  float: left;
  max-height: 32px;
  overflow: hidden;
}

.autocomplete-item__thumbnail img {
  width: 32px;
  max-width: 32px;
}

.autocomplete-item__content {
  margin-left: 40px;
  line-height: 1.3em;
  font-size: 93%;
}

.share-header-search__autocomplete .autocomplete-item__content p {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.autocomplete-item__content_p_second {
  color: #767676;
}

.share-header-search__autocomplete .autocomplete-item__content a {
  color: #000;
}

.share-header-search__autocomplete .autocomplete-item__content .autocomplete-item__content_p_second a {
  color: #767676;
}

.share-header-search__autocomplete .autocomplete-item__content a:hover {
  text-decoration: underline;
}

.autocomplete-section__more {
  text-align: right;
  padding-right: 8px;
  margin: 0;
}

.share-header-search__autocomplete .autocomplete-section__more span {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.autocomplete-section__more span:after {
  content: '▾';
  font-size: 12px;
  color: #000;
  float: right;
  height: 100%;
  display: block;
  line-height: 1.4em;
  margin-left: 5px;
}

.mobile .share-header-search__inner {
  position: static;
}

.mobile .share-header-search__autocomplete {
  left: 0;
  top: 40px;
  min-width: auto;
  max-width: none;
  width: 100%;
}

/* mobile styles */
.mobile #alf-hd #SHARE_HEADER {
  padding: 0;
}

.mobile .alfresco-layout-LeftAndRight__right {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.mobile #HEADER_SITE_MENU {
  order: 4;
}

.mobile #HEADER_USER_MENU {
  order: 5;
  padding-right: 0;
}

.mobile #HEADER_SEARCH_BOX {
  min-width: 100px;
}

.mobile .user-dropdown-menu__toggle {
  padding-left: 5px;
  padding-right: 10px;
}

.mobile .user-dropdown-menu__toggle .user-menu-username {
  display: none;
}

.mobile .site-dropdown-menu__toggle {
  padding: 0 5px;
}

.mobile .share-header-search__inner {
  display: block;
}

.mobile .search-dropdown-menu {
  margin: 0 6px;
}

.mobile .share-header-search__clear-button {
  margin: 0 6px;
}

.yui-skin-citeckTheme.mobile #HEADER_SEARCHBOX_FORM_FIELD {
  max-width: 50px !important;
}

@media screen and (min-width: 360px) and (max-width: 400px) {
  .yui-skin-citeckTheme.mobile #alf-hd .alfresco-header-Header #HEADER_SEARCHBOX_FORM_FIELD {
    max-width: 105px !important;
  }
}
