@import '../../styles/constants';

.ecos-header {
  $root: &;
  $dropdown-max-width: 815px;
  $search-base-width: 300px;
  $search-focused-width: 440px;

  background: $color-blue-light;
  padding: 10px 26px;
  display: flex;
  justify-content: space-between;

  & .ecos-btn {
    display: inline-flex;
    align-items: center;
  }

  &_small {
    padding: 10px 15px;
    justify-content: unset;

    #{$root}__side {
      display: flex;

      &_right {
        flex: 1;
      }

      .ecos-input-search {
        &_open {
          width: 210px;

          & + .ecos-header-user {
            display: none;
          }
        }
      }
    }

    .ecos-header-create__menu,
    .ecos-header-user__menu,
    .ecos-input-search__results {
      max-width: 280px;
    }

    .ecos-header-create__btn .ecos-btn__i {
      margin-right: unset;
    }
  }

  &__side {
    display: flex;

    &_left {
      margin-right: 10px;
    }

    &_right {
      justify-content: flex-end;
    }

    & > :not(:last-child) {
      margin-right: 10px;
    }

    #{$root}-hamburger {
      margin-right: 26px;
    }
  }

  &-create {
    $root: &;

    &__btn {
      &.ecos-btn {
        font-size: $font-size-large;
      }

      .ecos-btn__text {
        margin-left: 6px;
      }
    }
  }

  &-search {
    $search: &;
    width: $search-base-width;
    transition: width 0.3s;

    &_focused {
      width: $search-focused-width;
    }

    &#{$search}_mobile {
      & .ecos-dropdown__menu.ecos-input-search__results {
        position: fixed !important;
        top: 60px !important;
        left: unset;
        right: 0;
      }
    }

    .ecos-dropdown__menu {
      #{$search}-result {
        padding: 11px 15px 0;

        &[data-separator='false'] {
          padding-bottom: 15px;
        }

        &__group-name {
          @extend %ellipsis;
          background: $color-gray-10;
          color: $color-gray-dark;
          font-weight: $font-weight-bold;
          font-size: $font-size-large;
          padding: 15px;
          max-width: $dropdown-max-width;
        }

        &__content {
          display: flex;

          &-icon {
            color: $color-blue-light2;
            font-size: 33px;
            padding-right: 12px;
          }

          &-avatar {
            margin-right: 10px;

            .ecos-avatar__icon {
              color: $color-blue-light2;
              background: $color-white;
            }
          }

          &-data {
          }

          &-title {
            color: $color-blue-dark;
            font-weight: $font-weight-semi-bold;
            font-size: $font-size-standard;
          }

          &-desc {
            color: $text-color-gray;
            font-weight: $font-weight-semi-bold;
            font-size: $font-size-small;
          }
        }

        .ecos-separator {
          margin-top: 15px;
        }
      }
    }

    &-result {
      $result: &;
      max-width: $dropdown-max-width;

      &:hover {
        #{$result}__separator {
          display: none;
        }
      }

      &[data-separator='false'] {
        padding-bottom: 15px;
      }

      &__content-data {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
      }
    }

    .ecos-dropdown__menu.ecos-input-search__results {
      width: unset;
      max-width: $dropdown-max-width;
      z-index: 910;
      max-height: calc(100vh - 60px);
      overflow: auto;
    }
  }

  &-site {
    &__btn.ecos-btn {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &-user {
    &__btn {
      max-width: 152px;

      .ecos-btn__text {
        @extend %ellipsis;
      }
    }

    &__menu {
      &-item {
        display: flex;
        width: 100%;
        border: unset;
        padding: 10px 15px;
        background: $color-white;
        color: $text-color-dark;
        cursor: pointer;
        font-size: $font-size-standard;
        font-weight: 600;

        &:first-child {
          border-top-left-radius: $border-radius-standard;
          border-top-right-radius: $border-radius-standard;
        }

        &:last-child {
          border-bottom-left-radius: $border-radius-standard;
          border-bottom-right-radius: $border-radius-standard;
        }

        &:focus,
        &:focus-visible {
          outline: none;
        }

        &:hover {
          background: $color-gray-4;
        }

        &-label {
          @extend %ellipsis;

          padding-left: 9px;
        }

        .icon:not(.icon_on):not(.icon_off) {
          color: $color-gray-5;

          &:before {
            font-size: $font-size-extra-large;
          }
        }
      }
    }
  }

  &-lang {
    &__btn {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    &__img {
      width: 22px;
      margin-right: 7px;
    }

    &__menu {
      min-width: 100% !important;

      li a {
        padding: 9px 10px;
      }
    }
  }

  &-dropdown__toggle {
    display: flex;

    .ecos-header-user-avatar {
      margin-right: 10px;
    }
  }

  &-hamburger {
    color: $color-white;
    display: inline-flex;
    align-items: center;
    line-height: normal;
    font-weight: normal;
    cursor: pointer;

    .icon {
      font-size: 17px;
    }
  }
}

@media all and (max-width: 600px) {
  .ecos-header {
    padding: 10px 15px;

    &__side {
      &_right {
        width: 100%;
        position: relative;
      }
    }

    &-search {
      flex-grow: 1;
      position: absolute;
      max-width: 40px;
      left: 0;
      top: 0;

      &.ecos-input-search_open {
        $size: 100%;

        max-width: $size !important;
        width: $size !important;
        z-index: 102;

        & ~ .ecos-header-user-avatar,
        & ~ .ecos-header-user {
          opacity: 0;
          transition: opacity 0.15s ease-out;
        }
      }
    }
  }
}
