@import '../../constants';

%h-indents {
  padding: 0 20px;
}

.ecos-current-task {
  $root: &;

  &-list {
    min-height: 100px;

    &__v-scroll {
      @extend %v-scroll;
    }

    &_empty {
      margin: 33px 0;
      text-align: center;
      color: $color-gray-5;
      font-size: $font-size-standard;
      font-weight: $font-weight-semi-bold;
    }

    &-dashlet {
      height: fit-content;
    }

    &__loader-wrapper {
      height: 100%;
    }

    &_view-enum {
      padding: 5px 0;
      border-bottom: 2px solid $color-gray-4;
      font-size: $font-size-small;

      &-label {
        min-width: 100px;
        margin-right: 45px;
        font-weight: $font-weight-bold;
        color: $text-color-dark;
      }

      &-value {
        color: $color-gray-9;
      }
    }

    &_view-table {
      height: 110px !important;

      .table {
        border-top: none;

        th {
          border-top: none;
        }
      }

      .ecos-th {
        font-weight: $font-weight-bold;
      }

      .ecos-grid__td {
        font-weight: $font-weight-semi-bold;
      }
    }
  }
}
