@import '../../../styles/constants';
@import '../../../styles/content';

.journal-preset-editor {
  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__label {
    flex: 1;
    @extend %subtitle-block--2;

    &_required {
      &::after {
        content: '*';
        padding-left: 5px;
        color: var(--primary-color);
      }
    }
  }

  &__control {
    flex: 1;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  & .assoc-value {
    width: auto;
  }
}

.journal-preset {
  &__group-item {
    cursor: pointer;
  }
}
