@import '../../../constants';

.pagination {
  display: inline-block !important;
  float: right;
}

.pagination__text {
  font-family: $font-family !important;
  font-weight: $font-weight-bold !important;
  font-size: $font-size-standard !important;
  color: $text-color-gray;
}

.pagination__button {
  color: $text-color-gray;
  padding: 0;

  &:hover {
    color: $color-blue-dark;
    background: $color-gray-4;
  }
}

.pagination__button-icon-left {
  font-size: 20px;
}

.pagination__button-icon-right {
  font-size: 20px;
}
