@import '../../../styles/constants';

.ecos-pagination {
  $root: &;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  transition: opacity ease 0.5s;

  &_loading {
    cursor: default;
    pointer-events: none;
    opacity: 0.6;
  }

  &_new {
    #{$root}__text-total {
      margin-right: 9px;
    }
  }

  &__text {
    font-family: $font-family !important;
    font-weight: $font-weight-semi-bold !important;
    font-size: $font-size-standard !important;
    color: $text-color-gray;

    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    text-decoration: none;

    background: inherit;

    line-height: normal;
    box-sizing: border-box;
    padding: 0 1px;
  }

  &__text-total.large {
    margin-right: 9px;
  }

  &__arrow {
    &_new {
      &:hover rect,
      &:hover path {
        fill: var(--primary-color);
        stroke: $color-white;
      }

      &.ecos-btn {
        border-radius: 6px;
        padding: 0;
      }
    }

    &.ecos-btn {
      padding: 0;
      width: 20px;
      height: 20px;
    }

    &:first-of-type {
      margin-left: 17px;
    }

    &:disabled:hover,
    &:disabled {
      color: $color-gray-5;
    }
  }

  &__arrow + &__arrow {
    margin-left: 10px;
  }

  &__page-size {
    margin-left: 17px;
    display: inline-block;
    position: relative;
    width: 70px;
  }
}
