@import '../../../constants';

.pagination {
  display: inline-block !important;
}

.pagination__text {
  display: inline-block !important;
  font-family: $font-family !important;
  font-weight: $font-weight-semi-bold !important;
  font-size: $font-size-standard !important;
  color: $text-color-gray;

  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  text-decoration: none;

  background: inherit;

  letter-spacing: $letter-spacing;
  line-height: normal;
  padding: 6px 1px;
  height: 34px;
}

.pagination__btn-step {
  margin-right: 14px;
}

.pagination__step {
  margin-right: 17px;
}
