@import '../../../styles/constants';

:root {
  --popper-wrapper-height: 0;
}

.ecos-popper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto;
  align-items: center;

  &__text {
    @extend %ellipsis;

    &_new {
      font-size: 11px !important;
      font-weight: 600 !important;
      color: $color-gray-5;
      line-height: 13px;

      > a {
        color: $color-gray-5;
      }
    }
  }

  &__icon.icon {
    cursor: pointer;
    color: $color-gray-5;
    height: 18px;
    margin-top: -3px;
    margin-left: 10px;

    &:hover {
      color: var(--dark-primary-color);
    }

    &:before {
      display: unset;
    }
  }

  &__arrow {
    width: 0.6rem;
    height: 0.6rem;

    &:before {
      content: '';
      background: white;
      width: 0.6rem;
      height: 0.6rem;
      transform: translate(-50%, -50%) rotate(45deg);
      position: absolute;
      top: 0;
      left: 0.25rem;
      box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
      cursor: unset;
      pointer-events: none;
    }

    &_top {
    }

    &_bottom {
      &:before {
        top: unset;
        bottom: calc(var(--popper-wrapper-height));
        box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.2);
      }
    }

    &_left {
    }

    &_right {
    }
  }
}

.ecos-popup-manager {
  display: flex;
  padding: 0 10px;
  border-radius: $border-radius-standard;
  background: white;
  box-shadow: $box-shadow-tooltip;
  z-index: 10000;

  opacity: 0;

  &_fade-in {
    animation: fadeIn 0.3s ease-in forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
