@import '../../../styles/constants';

.ecos-journal-menu {
  $menu: &;

  background: $color-gray-3;
  padding: 15px 25px 15px 15px;
  height: 100%;
  min-width: 273px;

  &_grid {
    display: grid;
    grid-auto-rows: minmax(41px, max-content);
    align-items: stretch;

    #{$menu} {
      &__journals,
      &__presets {
        overflow: hidden;
      }
    }
  }

  &__collapsible-list {
    height: 100%;

    .panel-bar {
      display: grid;
      height: 100%;
    }

    .collapsible-list__collapse {
      overflow: auto;
    }
  }

  &_open {
    width: 100%;
  }

  &_tabs {
    border-top-left-radius: $border-radius-extra-large;
    border-bottom-left-radius: $border-radius-extra-large;
    padding-top: 12px;
  }

  &_mobile {
    padding: 18px 16px;
    border-radius: 0;
    overflow-y: auto;

    &::-webkit-scrollbar-track {
      background-color: $color-gray-3 !important;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: $color-gray-3 !important;
    }
  }
}

.ecos-journal-menu__hide-menu-btn {
  width: 100%;
  text-align: right;
  margin-bottom: 15px;
}

.ecos-journal-menu__journals {
  background: $color-white;
  padding: 15px;
  margin-bottom: 10px;
}

.ecos-journal-menu__presets {
  padding: 15px;
  background: $color-white;
}

.ecos-btn.ecos-journal-menu {
  &__btn {
    position: absolute;
    line-height: 15px;

    &_delete {
      right: 13px;
      top: 10px;
    }

    &_edit {
      right: 39px;
      top: 10px;
    }

    &_cancel {
      right: 12px;
      top: 10px;
    }

    &_apply {
      right: 37px;
      top: 10px;
    }
  }
}

.ecos-journal-menu__list-item {
  padding: 13px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ecos-journal-menu__list-item_hover {
  padding: 13px 60px 13px 15px;
}

.ecos-journal-menu__list-item-input {
  padding-right: 58px;
}
