@import '../../../constants';

.ecos-journal-menu {
  background: $color-gray-3;
  padding: 21px 26px 0 15px;
}

.ecos-journal-menu_open {
  width: 100%;
}

.ecos-journal-menu_tabs {
  border-top-left-radius: $border-radius-extra-large;
}

.ecos-journal-menu__hide-menu-btn {
  width: 100%;
  text-align: right;
  margin-bottom: 21px;
}

.ecos-journal-menu__journals {
  background: $color-white;
  padding: 15px;
  margin-bottom: 10px;
}

.ecos-journal-menu__presets {
  padding: 15px;
  background: $color-white;
}

.ecos-journal-menu__close-list-item {
  position: absolute;
  right: 5px;
}

.ecos-journal-menu__list-item {
  padding: 13px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
