@import '../../../constants';

.ecos-journal-dashlet {
  padding-top: 0;

  &__toolbar {
    margin: 12px 15px;
    position: relative;

    &-dropdown {
      &_small {
        width: calc(100% - 50px);

        button {
          width: 100%;
        }
      }
    }
  }

  &__footer {
    margin: -5px 15px 0 15px;
  }

  &__pagination {
    margin-right: 25px;
  }

  &__grid {
    position: relative;
  }

  &__body {
    min-height: 115px;
  }
}
