@import '../../../constants';

.ecos-journal-dashlet {
  //width: 618px;
}

.ecos-journal-dashlet__toolbar {
  margin: 12px 15px;
  position: relative;
}

.ecos-journal-dashlet__footer {
  margin: -5px 15px 0 15px;
}

.ecos-journal-dashlet__pagination {
  margin-right: 25px;
}

.ecos-journal-dashlet__grid {
  position: relative;
}
