@import '../../../styles/constants';

.item {
  font-weight: $font-weight-semi-bold;
  border-radius: $border-radius-standard;
  margin-bottom: 2px;
  font-size: $font-size-standard;

  a {
    display: block;
    line-height: 40px;
    padding: 0 10px;
    color: inherit !important;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:before {
      font-size: 18px;
      margin-right: 10px;
      color: $color-gray-6;
      position: relative;
      top: 1px;
    }
  }

  &:hover {
    background-color: $color-gray-4;
    color: $text-color-dark;

    a {
      &:before {
        color: $text-color-gray;
      }
    }
  }
}

.itemActive {
  background-color: $color-blue-light;
  color: $color-white;

  &:hover {
    background-color: $color-blue-light;
    color: $color-white;

    a {
      &:before {
        color: $color-white;
      }
    }
  }

  a {
    &:before {
      color: $color-white;
    }
  }
}

@media (max-width: 992px) {
  .wrapper {
    margin-left: 0;
  }
}
