@import "@/styles/constants";

.choices {
  $root: &;

  &__list--single {
    #{$root}__item {
      &--selectable {
        display: inline-flex;
        overflow: hidden;

        & > span {
          @extend %ellipsis;
          width: calc(100% - 36px);
        }
      }
    }
  }
}
