@import '../../../styles/constants';

.ecos-icon {
  color: $text-color-gray;
  font-size: $font-size-extra-large;
  min-width: 25px;

  &_button {
    &:hover {
      color: $color-blue-light;
      cursor: pointer;
    }
  }

  &-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 25px;
    flex-shrink: 0;

    &__content {
      width: auto;
      height: inherit;
      vertical-align: super;
    }
  }
}
