@import '../../../styles/constants';

.ecos-process-statistics {
  &__header {
  }

  &__scheme {
  }

  &__journal {
  }

  &-settings {
    padding: 20px 20px 0;

    &__block {
      max-width: 434px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__buttons {
      margin-top: 22px;

      & > :nth-child(even) {
        margin-left: 10px;
      }
    }
  }
}
