@import '../../../styles/constants';

%base-block {
  position: relative;
  min-height: 50px;
  border-top: 2px solid $color-gray-4;

  .ecos-caption {
    margin: 10px;
  }
}

.ecos-process-statistics {
  &__header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  &__heatmap-switch {
    display: flex;
    align-items: center;

    .ecos-switch {
      margin-right: 10px;
    }
  }

  &-model {
    @extend %base-block;

    &__panel {
      display: flex;
      justify-content: flex-end;
      padding: 0 10px 10px;
    }

    & &__sheet-resizer {
      &::before {
        content: none;
      }
    }
  }

  &-journal {
    @extend %base-block;
  }

  &-settings {
    padding: 20px 20px 0;

    &__block {
      max-width: 434px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__buttons {
      margin-top: 22px;

      & > :nth-child(even) {
        margin-left: 10px;
      }
    }
  }
}
