@import '../../styles/constants';

$expanded-sidebar-width: 300px;
$transition-duration: 0.2s;

.ecos-base-page {
  display: flex;
  height: calc(100vh - 60px);

  &_headless {
    height: 100vh;
  }

  .workspace-preview {
    display: block;
    margin: 0;

    div {
      margin-right: 15px;
    }

    &__hovered {
      cursor: pointer;

      &:hover {
        transition: opasity 2s;
        opacity: 0.5;
      }
    }
  }

  &__new {
    height: calc(100vh - 52px);

    .workspace-preview div {
      margin: 0;
    }
  }
}

.ecos-main-area {
  flex: auto;
  overflow: hidden;
  position: relative;
}

.ecos-main-area#bd {
  overflow: auto;
  border-left: 1px solid #ccc;
}

%menu-item-separator {
  content: '';
  display: block;
  height: 2px;
  background: $color-gray-4;
  position: absolute;
  width: 100%;
}

.ecos-sidebar {
  $menu-item: '.ecos-sidebar-item';
  $menu-list: '.ecos-sidebar-list';

  display: flex;
  width: 72px;
  height: 100%;
  flex-direction: column;
  flex-shrink: 0;
  transition: width $transition-duration;
  background: $color-white;
  will-change: width;
  overflow: hidden;
  z-index: 5;

  &_expanded {
    width: $expanded-sidebar-width;
  }

  &-head {
    min-height: 55px;
    max-height: 55px;
  }

  &-logo {
    $logo: &;
    position: relative;
    padding-left: 26px;
    padding-top: 18px;

    &__link {
      display: block;
      position: relative;
      height: 100%;
      cursor: pointer;
    }

    &__img {
      transition: opacity $transition-duration;
      position: absolute;
      max-width: 170px;
      max-height: 30px;
    }

    &__icon {
      font-size: 25px;
    }

    &__img_small_hide {
      display: none;
    }
  }

  &-toggle {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #e8edef;
    cursor: pointer;

    &__menu_btn {
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      bottom: 12px;
      left: 12px;
      width: 46px;
      height: 46px;
      border: none;
      outline: none;
      border-radius: 50%;
      background-color: var(--primary-color);
      z-index: 21;

      &:hover,
      &:focus,
      &:active {
        background-color: var(--primary-color);
      }
    }

    &:hover {
      background-color: $color-gray-25;
    }

    p {
      margin: 0;
      padding-left: 10px;
      font-weight: 700;
      font-size: 10pt;
      color: #444444;
      user-select: none;
    }
  }

  &-scroll-v {
    @extend %v-scroll;
    right: 3px;
  }

  &-scroll-area {
    overflow-x: hidden !important;
  }

  &-item {
    display: flex;
    align-items: center;
    position: relative;
    height: 38px;
    width: 100%;
    padding-right: 15px;
    cursor: pointer;

    &:hover {
      background-color: var(--dark-primary-color);

      a {
        .ecos-sidebar-item__label, i.ecos-sidebar-item__icon {
          color: $color-white;
        }
      }

      #{$menu-item}__point {
        border-color: $color-gray-25;
      }

      &#{$menu-item}::before,
      & + #{$menu-item}::before {
        content: none;
      }
    }

    &_hidden {
      display: none;
    }

    &_collapsible {
      #{$menu-item}__link {
        width: calc(100% - 16px);
      }
    }

    &_title-separator {
      cursor: pointer;
      pointer-events: none;

      &:not(#{$menu-item}_collapsible):hover {
        background: none;
      }

      #{$menu-item}__label {
        color: $color-gray-5;
      }
    }

    &_line-separator {
      cursor: pointer;
      pointer-events: none;

      & :nth-child(n) {
        display: none;
      }

      &::after {
        @extend %menu-item-separator;
        width: 70%;
        left: 15%;
      }
    }

    &#{$menu-item}_selected:not(#{$menu-item}_nested-expanded):not(:hover) {
      background-color: var(--dark-primary-color);

      #{$menu-item}__icon,
      #{$menu-item}__label,
      #{$menu-item}__toggle {
        color: $color-white;
      }

      #{$menu-item}__badge {
        background-color: $color-white;
        color: $text-color-gray;
      }

      #{$menu-item}__point {
        background-color: $color-white;
        border-color: var(--light-primary-color);
      }

      &::before,
      & + #{$menu-item}::before {
        display: none;
      }
    }

    &__toggle {
      display: block;
      color: $color-gray-5;
      font-size: $font-size-standard;

      &_h {
        position: absolute;
        right: 7px;
      }
    }

    &__tooltip {
      &-inner {
        cursor: pointer;
      }

      &-inner.tooltip-inner {
        width: 100%;
        height: 100%;
        box-shadow:
          0 1px 5px rgba(0, 0, 0, 0.2),
          0 3px 4px rgba(0, 0, 0, 0.12),
          0 2px 4px rgba(0, 0, 0, 0.14);
        border-radius: $border-radius-extra-large;
        background-color: $color-white;
        text-align: left;
        padding: 0;
        margin: 0;
        max-width: 277px;
        max-height: 100vh;
        overflow-y: auto;

        &:hover {
          background-color: $color-gray-25;
        }
      }

      &-link {
        cursor: pointer;
        color: $text-color-dark;
        font-size: 13px;
        font-weight: $font-weight-semi-bold;
        margin: 9px;
      }
    }

    &__link {
      display: inline-flex;
      width: calc(100% - 32px);
      height: 100%;
      align-items: center;
      text-decoration: none;

      .workspace-preview {
        margin-right: 9px;

        div {
          font-size: 15px !important;
        }
      }

      &[disabled] {
        pointer-events: none;

        #{$menu-item}__label {
          pointer-events: none;
          color: $text-color-gray;
        }
      }
    }

    &__icon {
      color: $text-color-gray;
      text-align: center;
      overflow: hidden;
    }

    &__label {
      @extend %ellipsis;
      flex: auto;
      color: $text-color-dark;
      font-weight: $font-weight-bold;
      font-size: $font-size-standard;
      opacity: 1;

      &_with-badge {
        max-width: 180px;
      }
    }

    &__icon + &__label {
      margin-left: 9px;
    }

    &__badge {
      min-width: 32px;
      padding: 0 7px;
      line-height: 18px;
      font-size: $font-size-extra-small;
      opacity: 1;
      transition: opacity $transition-duration;

      &_hide {
        opacity: 0;
      }
    }

    &__point {
      background: $color-red-1;
      box-sizing: unset;
      width: 10px;
      height: 10px;
      border: 4px solid $color-white;
      border-radius: 50%;
      position: absolute;
      right: 15px;
      top: 0;
      opacity: 1;
      transition: opacity $transition-duration;

      &_hide {
        opacity: 0;
      }
    }
  }

  &-list {
    $list: &;

    min-height: 0;
    max-height: 100%;
    transition: height $transition-duration;

    &_collapsed {
      display: none;
    }

    &_lvl-0 {
      &::after {
        content: '';
        padding-top: 10px;
        display: block;
      }

      #{$menu-item}_lvl-0 {
        padding-left: 26px;

        &:hover {
          background: initial;
        }

        #{$menu-item}__label {
          font-size: $font-size-large;
          color: $color-gray-5;
        }
      }
    }

    &_lvl-1 {
      #{$list}_expanded::after {
        @extend %menu-item-separator;
      }

      #{$menu-item}_lvl-1 {
        &#{$menu-item}_nested-expanded:not(:hover) {
          background: $color-gray-25;
        }

        #{$menu-item}__link {
          padding-left: 25px;
        }
      }
    }

    &_lvl-2 {
      #{$menu-item}_lvl-2 {
        &:not(:first-child)::before {
          @extend %menu-item-separator;
          top: 0;
          left: 35px;
        }

        &#{$menu-item}_collapsible {
          background: unset;

          &#{$menu-item}::before,
          & + #{$menu-item}::before {
            content: '';
          }
        }

        #{$menu-item}__link {
          padding-left: 35px;
        }

        #{$menu-item}__label {
          font-weight: $font-weight-semi-bold;
        }
      }
    }

    &_lvl-3 {
      padding: 0 14px 0 26px;

      #{$menu-item}_lvl-3 {
        height: 25px;
        padding: 0 9px;
        border-radius: $border-radius-standard;

        &:last-child {
          margin-bottom: 12px;
        }

        #{$menu-item}__label {
          color: $text-color-gray;
          font-size: $font-size-small;
          font-weight: $font-weight-semi-bold;
        }
      }
    }

    &-dropdown-menu {
      & .tooltip.show {
        opacity: 1;
      }

      & &-inner.tooltip-inner {
        box-shadow:
          0 1px 5px rgba(0, 0, 0, 0.2),
          0 3px 4px rgba(0, 0, 0, 0.12),
          0 2px 4px rgba(0, 0, 0, 0.14);
        border-radius: $border-radius-extra-large;
        background-color: $color-white;
        text-align: left;
        padding: 0;
        margin: 0;
        max-width: 277px;
        max-height: 100vh;
        overflow-y: auto;
      }

      & &-arrow {
        &:before {
          display: none;
        }
      }

      #{$menu-list}_lvl-2 {
        #{$menu-item}_lvl-2 {
          transition: width $transition-duration;

          #{$menu-item}__link {
            padding: 0 18px;
          }

          #{$menu-item}__toggle {
            position: initial;
          }

          &:first-child {
            border-top-left-radius: $border-radius-extra-large;
            border-top-right-radius: $border-radius-extra-large;
          }

          &:last-child {
            border-bottom-left-radius: $border-radius-extra-large;
            border-bottom-right-radius: $border-radius-extra-large;
          }

          &:not(:first-child)::before {
            border-right: 15px solid white;
            border-left: 15px solid white;
            right: 0;
            left: 0;
          }
        }
      }

      #{$menu-list}_lvl-3 {
        padding: 0 9px;

        &:last-child {
          padding-bottom: 9px;
        }

        #{$menu-item}_lvl-3 {
          padding: 0 9px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.ecos-sidebar_new {
  $menu-item: '.ecos-sidebar-item';
  $menu-list: '.ecos-sidebar-list';
  padding: 0 9px;
  width: 70px;
  border-right: 1px solid $color-gray-4;

  .ecos-sidebar-logo {
    padding-top: 17px;
    padding-left: 12px;
  }

  .ecos-sidebar-scroll {
    margin-top: -4px;
  }

  .ecos-sidebar-item {
    border-radius: 6px;

    &__label {
      @extend %ellipsis;

      font-size: $font-size-small;
      font-weight: 600;
    }

    &__badge {
      line-height: 20px;
    }
  }

  .ecos-sidebar-list {
    &_lvl-0 {
      #{$menu-item}_lvl-0 {
        margin-bottom: 6px;
        padding-left: 12px;
        cursor: default;

        &:hover {
          .ecos-sidebar-item__label {
            color: $color-gray-5 !important;
          }
        }

        &::after {
          @extend %menu-item-separator;
          bottom: 0;
          width: 90%;
          height: 1px;
        }

        #{$menu-item}__label {
          font-size: $font-size-small;
        }
      }
    }

    &_lvl-1 {
      .ecos-sidebar-list_expanded::after {
        content: none;
      }

      #{$menu-item}_lvl-1 {
        #{$menu-item}__link {
          padding-left: 14px;
        }
      }
    }

    &_lvl-2 {
      #{$menu-item}_lvl-2 {
        &:not(:first-child)::before {
          content: none;
        }

        #{$menu-item}__link {
          padding-left: 18px;
        }
      }
    }
  }

  &_expanded {
    width: 243px;

    .ecos-sidebar-toggle {
      svg {
        transform: rotate(180deg)
      }
    }
  }

  &_collapsed {
    .workspace-preview {
      justify-content: center !important;
    }

    .ecos-sidebar-item__toggle {
      display: none;
    }

    .ecos-sidebar-list_lvl-0 {
      #{$menu-item}_lvl-0::after {
        bottom: unset;
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .ecos-sidebar {
    width: 0;
    position: absolute;
    top: 60px;
    z-index: 900;
    height: calc(100% - 60px);
    transition: width $transition-duration;

    &_expanded {
      width: 100%;
    }

    &_collapsed {
      padding: 0;
    }
  }
}
