@import '../../styles/constants';

%menu-item-separator {
  content: '';
  display: block;
  height: 2px;
  background: $color-gray-4;
  position: absolute;
  width: 100%;
}

.ecos-sidebar {
  $menu-item: '.ecos-sidebar-item';
  $menu-list: '.ecos-sidebar-list';

  display: flex;
  flex-direction: column;

  width: 72px;
  transition: width 0.4s;
  background: $color-white;
  overflow: hidden;

  &_expanded {
    width: 300px;
  }

  &-head {
    min-height: 87px;

    &_expanded {
      min-height: 49px;
    }

    &__separator {
      padding: 0 11px;
    }

    &_expanded > &__separator {
      display: none;
    }
  }

  &-logo {
    $logo: &;
    position: relative;
    padding-left: 26px;
    padding-top: 18px;

    &_small {
      height: 66px;
    }

    &__link {
      display: block;
      height: 100%;
    }

    &__img {
      transition: opacity 0.4s;
      position: absolute;

      &_small {
        height: 22px;
      }

      &_large {
        height: 17px;
      }
    }
  }

  &-scroll_v {
    @extend %v-scroll;
    right: 3px;
  }

  &-item {
    display: flex;
    align-items: center;
    position: relative;
    height: 38px;
    width: 100%;
    cursor: pointer;

    &:hover {
      background: $color-gray-16;
    }

    &__toggle {
      display: block;
      color: $color-gray-5;
      font-size: $font-size-standard;

      &_h {
        margin-left: 5px;
      }
    }

    &__link {
      text-decoration: none;
      display: inline-flex;
      width: 100%;
    }

    &__icon {
      width: 20px;
      color: $text-color-gray;
      font-size: $font-size-extra-large !important;
    }

    &__icon-img {
    }

    &__label {
      @extend %ellipsis;
      flex: auto;
      color: $text-color-dark;
      font-weight: $font-weight-bold;
      font-size: $font-size-standard;
    }

    &__icon + &__label {
      margin-left: 9px;
    }

    &__badge {
      font-size: $font-size-extra-small;
    }

    &__point {
      background: $color-red-1;
      box-sizing: unset;
      width: 10px;
      height: 10px;
      border: 4px solid $color-white;
      border-radius: 50%;
      position: absolute;
      right: 15px;
      top: 5px;
    }
  }

  &-list {
    $list: &;

    min-height: 0;
    transition: height 0.4s;

    &_collapsed {
      display: none;
    }

    &_lvl-0 {
      #{$menu-item}_lvl-0 {
        padding: 0 15px 0 26px;

        &:hover {
          background: initial;
        }

        #{$menu-item}__label {
          color: $color-gray-5;
          font-size: $font-size-large;
        }
      }
    }

    &_lvl-1 {
      #{$list}_expanded::after {
        @extend %menu-item-separator;
      }

      #{$menu-item}_lvl-1 {
        padding: 0 15px 0 26px;

        &#{$menu-item}_expanded:not(:hover) {
          background: $color-blue-light;

          #{$menu-item}__icon,
          #{$menu-item}__label,
          #{$menu-item}__toggle {
            color: $color-white;
          }
        }
      }
    }

    &_lvl-2 {
      #{$menu-item}_lvl-2 {
        padding: 9px 35px;

        &:not(:last-child)::after {
          @extend %menu-item-separator;
          bottom: 0;
        }

        &#{$menu-item}_no-action {
          pointer-events: none;

          &:hover {
            background: unset;
          }
        }

        #{$menu-item}__label {
          font-weight: $font-weight-semi-bold;
        }
      }
    }

    &_lvl-3 {
      padding: 0 14px 0 26px;

      #{$menu-item}_lvl-3 {
        height: 25px;
        padding: 0 9px;

        &:hover {
          border-radius: $border-radius-standard;
        }

        &:last-child {
          margin-bottom: 12px;
        }

        #{$menu-item}__label {
          color: $text-color-gray;
          font-size: $font-size-small;
          font-weight: $font-weight-semi-bold;
        }
      }
    }
  }

  &_collapsed {
    #{$menu-list}_lvl-1 {
      #{$menu-item}__label {
        display: none;
      }
    }
  }
}
