@import '../../styles/constants';

%menu-item-separator {
  content: '';
  display: block;
  height: 2px;
  background: $color-gray-4;
  position: absolute;
  width: 100%;
}

.ecos-sidebar {
  $menu-item: '.ecos-sidebar-item';
  $menu-list: '.ecos-sidebar-list';

  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  width: 72px;
  transition: width 0.4s;
  background: $color-white;
  overflow: hidden;

  &_expanded {
    width: 300px;
  }

  &-head {
    min-height: 49px;
    max-height: 49px;
  }

  &-logo {
    $logo: &;
    position: relative;
    padding-left: 26px;
    padding-top: 18px;

    &__link {
      display: block;
      height: 100%;
    }

    &__img {
      transition: opacity 0.4s;
      position: absolute;

      &_small {
        width: 20px;
      }

      &_large {
        width: 99px;
      }
    }
  }

  &-scroll_v {
    @extend %v-scroll;
    right: 3px;
  }

  &-item {
    display: flex;
    align-items: center;
    position: relative;
    height: 38px;
    width: 100%;
    cursor: pointer;

    &:hover {
      background: $color-gray-25;
    }

    &__toggle {
      display: block;
      color: $color-gray-5;
      font-size: $font-size-standard;

      &_h {
        position: absolute;
        right: 0;
      }
    }

    &__link {
      text-decoration: none;
      display: inline-flex;
      width: 100%;
    }

    &__icon {
      color: $text-color-gray;
      font-size: $font-size-extra-large !important;
    }

    &__icon-img {
      width: 20px;
    }

    &__label {
      @extend %ellipsis;
      flex: auto;
      color: $text-color-dark;
      font-weight: $font-weight-bold;
      font-size: $font-size-standard;
    }

    &__icon + &__label {
      margin-left: 9px;
    }

    &__badge {
      font-size: $font-size-extra-small;
      opacity: 1;
      transition: opacity 0.4s;

      &_hide {
        opacity: 0;
      }
    }

    &__point {
      background: $color-red-1;
      box-sizing: unset;
      width: 10px;
      height: 10px;
      border: 4px solid $color-white;
      border-radius: 50%;
      position: absolute;
      left: 30px;
      top: 0;
      opacity: 1;
      transition: opacity 0.4s;

      &_hide {
        opacity: 0;
      }
    }
  }

  &-list {
    $list: &;

    min-height: 0;
    transition: height 0.4s;

    &_lvl-0 {
      #{$menu-item}_lvl-0 {
        padding: 0 15px 0 26px;

        &:hover {
          background: initial;
        }

        &#{$menu-item}_separator {
          &::after {
            @extend %menu-item-separator;
            width: 70%;
            left: 15%;
          }
        }

        #{$menu-item}__label {
          color: $color-gray-5;
          font-size: $font-size-large;
        }
      }
    }

    &_lvl-1 {
      #{$list}_expanded::after {
        @extend %menu-item-separator;
      }

      #{$menu-item}_lvl-1 {
        padding: 0 15px 0 26px;

        &#{$menu-item}_expanded:not(:hover) {
          background: $color-gray-4;
        }

        &#{$menu-item}_selected:not(:hover) {
          background: $color-blue-light;

          #{$menu-item}__icon,
          #{$menu-item}__label,
          #{$menu-item}__toggle {
            color: $color-white;
          }
        }
      }
    }

    &_lvl-2 {
      &#{$menu-list}_collapsed {
        display: none;
      }

      #{$menu-item}_lvl-2 {
        padding: 9px 35px;

        &:not(:first-child)::before {
          @extend %menu-item-separator;
          top: 0;
        }

        &#{$menu-item}_no-action {
          pointer-events: none;

          &:hover {
            background: unset;
          }
        }

        #{$menu-item}__label {
          font-weight: $font-weight-semi-bold;
        }
      }
    }

    &_lvl-3 {
      padding: 0 14px 0 26px;

      #{$menu-item}_lvl-3 {
        height: 25px;
        padding: 0 9px;

        &:hover {
          border-radius: $border-radius-standard;
        }

        &:last-child {
          margin-bottom: 12px;
        }

        #{$menu-item}__label {
          color: $text-color-gray;
          font-size: $font-size-small;
          font-weight: $font-weight-semi-bold;
        }
      }
    }

    &-tooltip {
      & .tooltip.show {
        opacity: 1;
      }

      & &-inner {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
        border-radius: $border-radius-extra-large;
        background-color: $color-white;
        text-align: left;
        padding: 0;
      }

      & &-arrow {
        &:before {
          display: none;
        }
      }

      #{$menu-list}_lvl-2 {
        #{$menu-item}_lvl-2 {
          padding: 0 18px;

          &:first-child:hover {
            border-top-left-radius: $border-radius-extra-large;
            border-top-right-radius: $border-radius-extra-large;
          }

          &:last-child:hover {
            border-bottom-left-radius: $border-radius-extra-large;
            border-bottom-right-radius: $border-radius-extra-large;
          }

          &:not(:first-child)::before {
            width: 80%;
            left: 10%;
          }
        }
      }

      #{$menu-list}_lvl-3 {
        padding: 0 9px;

        &:last-child {
          padding-bottom: 9px;
        }

        #{$menu-item}_lvl-3 {
          padding: 0 9px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &_collapsed {
    #{$menu-list}_lvl-1 {
      #{$menu-item}_lvl-1 {
        margin: 0 11px;
        padding: 0 15px;
        width: initial;
        border-radius: $border-radius-large;

        &:hover {
          #{$menu-item}__point {
            border: 4px solid $color-gray-25;
          }
        }
      }
    }
  }
}
