@import '../../../styles/constants.scss';

.bpmn-process {
  &__scaler {
    padding: 16px;
  }
}

.model-badges {
  &__item {
    cursor: pointer;

    &_incidents {
      background-color: $color-red-2;
    }
  }
}
