@import '../../../styles/constants';

.ecos-tags {
  display: flex;
  width: 100%;
  max-width: 100%;
  min-height: 71px;
  padding-left: 8px;
  border-radius: 5px;
  color: $color-black;
  border: 1px $color-gray-6 solid;

  &:hover {
    border-color: var(--dark-primary-color);
  }
}

.ecos-tags-body {
  display: flex;
  flex-wrap: wrap;
}

.ecos-tag {
  display: flex;
  align-items: center;
  margin: 7px 0;
  margin-right: 10px;
  padding: 0 15px;
  font-size: 12px;
  font-weight: 600;
  height: 26px;
  border: 1px solid transparent;
  border-radius: 18px;
  background-color: var(--primary-color);
  white-space: nowrap;
  color: $color-white;
  max-width: 200px;

  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ecos-tag-remove {
  margin-left: 6px;
  cursor: pointer;
}

.ecos-add {
  margin-top: 7px;
  cursor: pointer;

  &:hover {
    svg {
      fill: $color-gray;
    }
  }
}
