@import '../../constants';

$border-toolbar: #c1c1c1;
$background-toolbar: #f9f9f9;
$border-base: #c1c1c1;

.ecos-doc-preview-dashlet {
  border: 2px solid $border-base;

  &__toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-toolbar;
    border-bottom: 2px solid $border-base;
    //height: 30px;

    & > * {
      margin: 5px 0;
      padding: 0 10px;
    }

    & > *:not(:last-child) {
      border-right: 1px solid $border-toolbar;
    }

    &__pager {
      &__input {
        display: inline-block;
        width: 30px;
        padding: 5px;
        text-align: center;
      }

      &__prev {
        margin-right: 10px;
      }

      &__next {
        margin-left: 10px;
      }
    }

    &__zoom {
    }

    &__download {
    }

    &__search {
      &__input {
      }
    }
  }

  &__viewer {
    display: flex;
    justify-content: center;
    padding: 15px;

    &__pages {
    }

    &__msg {
      &_error {
        color: red;
      }
    }
  }
}
