@import '../../styles/constants';

$border-toolbar: #c1c1c1;
$background-toolbar: #fbfbfb;
$background-viewer: #f5f5f5;
$border-base: #c1c1c1;

%preview-content {
  background: $color-white;
  box-shadow: $box-shadow-default;
}

%base-flex {
  display: flex;
  align-items: center;
}

.ecos-doc-preview {
  $root: &;

  &.no-data {
    border: unset;
  }

  &_hidden {
    visibility: hidden;
    overflow: hidden;
  }

  &__content {
    height: 100%;

    &_indents {
      padding-top: 14px;
      padding-right: 17px;
      padding-left: 17px;
    }
  }

  &-dashlet {
    &_small,
    &_mobile_small {
      #{$root} {
        &__toolbar {
          > * {
            padding: 0 5px;
          }

          &-pager {
            &-input,
            &-text {
              display: none;
            }
          }

          &-zoom-dropdown {
            display: none;
          }
        }

        &__viewer-page-number {
          display: none;
        }
      }
    }

    &_mobile:not(&_mobile_small) {
      #{$root} {
        &__toolbar {
          &-zoom-dropdown {
            display: none;
          }
        }

        &__viewer-page-number {
          display: none;
        }
      }
    }
  }

  &__loader {
    padding: 15px;
    position: relative;
  }

  &__toolbar {
    @extend %base-flex;
    justify-content: center;
    background-color: $background-toolbar;
    border: 1px solid $border-base;
    min-height: 45px;
    min-width: 250px;

    & > * {
      padding: 0 15px;
    }

    & > *:not(:last-child) {
      border-right: 1px solid $border-toolbar;
    }

    &-group {
      @extend %base-flex;

      & > * {
        margin: 0 5px;
      }
    }

    &-pager {
      &-input {
        display: inline-block;
        width: 35px;
        height: 100%;
        padding: 1.5px;
        margin-right: 0;
        text-align: center;
      }

      &-text {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        max-width: 55px;
        text-overflow: ellipsis;
      }

      &-prev {
      }

      &-next {
      }
    }

    &-zoom {
      &__selector {
        @extend %base-flex;
      }
    }

    &-extra-btns {
    }
  }

  &__viewer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: $background-viewer;
    position: relative;
    height: calc(100% - 45px);
    border-bottom: 1px solid $border-base;
    border-right: 1px solid $border-base;
    border-left: 1px solid $border-base;

    &_fullscreen {
      height: 100vh;
      width: 100vw;
    }

    &-dh {
      height: 100%;
    }

    &-scroll-area {
    }

    &-page {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;

      &_pdf {
        margin: 12px 0;
      }

      &_img {
      }

      &-number {
        position: absolute;
        background-color: rgba(44, 44, 44, 0.25);
        border-radius: 20px;
        width: 25px;
        height: 25px;
        color: $color-white;
        font-size: small;
        text-align: center;
        vertical-align: middle;
        padding-top: 3px;
        left: 15px;
      }

      &-content {
        @extend %preview-content;

        transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
        transform-origin: top center;
      }
    }

    &-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }
  }
}
