@import '../../../constants';

.ecos-tabs {
  display: inline-flex;
}

.ecos-tabs_mt-10 {
  margin-top: 10px;
}

.ecos-tabs_width-full {
  display: flex;

  .ecos-tab {
    flex-grow: 1;
  }
}

.ecos-tab {
  $root: &;

  font-size: $font-size-standard;
  background: $color-white;
  color: $text-color-gray;
  font-weight: $font-weight-semi-bold;
  border-radius: 0;
  border-color: $color-gray-4;
  padding: 0 5px;
  line-height: 40px;
  cursor: pointer;
  margin-right: 2px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;

  &:first-child {
    border-top-left-radius: $border-radius-standard;
    border-bottom-left-radius: $border-radius-standard;
  }

  &:last-child {
    border-top-right-radius: $border-radius-standard;
    border-bottom-right-radius: $border-radius-standard;
    margin-right: 0;
  }

  &_active {
    color: $color-white;
    background-color: $color-blue-dark;
    border-color: $color-blue-dark;
  }

  &_hover:not(&_active):hover {
    background: $color-white;
    color: $color-blue-dark;
  }

  &_edit {
    display: inline-flex;
    align-items: center;
    min-width: 190px;
    max-width: 50%;
    position: relative;

    &_disabled {
      pointer-events: none;
      cursor: none;
    }

    &:hover {
      #{$root}-actions_hover {
        visibility: visible;
      }
    }
  }

  &-label {
    flex: auto;
    @extend %ellipsis;
    padding: 0 60px;

    &__input {
      background: transparent;
      border: none;
      color: $text-color-dark;
      text-align: center;
      padding: 0;
    }
  }

  &-actions {
    display: inline-flex;
    align-items: center;
    position: absolute;
    right: 0;

    &_none,
    &_hover {
      visibility: hidden;
    }

    & :nth-child(n) {
      padding-right: 5px;
    }

    &-edit,
    &-delete {
      color: $color-gray-5;
      font-size: $font-size-standard;

      &:hover {
        color: $text-color-gray;
      }
    }

    &-move {
      color: $color-gray-1;
      font-size: $font-size-extra-large;
      cursor: grab;

      &:hover {
        color: $color-gray-5;
      }
    }
  }

  &_active {
    #{$root}-label__input {
      color: $color-white;
    }

    #{$root}-actions {
      &-edit,
      &-delete {
        color: $color-blue-light2;

        &:hover {
          color: $color-white;
        }
      }

      &-move {
        color: $color-blue-light;

        &:hover {
          color: $color-blue-light2;
        }
      }
    }
  }
}
