@import '../../../styles/constants';

.ecos-journal-dashlet {
  padding-top: 0;

  &__toolbar {
    padding: 12px 15px;
    position: relative;
    display: flex;

    &-dropdown {
      &_small {
        width: calc(100% - 50px);

        button {
          width: 100%;
        }
      }
    }

    &-extra {
      padding: 0 15px;
      display: flex;
    }
  }

  &__create-btn {
    flex-shrink: 0;
  }

  &__actions {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  &__footer {
    padding: 15px 15px 0;
  }

  &__grid {
    position: relative;
  }

  &__body {
    min-height: 115px;
    //padding-bottom: 10px;
  }

  &__group-actions {
    display: flex;

    & > :nth-child(n) {
      margin-right: 10px;
    }

    .ecos-group-actions__control {
      color: $text-color-dark;
      background: $color-gray-4;

      &:hover {
        background-color: $color-gray-1;
        & > :nth-child(n) {
          color: $text-color-dark;
        }
      }
    }
  }
}
