@import '../../constants';

.ecos-vj {
  &__title {
    background: $color-blue-light4;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
    padding: 16px 20px 12px;
  }

  &__version {
    $version: &;

    &:hover {
      #{$version}-actions {
        display: block;
      }
    }

    &-number {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      margin-right: 10px;
    }

    &-title {
      color: $text-color-gray;
      font-weight: bold;
      font-size: 14px;
      line-height: 23px;
    }

    &-actions {
      display: none;
      right: 20px;
      position: absolute;

      &-item {
        cursor: pointer;
        color: $color-gray-5;
        font-size: 20px;

        &:not(:last-child) {
          margin-right: 10px;
        }

        &:hover {
          color: $color-blue-light;
        }
      }
    }

    &-header {
      display: flex;
      position: relative;
      background: $color-yellow;
      padding: 5px 20px;
    }

    &-body {
      padding: 15px 20px;
    }

    &-author {
      display: flex;
      align-items: center;

      &-avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }

      &-name {
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;

        &-item {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    &-comment {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: $text-color-gray;
      margin-top: 10px;
    }
  }

  &__message {
    color: $color-gray-5;
    padding: 23px;
    text-align: center;
  }

  &__tooltip {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
    background: $color-white !important;
    color: $text-color-dark !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 22px !important;

    &-arrow {
      &:before {
        border: none !important;
        top: -6px !important;
        width: 12px !important;
        height: 12px !important;
        background: $color-white !important;
        transform: rotate(45deg);
        box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
}
