.icon-apps:before {
  content: '\e800';
} /* '' */
.icon-case-models:before {
  content: '\e801';
} /* '' */
.icon-check:before {
  content: '\e802';
} /* '' */
.icon-close:before {
  content: '\e803';
} /* '' */
.icon-decision-tables:before {
  content: '\e804';
} /* '' */
.icon-delete:before {
  content: '\e805';
} /* '' */
.icon-down:before {
  content: '\e806';
} /* '' */
.icon-download:before {
  content: '\e807';
} /* '' */
.icon-edit:before {
  content: '\e808';
} /* '' */
.icon-off:before {
  content: '\e809';
} /* '' */
.icon-on:before {
  content: '\e80a';
} /* '' */
.icon-fucking-menu-small:before {
  content: '\e80b';
} /* '' */
.icon-left:before {
  content: '\e80c';
} /* '' */
.icon-menu-small-press:before {
  content: '\e80d';
} /* '' */
.icon-models:before {
  content: '\e80e';
} /* '' */
.icon-pie:before {
  content: '\e80f';
} /* '' */
.icon-preview:before {
  content: '\e810';
} /* '' */
.icon-reload:before {
  content: '\e811';
} /* '' */
.icon-right:before {
  content: '\e812';
} /* '' */
.icon-search:before {
  content: '\e813';
} /* '' */
.icon-select-1:before {
  content: '\e814';
} /* '' */
.icon-menu-normal-press:before {
  content: '\e815';
} /* '' */
.icon-settings:before {
  content: '\e816';
} /* '' */
.icon-up:before {
  content: '\e818';
} /* '' */
.icon-warning:before {
  content: '\e819';
} /* '' */
.icon-tiles:before {
  content: '\e81a';
} /* '' */
.icon-select:before {
  content: '\e81b';
} /* '' */
.icon-list:before {
  content: '\e81c';
} /* '' */
.icon-drag:before {
  content: '\e81d';
} /* '' */
.icon-menu-small:before {
  content: '\e81e';
} /* '' */
.icon-menu-normal:before {
  content: '\e81f';
} /* '' */
.icon-forms:before {
  content: '\e820';
} /* '' */
