.icon-big-arrow {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x41;&nbsp;');
}
.icon-big-plus {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x44;&nbsp;');
}
.icon-plus {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x45;&nbsp;');
}
.icon-calendar {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x46;&nbsp;');
}
.icon-load {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x47;&nbsp;');
}
.icon-on {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x49;&nbsp;');
}
.icon-copy {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x4f;&nbsp;');
}
.icon-group {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x50;&nbsp;');
}
.icon-left {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x51;&nbsp;');
}
.icon-right {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x52;&nbsp;');
}
.icon-big-filter {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x53;&nbsp;');
}
.icon-up {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x54;&nbsp;');
}
.icon-off {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x55;&nbsp;');
}
.icon-minus {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x57;&nbsp;');
}
.icon-warning {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x59;&nbsp;');
}
.icon-forms {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x61;&nbsp;');
}
.icon-close {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x62;&nbsp;');
}
.icon-settings {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x63;&nbsp;');
}
.icon-menu-normal-press {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x64;&nbsp;');
}
.icon-decision-tables {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x65;&nbsp;');
}
.icon-menu-normal {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x66;&nbsp;');
}
.icon-menu-small-press {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x67;&nbsp;');
}
.icon-menu-small {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x68;&nbsp;');
}
.icon-download {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x69;&nbsp;');
}
.icon-models {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x6a;&nbsp;');
}
.icon-pie {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x6b;&nbsp;');
}
.icon-preview {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x6c;&nbsp;');
}
.icon-filter {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x6d;&nbsp;');
}
.icon-down {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x6e;&nbsp;');
}
.icon-drag {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x6f;&nbsp;');
}
.icon-edit {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x70;&nbsp;');
}
.icon-apps {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x71;&nbsp;');
}
.icon-question {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x72;&nbsp;');
}
.icon-list-1 {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x73;&nbsp;');
}
.icon-arrow {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x74;&nbsp;');
}
.icon-delete {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x75;&nbsp;');
}
.icon-tiles {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x76;&nbsp;');
}
.icon-case-models {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x77;&nbsp;');
}
.icon-search {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x78;&nbsp;');
}
.icon-check {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x79;&nbsp;');
}
.icon-reload {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x7a;&nbsp;');
}
.icon-list3 {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe800;&nbsp;');
}
.icon-checked {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe829;&nbsp;');
}
.icon-checked2 {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe82a;&nbsp;');
}
.icon-unchecked {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe82b;&nbsp;');
}
.icon-checkbox-dark {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe82c;&nbsp;');
}
.icon-checkbox-minus-icon {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe82d;&nbsp;');
}
.icon-checkbox-check-icon {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe82e;&nbsp;');
}
.icon-checkbox-check {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe82f;&nbsp;');
}
.icon-arrow-left {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe830;&nbsp;');
}
.icon-columns {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe831;&nbsp;');
}
.icon-r-unchecked {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe832;&nbsp;');
}
.icon-circle-rb {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe833;&nbsp;');
}
.icon-radiobutton-dark {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe834;&nbsp;');
}
.icon-radiobutton-select {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe835;&nbsp;');
}
.icon-resize {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe837;&nbsp;');
}
.icon-underline {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe838;&nbsp;');
}
.icon-italic {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe839;&nbsp;');
}
.icon-bold {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe83a;&nbsp;');
}
.icon-clock {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe83b;&nbsp;');
}
.icon-usergroup {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe83c;&nbsp;');
}
.icon-print {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe843;&nbsp;');
}
.icon-User_avatar_off {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe844;&nbsp;');
}
.icon-User_avatar_on {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe845;&nbsp;');
}
.icon-User_avatar {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe846;&nbsp;');
}
.icon-exit {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe847;&nbsp;');
}
.icon-notify-dialogue {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe849;&nbsp;');
}
.icon-filetype-doc {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe84a;&nbsp;');
}
.icon-filetype-none {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe84b;&nbsp;');
}
.icon-big_alert {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe84c;&nbsp;');
}
.icon-actual {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#xe85a;&nbsp;');
}
