[class^='icon-'],
[class*=' icon-'] {
  font-family: 'citeck';
  font-style: normal;
  font-weight: normal;

  /* fix buttons height */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}

.icon-big-arrow {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x41;&nbsp;');
}
.icon-big-plus {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x44;&nbsp;');
}
.icon-plus {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x45;&nbsp;');
}
.icon-calendar {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x46;&nbsp;');
}
.icon-on {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x49;&nbsp;');
}
.icon-copy {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x4f;&nbsp;');
}
.icon-group {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x50;&nbsp;');
}
.icon-left {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x51;&nbsp;');
}
.icon-right {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x52;&nbsp;');
}
.icon-big-filter {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x53;&nbsp;');
}
.icon-up {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x54;&nbsp;');
}
.icon-off {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x55;&nbsp;');
}
.icon-minus {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x57;&nbsp;');
}
.icon-warning {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x59;&nbsp;');
}
.icon-forms {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x61;&nbsp;');
}
.icon-close {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x62;&nbsp;');
}
.icon-settings {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x63;&nbsp;');
}
.icon-menu-normal-press {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x64;&nbsp;');
}
.icon-decision-tables {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x65;&nbsp;');
}
.icon-menu-normal {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x66;&nbsp;');
}
.icon-menu-small-press {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x67;&nbsp;');
}
.icon-menu-small {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x68;&nbsp;');
}
.icon-download {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x69;&nbsp;');
}
.icon-models {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x6a;&nbsp;');
}
.icon-pie {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x6b;&nbsp;');
}
.icon-preview {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x6c;&nbsp;');
}
.icon-filter {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x6d;&nbsp;');
}
.icon-down {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x6e;&nbsp;');
}
.icon-drag {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x6f;&nbsp;');
}
.icon-edit {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x70;&nbsp;');
}
.icon-apps {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x71;&nbsp;');
}
.icon-question {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x72;&nbsp;');
}
.icon-list {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x73;&nbsp;');
}
.icon-arrow {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x74;&nbsp;');
}
.icon-delete {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x75;&nbsp;');
}
.icon-tiles {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x76;&nbsp;');
}
.icon-case-models {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x77;&nbsp;');
}
.icon-search {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x78;&nbsp;');
}
.icon-check {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x79;&nbsp;');
}
.icon-reload {
  *zoom: expression(this.runtimeStyle[ 'zoom' ] = '1', this.innerHTML = '&#x7a;&nbsp;');
}
