@font-face {
  font-family: 'citeck';
  src: url('../font/citeck.eot?93319159');
  src: url('../font/citeck.eot?93319159#iefix') format('embedded-opentype'), url('../font/citeck.woff2?93319159') format('woff2'),
    url('../font/citeck.woff?93319159') format('woff'), url('../font/citeck.ttf?93319159') format('truetype'),
    url('../font/citeck.svg?93319159#citeck') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'citeck';
    src: url('../font/citeck.svg?93319159#citeck') format('svg');
  }
}
*/

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'citeck';
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-big-arrow:before {
  content: '\41';
} /* 'A' */
.icon-big-plus:before {
  content: '\44';
} /* 'D' */
.icon-plus:before {
  content: '\45';
} /* 'E' */
.icon-calendar:before {
  content: '\46';
} /* 'F' */
.icon-load:before {
  content: '\47';
} /* 'G' */
.icon-on:before {
  content: '\49';
} /* 'I' */
.icon-copy:before {
  content: '\4f';
} /* 'O' */
.icon-group:before {
  content: '\50';
} /* 'P' */
.icon-left:before {
  content: '\51';
} /* 'Q' */
.icon-right:before {
  content: '\52';
} /* 'R' */
.icon-big-filter:before {
  content: '\53';
} /* 'S' */
.icon-up:before {
  content: '\54';
} /* 'T' */
.icon-off:before {
  content: '\55';
} /* 'U' */
.icon-minus:before {
  content: '\57';
} /* 'W' */
.icon-warning:before {
  content: '\59';
} /* 'Y' */
.icon-forms:before {
  content: '\61';
} /* 'a' */
.icon-close:before {
  content: '\62';
} /* 'b' */
.icon-settings:before {
  content: '\63';
} /* 'c' */
.icon-menu-normal-press:before {
  content: '\64';
} /* 'd' */
.icon-decision-tables:before {
  content: '\65';
} /* 'e' */
.icon-menu-normal:before {
  content: '\66';
} /* 'f' */
.icon-menu-small-press:before {
  content: '\67';
} /* 'g' */
.icon-menu-small:before {
  content: '\68';
} /* 'h' */
.icon-download:before {
  content: '\69';
} /* 'i' */
.icon-models:before {
  content: '\6a';
} /* 'j' */
.icon-pie:before {
  content: '\6b';
} /* 'k' */
.icon-preview:before {
  content: '\6c';
} /* 'l' */
.icon-filter:before {
  content: '\6d';
} /* 'm' */
.icon-down:before {
  content: '\6e';
} /* 'n' */
.icon-drag:before {
  content: '\6f';
} /* 'o' */
.icon-edit:before {
  content: '\70';
} /* 'p' */
.icon-apps:before {
  content: '\71';
} /* 'q' */
.icon-question:before {
  content: '\72';
} /* 'r' */
.icon-list-1:before {
  content: '\73';
} /* 's' */
.icon-arrow:before {
  content: '\74';
} /* 't' */
.icon-delete:before {
  content: '\75';
} /* 'u' */
.icon-tiles:before {
  content: '\76';
} /* 'v' */
.icon-case-models:before {
  content: '\77';
} /* 'w' */
.icon-search:before {
  content: '\78';
} /* 'x' */
.icon-check:before {
  content: '\79';
} /* 'y' */
.icon-reload:before {
  content: '\7a';
} /* 'z' */
.icon-list3:before {
  content: '\e800';
} /* '' */
.icon-checked:before {
  content: '\e829';
} /* '' */
.icon-checked2:before {
  content: '\e82a';
} /* '' */
.icon-unchecked:before {
  content: '\e82b';
} /* '' */
.icon-checkbox-dark:before {
  content: '\e82c';
} /* '' */
.icon-checkbox-minus-icon:before {
  content: '\e82d';
} /* '' */
.icon-checkbox-check-icon:before {
  content: '\e82e';
} /* '' */
.icon-checkbox-check:before {
  content: '\e82f';
} /* '' */
.icon-arrow-left:before {
  content: '\e830';
} /* '' */
.icon-columns:before {
  content: '\e831';
} /* '' */
.icon-r-unchecked:before {
  content: '\e832';
} /* '' */
.icon-circle-rb:before {
  content: '\e833';
} /* '' */
.icon-radiobutton-dark:before {
  content: '\e834';
} /* '' */
.icon-radiobutton-select:before {
  content: '\e835';
} /* '' */
.icon-resize:before {
  content: '\e837';
} /* '' */
.icon-underline:before {
  content: '\e838';
} /* '' */
.icon-italic:before {
  content: '\e839';
} /* '' */
.icon-bold:before {
  content: '\e83a';
} /* '' */
.icon-clock:before {
  content: '\e83b';
} /* '' */
.icon-usergroup:before {
  content: '\e83c';
} /* '' */
.icon-big_alert:before {
  content: '\e840';
} /* '' */
.icon-print:before {
  content: '\e843';
} /* '' */
.icon-User_avatar_off:before {
  content: '\e844';
} /* '' */
.icon-User_avatar_on:before {
  content: '\e845';
} /* '' */
.icon-User_avatar:before {
  content: '\e846';
} /* '' */
.icon-exit:before {
  content: '\e847';
} /* '' */
.icon-notify-dialogue:before {
  content: '\e849';
} /* '' */
