@import '../../../../../styles/constants';

.select-orgstruct__list-item-label.orgstructure-page {
  width: 100%;
}
.select-orgstruct__list-item__empty {
  opacity: 0.5;
  height: 38px;
  align-content: center;
}

.orgstructure-page__avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}

.orgstructure-page__list-item-icons-group {
  margin: 0 2px;
  cursor: pointer;

  &:hover {
    svg {
      fill: var(--dark-primary-color);
    }
  }
}

.icon-user__clicked {
  svg {
    fill: var(--primary-color);
  }
}

.small-icon {
  svg {
    height: 16px;
    width: 16px;
  }
}

.orgstructure-page {
  &__list {
    &-item {
      &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &:hover {
          background: linear-gradient(to right, rgba($color-white, 0), $color-white 15%);
          .orgstructure-page__list-item-icons {
            display: flex;
          }
        }
      }

      &-icons {
        position: absolute;
        right: 0;
        font-size: 16px;
        z-index: 10;
        transition: all 0.5s ease-in-out;
        display: none;
        background: linear-gradient(to right, rgba($color-white, 0), $color-white 15%);

        &::before {
          content: ' ';
          width: 15px;
        }

        i[class^='icon-'] {
          cursor: pointer;
        }

        &_hidden {
          display: none;
        }

        & .icon-user {
          &-away {
            &:before {
              color: $color-red-1;
              cursor: pointer;
            }
          }

          &-normal {
            &:before {
              color: #756f5d;
              cursor: pointer;
            }

            &__clicked {
              &:before {
                color: $color-brown-2;
              }
            }
          }

          &-online {
            &:before {
              color: $color-green1;
            }
          }
        }

        & .icon-users {
          &.orange {
            &:before {
              color: $color-red-1;
            }
          }

          &.green {
            &:before {
              color: $color-green1;
            }
          }
        }
      }

      &-label-with-extra {
        cursor: pointer;

        &_fullwidth {
          width: 100%;
        }

        &:hover {
          .orgstructure-page__list-item-label {
            color: var(--primary-color);
          }
        }
      }

      &.orgstructure-page {
        width: 100%;
        min-width: fit-content;
        cursor: pointer;
      }
    }
  }

  &-modal {
    width: 45vw;
  }
}
