@import '../../../../../styles/constants';

.select-orgstruct__list-item-label.orgstructure-page {
  width: 100%;
}

.orgstructure-page__list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.orgstructure-page__list-item-icons {
  position: absolute;
  right: 12px;
  font-size: 16px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 15%);
  z-index: 10;

  &_hidden {
    display: none;
  }
}

.orgstructure-page__list-item-icons .icon-user-away::before {
  color: $color-red-1;
  cursor: pointer;
}

.orgstructure-page__list-item-icons .icon-user-normal::before {
  color: #756f5d;
  cursor: pointer;
}

.orgstructure-page__list-item-icons .icon-user-normal__clicked::before {
  color: $color-brown-2;
}

.orgstructure-page__list-item-icons .icon-users.orange::before {
  color: $color-red-1;
}

.orgstructure-page__list-item-icons .icon-users.green::before {
  color: $color-green1;
}

.orgstructure-page__list-item-icons .icon-user-online::before {
  color: $color-green1;
}

.orgstructure-page-modal {
  width: 45vw;
}

.orgstructure-page__list-item-label-with-extra__fullwidth {
  width: 100%;
}

.select-orgstruct__list-item.orgstructure-page {
  width: 100%;
  min-width: fit-content;
  cursor: pointer;
}
