@import '../../../styles/constants';

%shadow {
  content: '';
  top: 0;
  position: absolute;
  width: 40px;
  height: 100%;
  z-index: 4;
  pointer-events: none;
}

$shadow-step_small: 35px;
$btn-circle_small: 26px;

.ecos-scrollbar-arrow {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  position: relative;

  & > :nth-child(2) {
    margin: 0 10px;
  }

  &__btn_small.ecos-btn {
    height: $btn-circle_small;
    width: $btn-circle_small;
  }

  &__scroll {
    overflow: auto;
    width: 100%;

    &_intend-left {
      &:before {
        @extend %shadow;
        background: linear-gradient(90deg, $color-gray-4 0%, rgba($color-white, 0) 100%);
        left: $shadow-step_small;
      }
    }

    &_intend-right {
      &:after {
        @extend %shadow;
        right: $shadow-step_small;
        background: linear-gradient(270deg, $color-gray-4 0%, rgba($color-white, 0) 100%);
      }
    }

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
