@import '../../../styles/constants';

%shadow {
  content: '';
  top: 0;
  position: absolute;
  width: 40px;
  height: 100%;
  z-index: 4;
  pointer-events: none;
}

$btn-circle_small: 26px;
$shadow-step_small: 35px;

$btn-circle_medium: 40px;
$shadow-step_medium: 40px;

.ecos-scrollbar-arrow {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  position: relative;

  & > :nth-child(2) {
    margin: 0 10px;
  }

  &__btn {
    &_medium.ecos-btn {
      height: $btn-circle_medium;
      width: $btn-circle_medium;
      min-width: $btn-circle_medium;
      padding: 0 12px;
    }

    &_small.ecos-btn {
      height: $btn-circle_small;
      width: $btn-circle_small;
      min-width: $btn-circle_small;
    }
  }

  &__scroll {
    $scroll: &;

    overflow: auto;
    width: 100%;

    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    &_intend-left {
      &::before {
        @extend %shadow;
        background: linear-gradient(90deg, $color-gray-4 0%, rgba($color-white, 0) 100%);
      }
    }

    &_intend-right {
      &::after {
        @extend %shadow;
        background: linear-gradient(270deg, $color-gray-4 0%, rgba($color-white, 0) 100%);
      }
    }

    &_medium {
      &#{$scroll}_intend-left {
        &::before {
          left: $shadow-step_medium;
        }
      }

      &#{$scroll}_intend-right {
        &::after {
          right: $shadow-step_medium;
        }
      }
    }

    &_small {
      &#{$scroll}_intend-left {
        &::before {
          left: $shadow-step_small;
        }
      }

      &#{$scroll}_intend-right {
        &::after {
          right: $shadow-step_small;
        }
      }
    }
  }
}
