@import '../../../constants';

.formio-component-horizontalLine {
  margin-bottom: 16px;
}

.formio-component-horizontalLine__line {
  border-top: 2px solid $color-gray-4;
  margin: 10px 0 0;
}

.formio-component-horizontalLine__line_negative-indents {
  margin: 10px -20px 0;
  padding: 0 20px;
}
