@import '../../../../constants';

.ecos-dropdown {
  display: inline-block;

  &__menu {
    border-radius: $border-radius-standard !important;
    box-shadow: $box-shadow-default;
    border: none !important;
    padding: 0 !important;
    //overflow: hidden;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    //transform: none !important;
    //top: 100% !important;
    width: auto;

    ul {
      padding: 0;
      list-style: none;
      margin-bottom: 0;
    }

    li {
      padding: 10px 15px;
      cursor: pointer;
      font-size: $font-size-standard;
      font-weight: $font-weight-semi-bold;
      color: $text-color-dark;
      white-space: nowrap;

      &:hover {
        background-color: $color-gray-4;
      }

      a {
        color: $text-color-dark;
        display: block;
        @extend %ellipsis;

        &:hover,
        &:visited,
        &:active {
          color: $text-color-dark;
        }
      }
    }

    &_right {
      left: auto !important;
      right: 0 !important;
    }

    &-link {
    }
  }

  &-menu {
    &__cascade {
      position: relative;

      &:after {
        content: '\0052';
        font-size: 10px;
        font-family: citeck;
        position: absolute;
        right: 5px;
        top: calc(50% - 1em / 2);
        color: $color-gray-5;
      }

      li {
        padding-right: 25px;
      }
    }
  }

  &.show,
  &__menu li:hover {
    &:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &:last-child {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}
