@import '../../../../constants';

.ecos-dropdown {
  display: inline-block !important;
}

.ecos-dropdown__menu {
  border-radius: $border-radius-standard !important;
  box-shadow: $box-shadow-default;
  border: none !important;
  padding: 0 !important;
  overflow: hidden;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: none !important;
  top: 100% !important;
  width: auto;

  ul {
    padding: 0;
    list-style: none;
  }

  li {
    padding: 10px 15px;
    cursor: pointer;
    font-size: $font-size-standard;
    font-weight: $font-weight-semi-bold;
    color: $text-color-dark;
    white-space: nowrap;

    &:hover {
      background-color: $color-gray-4;
    }
  }
}
