#slide-menu-checkbox {
  display: none;
}

/* .page-content-root */
body > .sticky-wrapper, /* faceted-search page hack */
body > .sticky-footer, /* faceted-search page hack */
#slide-menu-checkbox ~ .page-content-root {
  transform: translateX(60px);
  width: calc(100% - 60px);
  margin-left: 0;
}

.slide-menu-checkbox_ready ~ .page-content-root {
  transition: transform 0.2s, width 0.2s;
}

#slide-menu-checkbox:checked ~ .sticky-wrapper, /* faceted-search page hack */
#slide-menu-checkbox:checked ~ .sticky-footer, /* faceted-search page hack */
#slide-menu-checkbox:checked ~ .page-content-root {
  transform: translateX(350px);
}

/* .slide-menu */
.slide-menu {
  font-size: 14px;
  box-sizing: border-box;
  width: 60px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  left: 0;
  padding: 0;
  transition: width 0.2s;
  background: #f0f0f0;
  z-index: 10;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 1px 0 10px 0 grey;
}

#slide-menu-checkbox:checked ~ .slide-menu {
  width: 350px;
}

/* .slide-menu-toggle */
.slide-menu-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  z-index: 11;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-toggle {
  left: auto;
  bottom: auto;
  right: 15px;
  top: 8px;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-toggle:after {
  content: '\f100';
  font: normal normal normal 25px/1 FontAwesome;
  color: #52759d;
}

/* mask */
.slide-menu-mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
}

#slide-menu-checkbox:checked ~ .slide-menu-mask {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s, visibility 0.5s;
}

.slide-menu-mask label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* .slide-menu-logo */
.slide-menu-logo {
  height: 40px;
}

.slide-menu-logo__small {
  width: 59px;
  padding: 8px 17px;
  float: left;

  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-logo__small {
  visibility: hidden;
  opacity: 0;
}

.slide-menu-logo__large {
  display: none;
  height: 40px;
  text-align: center;
}

.slide-menu-logo__large img {
  padding-top: 10px;
}

.slide-menu-logo__large a {
  left: -30px;
  position: relative;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-logo__large {
  display: block;
}

/* .slide-menu-list */
.slide-menu-list {
  overflow: hidden;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list {
  overflow-y: auto;
}

.slide-menu-list__vertical-track {
  right: 2px;
  bottom: 2px;
  top: 2px;
  border-radius: 3px;
  display: none;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__vertical-track {
  display: block;
}

.slide-menu-list nav {
  padding-bottom: 30px;
}

.slide-menu-list ul {
  list-style: none;
  padding: 0;
}

.slide-menu-list__link {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  display: block;
  padding: 10px 100px 10px 17px;
  margin: 0;
  line-height: 20px;
  transition: background 0.4s ease;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__link:hover {
  background: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__link:active,
#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__link:focus {
  text-decoration: none;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__link.slide-menu-list__link-with-nested-list {
  margin-right: 50px;
  padding: 10px 50px 10px 17px;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__link_selected {
  background-color: #c6d3de;
}

.slide-menu-list__link-wrapper {
  visibility: hidden;
  width: 0;
  display: block;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__link-wrapper {
  visibility: visible;
  width: auto;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.slide-menu-list__link-badge-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f96857;
  position: absolute;
  left: 35px;
  top: 7px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}

.slide-menu-collapsible-list_nested .slide-menu-list__link-badge-indicator {
  display: none;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__link-badge-indicator {
  visibility: hidden;
  opacity: 0;
}

.slide-menu-list__link-badge {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__link-badge {
  visibility: visible;
  opacity: 1;
  display: inline-block;
  position: absolute;
  right: 65px;
  /* border: 6px; */
  background-color: #f96857;
  padding: 0 6px;
  border-radius: 28px;
  color: #fff;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  margin: 2px 0;
}

.slide-menu-list__link .fa {
  font-size: 18px;
  text-align: center;
  color: #52759d;
  line-height: 20px;
  height: 20px;
  width: 25px;
  margin-right: 20px;
  float: left;
}

.slide-menu-list__link .list-item-icon-img {
  line-height: 20px;
  height: 20px;
  width: 25px;
  margin-right: 20px;
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
}

.slide-menu-list__item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.slide-menu-list__item.list-divider .list-divider__text {
  display: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 12px 10px 12px 20px;
  font-weight: 600;
  color: #52759d;
  cursor: default;
}

.slide-menu-list__item.list-divider:before {
  content: '';
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 30px;
  margin-top: 10px;
  margin-left: 20px;
  border-top: 1px solid grey;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__item.list-divider:before {
  content: none;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__item.list-divider .list-divider__text {
  display: block;
}

.slide-menu-list__toggle-collapse {
  box-sizing: border-box;
  height: 40px;
  width: 50px;
  border-left: 1px solid #d8d8d8;
  padding: 0;
  float: right;
  opacity: 0;

  position: absolute;
  right: 0;
  top: 0;
  transition: background 0.4s ease;
}

.slide-menu-list__toggle-collapse:hover {
  background: rgba(255, 255, 255, 0.4);
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-list__toggle-collapse {
  opacity: 1;
  transition: opacity ease-out 1s;
}

.slide-menu-list__toggle-collapse:after {
  content: '';
  border-top: 2px solid #52759d;
  border-left: 2px solid #52759d;
  box-sizing: content-box;
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;

  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  right: 23px;
  left: auto;

  transition: transform 0.1s, right 0.1s;
}

.slide-menu-list__toggle-collapse_expanded:after {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  right: 19px;
}

.slide-menu-collapsible-list {
  display: none;
}

.slide-menu-collapsible-list_expanded {
  display: block;
  padding-left: 10px;
}

.slide-menu-collapsible-list_nested {
  background: inherit;
}

#slide-menu-checkbox:checked ~ .slide-menu .slide-menu-collapsible-list_nested {
  background: rgba(255, 255, 255, 0.4);
  padding: 10px 0 10px 10px;
}

/* mobile styles */
@media screen and (min-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 440px) {
  .slide-menu {
    left: -60px;
  }
  #slide-menu-checkbox:checked ~ .slide-menu {
    left: 0;
    width: 80%;
  }
  #slide-menu-checkbox ~ .page-content-root {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0);
  }
  #slide-menu-checkbox:checked ~ .page-content-root {
    -webkit-transform: translateX(81%);
    -moz-transform: translateX(81%);
    transform: translateX(81%);
  }
}

@media screen and (max-width: 550px) {
  .slide-menu {
    left: -60px;
    box-shadow: none;
  }
  #slide-menu-checkbox:checked ~ .slide-menu {
    left: 0;
  }
  #slide-menu-checkbox ~ .page-content-root {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0);
    width: 100%;
  }
}
