@import '../../../styles/constants';

.card {
  margin: 5px;
  box-shadow: $box-shadow-default;
  background-color: $color-white;
  border-radius: $border-radius-large;
  overflow: hidden;

  &:hover {
    .cardTopHover {
      opacity: 1;
    }

    .dndActionIcon {
      opacity: 1;
    }
  }
}

.cardTop {
  height: 150px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center 20px;
  background-size: auto;
}

.cardTopHover {
  opacity: 0;
  background-color: rgba(32, 55, 91, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: opacity ease-out 0.2s;
}

.cardEditButton {
  background: #2a446c;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;

  span:before {
    color: $color-white;
    font-size: 15px;
  }
}

.cardDeleteModelButton {
  background: #2a446c;
  border-radius: 4px;
  position: absolute;
  right: 80px;
  top: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;

  span:before {
    color: $color-white;
    font-size: 15px;
  }
}

.cardEditMetaButton {
  background: #2a446c;
  border-radius: 4px;
  position: absolute;
  right: 45px;
  top: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;

  span:before {
    color: $color-white;
    font-size: 15px;
  }
}

.cardTopButton {
  text-align: center;
  position: relative;
  top: 75px;

  a {
    display: inline-block;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: $color-white;
    border: 2px solid $color-white;
    border-radius: $border-radius-large;
    padding: 10px 15px;
    font-size: $font-size-standard;
    font-weight: $font-weight-semi-bold;

    &:hover {
      color: $color-white;
    }
  }
}

.cardBottom {
  height: 80px;
  background: $color-gray-4;
  padding: 10px;
  position: relative;
}

.label {
  margin: 0;
  font-size: 12px;
  color: $color-black;
  font-weight: $font-weight-semi-bold;
  padding-right: 15px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author,
.datetime {
  margin: 0;
  font-size: 11px;
  color: $text-color-gray;
}

.dndActionIcon {
  font-size: 26px;
  color: $color-gray-6;
  cursor: pointer;
  line-height: 50px;
  position: absolute;
  right: 3px;
  top: 5px;
  opacity: 0;
  transition: opacity ease-out 0.2s;

  &:before {
    margin-right: 0;
  }

  &:hover {
    color: $color-blue-light;
  }
}

.hiddenIcon {
  display: none;
}
