@import '../../constants';

.ecos-filters {
}

.ecos-filters__shift {
  position: relative;
}

.ecos-filters__shift-slot {
  margin-left: 31px;
  margin-top: 15px;
  height: auto;
  width: auto;
}

.ecos-filters__bend {
  position: absolute;
  top: -6px;
  left: 0;
  width: 31px;
  height: 32px;
  border-left: 4px solid $color-gray-4;
  border-bottom: 4px solid $color-gray-4;
  border-bottom-left-radius: $border-radius-small;
}

.ecos-filters__v-line {
  position: absolute;
  top: 34px;
  bottom: -8px;
  left: 0;
  border-left: 4px solid $color-gray-4;
}
