@import '../../../../../../styles/constants';

.value-color-formatter {
  font-size: $font-size-extra-small;
  font-weight: $font-weight-normal;
  line-height: 1;

  &__pointer {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
  }

  &__text {
    vertical-align: middle;

    span {
      &[class^='value-color-formatter_'] {
        padding: 4px 15px;
        height: 20px;
        display: inline-block;
        border-radius: $border-radius-extra-large;
      }
    }
  }

  &__oval {
    padding: 4px 15px;
    height: 20px;
    display: inline-block;
    border-radius: 30px;
  }
}

.value-color-formatter_green {
  background: $color-green;
}

.value-color-formatter_yellow {
  background: $color-yellow2;
}

.value-color-formatter_pink {
  background: $color-pink;
}

.value-color-formatter_red {
  background: $color-red-2;
}
