@import '../../../styles/constants';

.ecos-journal-dashlet-editor {
  padding: 20px 20px 10px;
}

.ecos-journal-dashlet-editor__body {
}

.ecos-journal-dashlet-editor__body_small {
}

.ecos-journal-dashlet-editor__caption {
  margin-bottom: 20px;
}

.ecos-journal-dashlet-editor__actions {
  margin-top: 10px;
}

.ecos-journal-dashlet-editor__actions_small {
}

.ecos-journal-dashlet-editor__select {
  max-width: 360px;
}

.ecos-journal-dashlet-editor_small-btn {
  width: calc(50% - 5px);
  margin-top: 20px;
  margin-right: 0;
}

.ecos-journal-dashlet-editor_small-btn_full-width {
  width: 100%;
}
