@import '../../../styles/constants';

.ecos-journal-dashlet-editor {
  margin-bottom: 15px;
}

.ecos-journal-dashlet-editor__body {
  padding: 30px 29px 0 29px;
}

.ecos-journal-dashlet-editor__caption {
  margin-bottom: 30px;
  color: $color-black;
  font-weight: $font-weight-bold;
}

.ecos-journal-dashlet-editor__actions {
  margin-top: 60px;
  padding: 0 21px;
}

.ecos-journal-dashlet-editor__select {
  max-width: 360px;
}
