@import '../../../styles/constants';

.ecos-journal-dashlet-editor {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 10px;
}

.ecos-journal-dashlet-editor__caption {
  margin-bottom: 20px;
}

.ecos-journal-dashlet-editor__actions {
  $actions: &;

  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &-diver {
    flex: auto;
    height: 10px;
  }

  .ecos-btn:last-child {
    margin-left: 10px;
  }

  &_small {
    .ecos-btn:first-child,
    #{$actions}-diver {
      width: 100%;

      & ~ .ecos-btn {
        flex: 1;
      }
    }
  }
}

.ecos-journal-dashlet-editor__select {
  max-width: 360px;
}

.ecos-journal-dashlet-editor__body {
  .select-journal__values-list {
    max-height: 200px;
    overflow: auto;
  }
}
