@import '../../../styles/constants';

.ecos-journal-dashlet-editor {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 10px;
}

.ecos-journal-dashlet-editor__caption {
  margin-bottom: 20px;
}

.ecos-journal-dashlet-editor__actions {
  $actions: &;

  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &-diver {
    flex: auto;
  }

  .ecos-btn:not(:last-child) {
    margin-right: 10px;
  }

  &_small {
    flex-direction: column;

    .ecos-btn:not(:last-child) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}

.ecos-journal-dashlet-editor__select {
  max-width: 360px;
}

.ecos-journal-dashlet-editor__body {
  .select-journal__values-list {
    max-height: 200px;
    overflow: auto;
  }
}
