@import '../../../styles/constants';

@mixin show_buttons {
  div[class*='formio-component-submit'] {
    display: block !important;
  }

  .btn-block[type='button'],
  .btn-block[type='submit'] {
    display: block !important;
  }
}

.ecos-properties {
  $root: &;

  &-dashlet {
    &__body {
      width: 100%;
    }
  }

  &_hidden {
    display: none;
  }

  &__scroll {
    &_v {
      @extend %v-scroll;
    }
  }

  &__formio {
    width: 100%;
    padding: 10px 0px 0;

    &_small {
      padding-top: 0;

      .formio-component-tabs .formio-component-tabs-wrapper {
        margin-top: 20px;
      }
    }

    &_mobile {
      dl {
        dd {
          width: calc(60% - 30px);
        }
      }
    }

    > div {
      > div {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .formio-component-columns {
      div[class*='formio-component-cancel' i],
      div[class*='formio-component-submit' i] {
        display: none;
      }

      .btn-block[type='submit'] {
        display: none !important;
      }
    }

    table {
      .ecos-form-buttons-container-manual {
        @include show_buttons;
      }
    }
  }

  &-settings {
    padding: 20px 20px 0;

    &__block {
      max-width: 434px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__subtitle {
      background: $color-gray-25;
      border-radius: $border-radius-standard;
      font-weight: $font-weight-semi-bold;
      font-size: $font-size-small;
      padding: 5px 10px;
    }

    &__msg {
      font-size: $font-size-small;
      justify-content: left;
      margin-top: 5px;
    }

    &__form-list {
      margin-top: 5px;

      &-dropdown {
        width: 100%;
      }

      &-toggle {
        display: inline-block;
        width: 100%;
      }

      &-btn.ecos-btn {
        text-align: left;
        padding-right: 15px;
        width: 100%;
        border: $border-width-standard solid $color-gray-6;
        background: $color-white;

        .ecos-btn__i {
          position: absolute;
          right: 15px;
          top: 12px;
        }
      }
    }

    &__checkbox-block {
      margin-top: 15px;
    }

    &__buttons {
      margin-top: 22px;

      & > :nth-child(even) {
        margin-left: 10px;
      }
    }
  }

  &__loader {
    min-height: 50px;
  }
}

.card {
  table.formio-data-grid {
    @include show_buttons;
  }

  .panel-default {
    @include show_buttons;
  }
}

*[class*='prop-custom-color-eastern-blue'] dt {
  color: #2187ab;
}
