@import '../../../styles/constants';

.ecos-doc-constructor {
  &__space {
    flex: auto;
  }

  &__dashlet-body {
    padding: 20px;
    position: relative;
    min-height: 50px;

    .dashlet__body-actions {
      padding: 0;
    }
  }

  &__loader {
    border-radius: $border-radius-extra-large;
  }

  &__description {
    &-title {
      font-weight: $font-weight-bold;
      font-size: $font-size-large;
      color: $text-color-dark;
      margin-bottom: 15px;
    }

    &-text {
      font-weight: $font-weight-semi-bold;
      font-size: $font-size-small;
      color: $text-color-dark;
      white-space: pre-wrap;
      margin-bottom: 20px;
    }
  }

  &__error {
    background: rgba($color-red-1, 0.1);
    color: $text-color-gray;
    padding: 7px;
    margin-top: 15px;
    font-weight: $font-weight-semi-bold;
    word-break: break-all;

    .icon {
      font-size: $font-size-standard;
      padding-right: 10px;
    }
  }

  &__label {
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-small;
    color: $text-color-dark;
    background: $color-gray-25;
    border-radius: $border-radius-standard;
    padding: 4px 10px;
    margin-bottom: 5px;
  }

  &__buttons {
    $buttons: &;

    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    &-left,
    &-right {
      display: flex;
      min-width: 200px;

      .ecos-btn:not(:last-child) {
        margin-right: 10px;
      }

      .ecos-btn:nth-child(n) {
        display: flex;
        flex: 1;
        justify-content: center;
      }
    }

    &_small {
      flex-wrap: wrap;

      #{$buttons} {
        &-left,
        &-right {
          flex: 100%;
        }

        &-right {
          margin-top: 15px;
        }
      }
    }
  }

  &-settings {
    &__block {
      max-width: 434px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &__title {
      margin-bottom: 20px;
    }

    &__subtitle {
      background: $color-gray-25;
      border-radius: $border-radius-standard;
      font-weight: $font-weight-semi-bold;
      font-size: $font-size-small;
      padding: 5px 10px;
      margin-bottom: 10px;
    }

    &__buttons {
      margin-top: 22px;

      & > :nth-child(even) {
        margin-left: 10px;
      }
    }
  }
}
