.card-details-top-panel {
  background: #f0f0f0;
  padding: 15px 15px 15px 40px;
  margin: 0;
  box-shadow: inset 15px -1px 10px -15px grey;
  border-bottom: 1px solid #ccc;
}

.back-to-list-button {
  color: #fff !important;
}
