$text-color-dark: #444444;
$text-color-gray: #767676;

$color-white: #ffffff;
$color-black: #000000;
$color-blue-dark: #4b75b7;
$color-blue-dark2: #2a446c;
$color-blue-light: #7396cd;
$color-blue-light2: #c6d6f0;
$color-blue-light3: #f8fbfd;
$color-gray: #e5e5e5;
$color-gray-1: #d8dee1;
$color-gray-2: #cdd3d6;
$color-gray-3: #d5dcde;
$color-gray-4: #e8edef;
$color-gray-5: #b7b7b7;
$color-gray-6: #d0d0d0;
$color-gray-7: #c4c4c4;
$color-gray-8: #d5d5d5;
$color-gray-9: #d4d4d4;
$color-gray-10: #f3f7f9;
$color-gray-11: #8a8a8a;
$color-gray-12: #757575;
$color-gray-dark: #141414;
$color-red-1: #ff5721;
$color-red-2: #ec4f1d;
$color-red-3: #ff5721;
$color-yellow: #fff6d9;
$color-yellow2: #ffedad;

$color-orange: #ff792d;

$color-yellow-1: #fff6d9;
$color-brown-1: #bdb497;
$color-brown-2: #e4d9b8;
$color-brown-3: #ada690;

$color-pink: #ffbcb3;
$color-green: #cbf8cd;
$color-green1: #00c308;

$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-normal: 400;

$font-size-extra-large: 20px;
$font-size-large: 18px;
$font-size-standard: 14px;
$font-size-small: 12px;
$font-size-extra-small: 11px;

$font-family-open-sans: 'Open Sans', sans-serif;
$font-family-citeck: 'citeck';
$font-family: $font-family-open-sans;

$border-width-standard: 2px;

$border-radius-small: 4px;
$border-radius-standard: 6px;
$border-radius-large: 8px;
$border-radius-extra-large: 12px;
$border-radius-biggest: 100px;

$box-shadow-default: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
$box-shadow-tooltip: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
$box-shadow-tooltip-arrow-top: -3px 3px 5px rgba(0, 0, 0, 0.2);

$page-background-color: $color-gray-4;

$form-input-height: 40px;

$select-option-line-height: 22px;

/* override bootstrap constants */
$primary: $color-blue-dark;
$secondary: $color-gray-4;

$citeck-icon-checkbox: '\e82b';
$citeck-icon-checkbox-checked: '\e82f';
$citeck-icon-checkbox-dark: '\e82c';

$citeck-icon-radio: '\e832';
$citeck-icon-radio-checked: '\e835';
$citeck-icon-radio-dark: '\e834';
$citeck-icon-left: '\51';
$citeck-icon-right: '\52';

$background-loader: rgba($color-gray-5, 0.3);

%v-scroll {
  position: absolute;
  width: 6px;
  right: 5px;
  bottom: 2px;
  top: 6px;
  border-radius: 3px;
  visibility: visible;
  z-index: 11;
}
