$text-color-dark: #444444;
$text-color-gray: #767676;

$color-white: #ffffff;
$color-black: #000000;
$color-blue-dark: #4b75b7;
$color-blue-dark2: #2a446c;
$color-blue-light: #7396cd;
$color-gray-1: #d8dee1;
$color-gray-2: #cdd3d6;
$color-gray-3: #d5dcde;
$color-gray-4: #e8edef;
$color-gray-5: #b7b7b7;
$color-gray-6: #d0d0d0;
$color-gray-7: #c4c4c4;
$color-gray-dark: #141414;
$color-red-1: #ff5721;
$color-red-2: #ec4f1d;
$color-yellow: #fff6d9;

$color-yellow-1: #fff6d9;
$color-brown-1: #bdb497;
$color-brown-2: #e4d9b8;
$color-brown-3: #ada690;

$font-weight-bold: 600;
$font-size-large: 18px;
$font-size-standard: 14px;
$font-size-small: 12px;
$font-family: Open Sans, serif;

$border-width-standard: 2px;

$border-radius-small: 4px;
$border-radius-standard: 6px;
$border-radius-large: 8px;
$border-radius-extra-large: 12px;

$box-shadow-default: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
$box-shadow-tooltip: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
$box-shadow-tooltip-arrow-top: -3px 3px 5px rgba(0, 0, 0, 0.2);

$page-background-color: $color-gray-4;

$form-input-height: 40px;

$select-option-line-height: 22px;

/* override bootstrap constants */
$primary: $color-blue-dark;
$secondary: $color-gray-4;

$font-family-open-sans: Open Sans, serif;
$font-family-citeck: 'citeck';

$citeck-icon-checkbox: '\e82b';
$citeck-icon-checkbox-checked: '\e82f';
$citeck-icon-checkbox-dark: '\e82c';
