@import './bootstrap.scss';
@import './fonts/citeck/css/citeck.css';

html {
  overflow: auto;
}

/* TODO */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(/share/res/js/aikau/1.0.63/alfresco/core/css/opensans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: url(/share/res/js/aikau/1.0.63/alfresco/core/css/opensansbold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url(/share/res/js/aikau/1.0.63/alfresco/core/css/opensanscondensed.woff) format('woff');
}

.page-content-root {
  height: 100%;
  min-height: 100%;
}

.app-container {
  height: 100%;
  min-height: 100%;
}
