@import '../../constants';

.dashlet {
  $root: &;
  min-height: auto !important;
  padding-top: 0 !important;

  &__header {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;

    &-wrapper {
      height: 48px;
      padding: 0 20px;
      border-bottom: 2px solid $color-gray-4;
      background-color: $color-white;
      border-radius: $border-radius-extra-large $border-radius-extra-large 0 0;
      margin-right: 0;
      margin-left: 0;

      &_rounded {
        border-radius: 12px;
      }
    }

    &-measurer {
      height: 100%;
    }

    &-collapser {
      font-size: 14px;
      padding-right: 10px;
    }

    &-actions {
      position: absolute;
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 10%, $color-white);
      border-top-right-radius: $border-radius-extra-large;
      border-bottom-right-radius: $border-radius-extra-large;

      .ecos-btn {
        margin-left: 16px;
        padding-left: 2px;
        padding-right: 2px;
      }
    }

    &:hover {
      #{$root} {
        &__btn {
          &_hidden {
            visibility: visible;
          }
        }

        &__header-actions {
          &:not(:empty) {
            background: $color-white;
          }

          &:before {
            $size: 30px;
            content: '';
            width: $size;
            position: absolute;
            left: -$size;
            height: 100%;
            background: linear-gradient(to right, rgba(255, 255, 255, 0.2), $color-white);
          }
        }
      }
    }
  }

  &__caption {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    text-decoration: none;

    @extend %ellipsis;

    background: inherit;
    color: $text-color-gray;
    font-family: $font-family;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    font-style: normal;
    line-height: 1;
    box-sizing: border-box;
    padding-right: 12px;
  }

  &__body {
    padding-bottom: 0;
    min-height: 20px;

    &_relative {
      position: relative;
    }

    &-actions {
      padding: 5px 15px 15px;
    }

    &-content {
      display: block;

      &_hidden {
        display: none;
      }
    }

    &_collapsed {
      display: none;
    }
  }

  &__btn {
    font-size: $font-size-standard;
    font-weight: $font-weight-bold;

    &_hidden {
      visibility: collapse;
    }

    &_move {
      font-size: 28px !important;

      &-wrapper {
        display: inline-block;
      }
    }

    &_add {
      font-size: 28px !important;

      &-wrapper {
        display: inline-block;
      }
    }
  }

  &__footer {
    padding: 2px 0 5px;
  }
}
