@import '../../constants';

.dashlet {
  min-height: auto !important;

  .dashlet__header {
    height: 100%;
    position: relative;
    padding: 12px 0;

    &:hover {
      .dashlet__btn_hidden {
        visibility: visible;
      }
    }
  }

  .dashlet__caption {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    text-decoration: none;

    background: inherit;
    color: $text-color-gray;
    font-family: $font-family;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    font-style: normal;
    line-height: 1;
    padding: 6px 12px;
    height: 34px;
    box-sizing: border-box;
  }

  .dashlet__body_relative {
    position: relative;
  }

  .dashlet__actions {
    position: absolute;
    top: 0;
    right: 0;
  }

  .dashlet__actions_header {
    padding: 12px 0;
  }

  .dashlet__btn {
    font-size: $font-size-standard;
    font-weight: $font-weight-bold;
  }

  .dashlet__btn_next {
    margin-right: 20px;
  }

  .dashlet__btn_hidden {
    visibility: hidden;
  }

  .dashlet__resizer {
    text-align: center;
    color: $color-gray-6;
    font-size: $font-size-extra-small;
  }
}
