@import '../../styles/constants';

.dashlet {
  $root: &;

  min-height: auto !important;
  padding-top: 0 !important;
  position: relative;

  &__header {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;

    &-wrapper {
      height: 48px;
      padding: 0 20px;
      border-bottom: 2px solid $color-gray-4;
      background-color: $color-white;
      border-radius: $border-radius-extra-large $border-radius-extra-large 0 0;
      margin-right: 0;
      margin-left: 0;

      &_rounded {
        border-bottom: none;
        border-radius: $border-radius-extra-large;
      }

      &_collapsed {
        border: none;
        border-radius: $border-radius-extra-large;
      }
    }

    &-measurer {
      height: 100%;
    }

    &-collapser {
      &.icon {
        font-size: 14px;
        background: $color-gray-4;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        margin-right: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    &-actions {
      position: absolute;
      right: 0;
      background: $color-white;
      border-top-right-radius: $border-radius-extra-large;
      border-bottom-right-radius: $border-radius-extra-large;

      & > :nth-child(n) {
        margin-left: 15px;
      }

      &:before {
        $size: 25px;
        content: '';
        width: $size;
        position: absolute;
        left: -$size;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), $color-white);
        margin: 0;
      }
    }
  }

  &__caption {
    display: inline-block;
    border: 1px solid transparent;
    background: inherit;
    color: $text-color-gray;
    font-family: $font-family;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    box-sizing: border-box;
    padding-right: 12px;
    @extend %ellipsis;
  }

  &__body {
    min-height: 20px;
    padding-bottom: 20px;

    &_relative {
      position: relative;
    }

    &_no-bottom-indent {
      #{$root}__body-content {
        padding-bottom: 0;
      }
    }

    &-actions {
      padding: 5px 15px 15px;
    }

    &-content {
      display: block;

      &_hidden {
        display: none;
      }
    }

    &_collapsed {
      display: none;
    }
  }

  &__btn {
    font-size: $font-size-standard;
    font-weight: $font-weight-bold;

    &_move {
      font-size: 28px !important;

      &-wrapper {
        display: inline-block;
      }
    }

    &_add {
      font-size: 28px !important;

      &-wrapper {
        display: inline-block;
      }
    }

    &_goto {
      .ecos-btn__text {
        font-style: normal;
        font-weight: bold;
        font-size: $font-size-standard;
      }
    }
  }

  &__footer {
    padding: 2px 0 5px;
  }

  &__error-boundary {
    margin: 0;
    box-shadow: none;
  }

  &_mobile {
    #{$root} {
      &__header-wrapper {
        padding: 0 15px;
      }

      &__caption {
        font-size: $font-size-standard;
      }
    }
  }
}

.header-action {
  &-tooltip {
    & &-inner {
      max-width: none;
    }
  }
}
