@import '../../../../styles/constants';

.textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 85px;
  min-height: 85px;
  padding: 11px 15px;
  background: $color-white;
  border: $border-width-standard solid $color-gray-6;
  border-radius: $border-radius-standard;
  font-family: $font-family;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-standard;
  color: $text-color-dark;
  outline: none;

  &::placeholder {
    color: $color-gray-5;
  }

  &__ml {
    &-image {
      margin: unset;
      right: 10px;
      top: 11px;
    }

    &-input {
      padding: 11px 30px 11px 15px;
    }
  }
}

textarea:not(:disabled).textarea:focus {
  border-color: $color-blue-dark;
}

textarea:not(:disabled).textarea:hover {
  border-color: $color-blue-light;
}
