@import '../../../styles/constants';

.ecos-base-tooltip {
  &_opaque {
    & .show {
      opacity: 1;
    }
  }

  & .show {
    opacity: 1;
  }

  &-inner {
    box-shadow: $box-shadow-tooltip;
    background: $color-white;
    color: $text-color-dark;
    border-radius: $border-radius-large;
    padding: 7px 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    font-family: $font-family;

    &_no-indents {
      padding: 0;
    }
  }

  &-arrow {
    $size: 12px;

    &:before {
      border: none !important;
      width: $size;
      height: $size;
      background: $color-white;
      transform: rotate(45deg);
    }
  }

  &-item {
    height: 40px;
    padding: 10px 15px;
    background: $color-white;
    cursor: pointer;
    text-align: left;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-standard;

    &:hover {
      background: $color-gray-4;
    }

    &:first-child {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }

    &:last-child {
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }

  .bs-tooltip {
    &-top {
      .arrow {
        &:before {
          top: -6px !important;
          box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.1);
        }
      }
    }

    &-bottom {
      .arrow {
        &:before {
          bottom: -6px;
          box-shadow: -2px -2px 3px 0 rgba(0, 0, 0, 0.1);
        }
      }
    }

    &-right {
      .arrow {
        &:before {
          right: -14px;
          box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.1);
        }
      }
    }

    &-left {
      .arrow {
        right: 6px;
      }
    }
  }
}
