@import '../../styles/constants';

.ecos-model-editor {
  &__page {
    height: 100%;
    position: relative;

    & .ecos-loader {
      z-index: 901;
    }

    & a.bjs-powered-by {
      bottom: 10px !important;
      right: 10px !important;
    }
  }

  & .bjs-breadcrumbs {
    top: 0;
    left: 0;
    padding: 10px 20px 5px;

    &-shown .djs-palette {
      top: 50px;
    }
  }
}

.ecos-model-editor-page {
  &__xml-viewer {
    overflow: auto;
    max-height: 85vh;
  }
}

.djs-selection-outline {
  stroke: #0086e6;
  fill: none;
  shape-rendering: geometricPrecision;
  stroke-width: 2px;
}
