@import '../../../../styles/constants';

.assoc-container {
  display: flex;
  min-width: 0;
}

.assoc-value {
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}

.assoc-extra-data {
  color: $color-gray-7;
}
