@import '../../../../styles/constants';

.formio-select-action {
  &__dropdown {
    $dropdown: &;

    &-toggle {
      .ecos-btn {
        height: 26px;
        padding: 2px 21px;
      }
    }

    &.show {
      #{$dropdown}-toggle {
        .ecos-btn {
          color: $color-white;
          background: $color-blue-dark;
          border-color: $color-blue-dark;
        }
      }
    }

    &-menu {
      li {
        padding: 5px 15px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
      }
    }

    &-control {
      &.ecos-btn {
        display: flex;
        justify-content: space-between;
        border: 2px solid $color-gray-6;
        box-sizing: border-box;
        border-radius: 6px;
        background: $color-white;
        padding: 5px 15px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        min-width: 100px;

        .ecos-btn {
          &__text,
          &__i {
            line-height: 100%;
          }
        }
      }
    }

    &_theme {
      &-primary {
        .ecos-btn {
          background: $color-blue-dark;
          border-color: $color-blue-dark;
          color: $color-white;

          &:active,
          &:focus,
          &:hover {
            border-color: $color-blue-light;
            background-color: $color-blue-light;
            color: $color-white;
          }
        }
      }

      &-default {
      }
    }

    &_size {
      &-normal {
      }

      &-big {
        .ecos-btn {
          height: 40px;
          padding: 10px 15px;
          font-weight: bold;
          font-size: 14px;
          line-height: 23px;
        }

        #{$dropdown}-menu {
          li {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }

  &__editor {
    &-group {
      & > .panel-body.card-body {
        padding-top: 0;
      }
    }
  }
}
