@import '../../../styles/constants';

.citeck-preview-list-content {
  $padding-card: 18px;

  &__list-well {
    min-height: 50px;
    border-top: 2px solid $color-gray-4;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: $padding-card;

    &_overflow_hidden {
      overflow: hidden;
    }
  }

  &__no-data {
    display: flex;
    flex-direction: column;

    gap: 32px;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    &-info {
      text-align: center;
      flex-direction: column;
      display: flex;

      &_head {
        line-height: 22px;
        font-size: 16px;
        color: $text-color-gray;
        font-weight: 600;
        margin: 0;
      }

      &_description {
        color: $color-gray-5;
        font-weight: 600;
        line-height: 22px;
        margin: 0;
        font-size: 12px;
      }
    }
  }

  &__card {
    display: inline-flex;
    align-items: center;
    gap: 18px;

    cursor: pointer;
    width: 100%;
    height: calc(116px + $padding-card);
    box-sizing: border-box;

    &:not(:last-child) {
      padding-bottom: $padding-card;
      border-bottom: 1px solid $color-gray-4;
    }

    &_img {
      display: flex;
      width: 220px;
      height: 116px;

      border-radius: 8px;
      object-fit: cover;
      object-position: 50% 50%;
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      max-height: 116px;
      height: 100%;
      width: 100%;

      &-container {
        display: flex;
        flex-direction: column;
        gap: 14px;
      }

      &_title {
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        color: $color-black;
        text-decoration: none;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &_description {
        font-size: 12px;
        font-weight: 400;
        margin: 0;

        color: $color-black;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-time {
        display: inline-flex;
        align-items: center;
        gap: 2px;

        > svg {
          fill: $color-gray-26;
        }

        path {
          stroke: $color-white;
          stroke-width: 0.71px;
        }
      }

      &-author {
        display: inline-flex;
        align-items: center;
        gap: 9px;

        &_text {
          font-size: 12px;
          font-weight: 400;
          color: $color-gray-26;

          &.link {
            text-decoration: none;
            color: var(--primary-color);
          }
        }

        &.person {
          gap: 3px;
        }
      }
    }
  }
}
