@import '../../../../constants';

.ico-button {
  display: inline-flex;
  align-items: center;
  color: $color-gray-5;
  background: $color-gray-4;
  padding: 0;

  &:hover {
    color: $color-blue-dark;
    background: $color-gray-4;
  }
}

.ico-button_blue {
  color: $color-white;
  background: $color-blue-dark;

  &:hover {
    color: $color-white;
    background: $color-blue-light;
  }
}

.ico-button_text {
  padding: 0 14px 0 7px;
}
