@import '../../../../constants';

.search {
  border-radius: $border-radius-standard;
  padding: 9px 12px 9px 10px;
  display: inline-block;
  background-color: $color-gray-3;
  width: calc(100% - 10px);

  label {
    margin: 0;
    padding: 0 !important;
    cursor: text;

    &:before {
      color: $color-gray-5;
      font-size: 20px;
      position: relative;
      top: 1px;
    }
  }

  input {
    outline: none !important;
    border: none !important;
    background-color: $color-gray-3;
    font-weight: bold !important;
    font-size: $font-size-standard !important;
    margin-left: 2px;
  }
}

@media (max-width: 992px) {
  .search {
    width: 100%;
  }
}
