.select-orgstruct__body {
  margin: 0;
  padding-top: 10px;
  height: 100%;
  overflow-x: auto;

  .slide-menu-list {
    max-height: max-content;
  }

  @media all and (-webkit-min-device-pixel-ratio: 0) {
    .slide-menu-list {
      position: initial;
    }
  }
}

.select-orgstruct__list-wrapper {
  padding-left: 0;
  padding-right: 15px;
}
