@import '../../../../styles/constants';

.ecos-well {
  background: $color-white;
  border-radius: $border-radius-extra-large;
}

.ecos-well_full {
  width: 100%;
  height: 100%;
}

.ecos-well_shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.1);
}

.ecos-well_border {
  border: 2px solid $color-gray;
}

.ecos-well_radius_6 {
  border-radius: $border-radius-standard;
}

.ecos-well_grey4 {
  background: $color-gray-4;
}
